In [4]:
import pandas as pd
import newspaper
from newspaper import Article

In [6]:
#Ladera Ranch
url1='http://www.nytimes.com/2013/02/20/us/shooting-spree-in-california.html'
Nyt_LR =pd.DataFrame()
a=Article(url1, language='en')
a.download()
a.parse()
Nyt_LR= Nyt_LR.append([[a.title, a.text]], ignore_index=True)
Nyt_LR.columns=['Title','Article']
Nyt_LR['Incident Name'] = 'Ladera Ranch'
Nyt_LR

,Title,Article,Incident Name
0,At Least 4 Dead in California Shootings,As the man drove through the parking lot to es...,Ladera Ranch

In [7]:
#University of Alabama Huntsville 
url2='http://www.nytimes.com/2010/02/14/us/14alabama.html'
url3='http://www.nytimes.com/2010/02/15/us/15alabama.html'
url4='http://www.nytimes.com/2010/02/17/us/17alabama.html'
urls=[url2,url3,url4]
Nyt_UAH =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_UAH= Nyt_UAH.append([[a.title, a.text]], ignore_index=True)
Nyt_UAH.columns=['Title','Article']
Nyt_UAH['Incident Name'] = 'University of Alabama Huntsville'
Nyt_UAH

,Title,Article,Incident Name
0,A Previous Shooting Death at the Hands of Alab...,"HUNTSVILLE, Ala.  The neurobiologist accused ...",University of Alabama Huntsville
1,A Previous Shooting Death at the Hands of Alab...,"HUNTSVILLE, Ala.  On Friday, this city of roc...",University of Alabama Huntsville
2,New Look at Killing of Amy Bishop’s Brother,As the district attorney’s office noted in its...,University of Alabama Huntsville

In [9]:
# #Hartford Beer Company
url5='http://www.nytimes.com/2010/08/04/nyregion/04shooting.html'
url6='http://www.nytimes.com/2010/08/04/nyregion/04gunman.html'
url7='http://www.nytimes.com/2010/08/05/nyregion/05shooting.html'
url8='http://www.nytimes.com/2010/08/05/nyregion/05vics.html'
urls=[url5, url6,url7,url8]
Nyt_HBC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HBC= Nyt_HBC.append([[a.title, a.text]], ignore_index=True)
Nyt_HBC.columns=['Title','Article']
Nyt_HBC['Incident Name'] = 'Hartford Beer Company'
Nyt_HBC

,Title,Article,Incident Name
0,9 Reported Dead in Workplace Shooting,"The rampage, the latest in a series of America...",Hartford Beer Company
1,Gunman in Mass Shooting Had Bumpy Life,"He was bankrupt by age 24, when, court filings...",Hartford Beer Company
2,Gunman Came Prepared to Connecticut Workplace ...,When Omar S. Thornton came to the Hartford Dis...,Hartford Beer Company
3,Remembering the Lives Lost in a Warehouse Rampage,"Mr. Pepin, who was 60, had driven beer trucks ...",Hartford Beer Company

In [10]:
#Gabby Giffords Shooting URLS
url9='http://www.nytimes.com/2011/01/09/us/politics/09giffords.html'
url10='http://www.nytimes.com/2011/01/09/us/politics/09profileweb.html'
url11='http://www.nytimes.com/2011/01/09/us/politics/09capital.html'
url12='http://www.nytimes.com/2011/01/09/us/09judge.html'
url13='http://www.nytimes.com/2011/01/09/us/politics/09shooter.html'
url14='http://www.nytimes.com/2011/01/09/us/politics/09bai.html'
url15='http://www.nytimes.com/2011/01/10/us/10giffords.html'
url16='https://thecaucus.blogs.nytimes.com/2011/01/09/live-blog-latest-developments-on-arizona-shooting/?_r=0'
url17='http://www.nytimes.com/2011/01/10/us/politics/10capital.html'
url18='http://www.nytimes.com/2011/01/10/us/10religious.html'
url19='http://www.nytimes.com/2011/01/10/us/10arizona.html'
url20='http://www.nytimes.com/2011/01/10/opinion/10mon1.html'
url21='http://www.nytimes.com/2011/01/10/us/10iht-letter10.html'
url22='https://learning.blogs.nytimes.com/2011/01/09/will-the-arizona-shootings-change-our-political-culture/'
url23='https://learning.blogs.nytimes.com/2011/01/09/ways-to-teach-about-the-arizona-shootings/'
url24='http://www.nytimes.com/2011/01/10/us/politics/10security.html'
url25='http://www.nytimes.com/2011/01/10/sports/10shoot.html'
url26='http://www.nytimes.com/2011/01/10/us/10judge.html'
url27='http://www.nytimes.com/2011/01/10/us/10reconstruct.html'
url28='http://www.nytimes.com/2011/01/10/us/politics/10politics.html'
url29='http://www.nytimes.com/2011/01/10/us/10staff.html'
url30='http://www.nytimes.com/2011/01/10/health/10medical.html'
url31='http://www.nytimes.com/2011/01/10/opinion/10collins.html'
url32='http://www.nytimes.com/2011/01/10/opinion/10krugman.html'
url33='http://www.nytimes.com/2011/01/10/opinion/l10arizona.html'
url34='https://query.nytimes.com/gst/fullpage.html?res=9404E2DD123DF933A25752C0A9679D8B63'
url35='https://thecaucus.blogs.nytimes.com/2011/01/10/the-early-word-processing-the-shooting/'
url36='http://www.nytimes.com/2011/01/11/us/11giffords.html'
url37='http://www.nytimes.com/2011/01/11/us/11radio.html'
url38='https://thecaucus.blogs.nytimes.com/2011/01/10/with-e-mail-palin-and-beck-discuss-the-arizona-shootings/'
url39='https://thecaucus.blogs.nytimes.com/2011/01/10/obama-avoiding-fingerpointing/'
url40='http://www.nytimes.com/2011/01/11/us/11guns.html'
url41='http://www.nytimes.com/2011/01/11/opinion/l11arizona.html'
url42='http://www.nytimes.com/2011/01/11/opinion/11sheehan.html'
url43='https://thecaucus.blogs.nytimes.com/2011/01/10/obama-to-go-to-tucson/'
url44='http://www.nytimes.com/2011/01/11/us/politics/11palin.html'
url45='http://www.nytimes.com/2011/01/11/us/11district.html'
url46='http://www.nytimes.com/2011/01/11/us/11security.html'
url47='http://www.nytimes.com/2011/01/11/us/11mental.html'
url48='http://www.nytimes.com/2011/01/11/opinion/11tue1.html'
url49='https://query.nytimes.com/gst/fullpage.html?res=9405E2DC1E3DF932A25752C0A9679D8B63'
url50='https://thecaucus.blogs.nytimes.com/2011/01/11/house-resolution-to-reaffirm-democratic-principles/'
url51='http://www.nytimes.com/2011/01/12/us/politics/12boehner.html'
url52='http://www.nytimes.com/2011/01/12/opinion/l12arizona.html'
url53='http://www.nytimes.com/2011/01/12/us/12legal.html'
url54='http://www.nytimes.com/2011/01/12/us/12brewer.html'
url55='http://www.nytimes.com/2011/01/12/opinion/12wed2.html'
url56='https://query.nytimes.com/gst/fullpage.html?res=9E0CE4DD143CF931A25752C0A9679D8B63'
url57='http://www.nytimes.com/2011/01/12/us/12security.html'
url58='https://thecaucus.blogs.nytimes.com/2011/01/12/the-early-word-assessing-and-regrouping/'
url59='https://thecaucus.blogs.nytimes.com/2011/01/12/after-arizona-how-to-return-to-politics-and-when/'
url60='http://www.nytimes.com/2011/01/13/opinion/13iht-edletters13.html'
url61='https://thecaucus.blogs.nytimes.com/2011/01/12/palin-calls-criticism-blood-libel/'
url62='https://thecaucus.blogs.nytimes.com/2011/01/12/boehner-shows-emotion-in-house-remarks-on-tucson-violence/'
url63='http://www.nytimes.com/2011/01/13/us/politics/13giffords.html'
url64='http://www.nytimes.com/2011/01/13/us/13guns.html'
url65='https://thecaucus.blogs.nytimes.com/2011/01/12/obama-to-visit-giffords-in-hospital/'
url66='https://thecaucus.blogs.nytimes.com/2011/01/12/obama-urges-civility-in-public-discourse/'
url67='https://thecaucus.blogs.nytimes.com/2011/01/12/amid-sadness-applause-and-cheers/'
url68='http://www.nytimes.com/2011/01/13/opinion/l13arizona.html'
url69='http://www.nytimes.com/2011/01/13/us/13rhee.html'
url70='http://www.nytimes.com/2011/01/13/us/13obama.html'
url71='http://www.nytimes.com/2011/01/13/us/13assess.html'
url72='https://thecaucus.blogs.nytimes.com/2011/01/12/pelosi-on-hand-when-giffords-opens-eyes/'
url73='http://www.nytimes.com/2011/01/13/opinion/13kristof.html'
url74='https://thecaucus.blogs.nytimes.com/2011/01/13/rep-gabrielle-giffordss-friends-narrate-the-moment-she-opened-her-eye/'
url75='https://parenting.blogs.nytimes.com/2011/01/13/what-to-tell-children-about-tucson/'
url76='http://www.nytimes.com/2011/01/14/us/14college.html'
url77='http://www.nytimes.com/2011/01/14/us/14funeral.html'
url78='http://www.nytimes.com/2011/01/14/us/14judge.html'
url79='http://www.nytimes.com/2011/01/14/opinion/l14arizona.html'
url80='http://www.nytimes.com/2011/01/14/us/14guns.html'
url81='http://www.nytimes.com/2011/01/14/us/14legal.html'
url82='http://www.nytimes.com/2011/01/14/us/14obama.html'
url83='http://www.nytimes.com/2011/01/14/us/14women.html'
url84='http://www.nytimes.com/2011/01/14/health/policy/14cong.html'
url85='https://learning.blogs.nytimes.com/2011/01/14/our-hearts-are-full-of-hope/'
url86='https://schott.blogs.nytimes.com/2011/01/14/lock-and-load-politics-blood-libel/'
url87='https://opinionator.blogs.nytimes.com/2011/01/14/theres-a-new-sheriff-in-politics/'
url88='http://www.nytimes.com/2011/01/15/business/15glock.html'
url89='http://www.nytimes.com/2011/01/15/us/15medical.html'
url90='http://www.nytimes.com/2011/01/15/us/15profile.html'
url91='http://www.nytimes.com/2011/01/15/us/15meet.html'

In [11]:
urls=[url9,url10,url11,url12,url13,url14,url15,url16,url17,url18,url19,url20,url21,url22,url23,url24,url25,url26, 
      url27,url28,url29, url30,url31,url32,url33, url34,url35,url36,url37,url38,url39,url40, url41,url42,url43,
      url44,url45, url46,url47, url48, url49,url50,url51,url52, url53,url54,url55,url56,url57,url58,url59,url60,
      url61,url62,url63,url64,url65,url66,url67,url68,url69,url70,url71,url72,url73,url74,url75,url76, url77
      , url78,url79,url80, url81,url82,url83,url84,url85,url86,url87,url88,url89,url90,url91]
Nyt_AZGG =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AZGG= Nyt_AZGG.append([[a.title, a.text]], ignore_index=True)
Nyt_AZGG.columns=['Title','Article']
Nyt_AZGG['Incident Name'] = 'Tucscon, Arizona - Gabby Giffords'
Nyt_AZGG

,Title,Article,Incident Name
0,Representative Gabrielle Giffords and 18 Shot ...,Photo\n\nTUCSON — Representative Gabrielle Gif...,"Tucscon, Arizona - Gabby Giffords"
1,"Giffords Noted as a Friend to Colleagues, Bike...",Photo\n\nWASHINGTON — Unusual is a relative te...,"Tucscon, Arizona - Gabby Giffords"
2,Bloodshed in Arizona Shooting Puts New Focus o...,WASHINGTON — The shooting of Representative Ga...,"Tucscon, Arizona - Gabby Giffords"
3,Judge John M. Roll Had Faced Death Threats,"John M. Roll, the chief federal judge in Arizo...","Tucscon, Arizona - Gabby Giffords"
4,Arizona Suspect’s Recent Acts Offer Hints of A...,WASHINGTON — Jared Lee Loughner had become inc...,"Tucscon, Arizona - Gabby Giffords"
5,"The End of an Era of Intolerance, or Just the ...","Consider the comments of Sharron Angle, the Te...","Tucscon, Arizona - Gabby Giffords"
6,Federal Charges in Giffords Shooting Cite Assa...,TUCSON — Prosecutors charged Jared L. Loughner...,"Tucscon, Arizona - Gabby Giffords"
7,Live Blog: Latest Developments on Arizona Shoo...,Manuel Balce Ceneta/Associated Press\n\nRepres...,"Tucscon, Arizona - Gabby Giffords"
8,"After Attack, Focus in Washington on Civility ...","“Public service is a high honor, but these tra...","Tucscon, Arizona - Gabby Giffords"
9,"At Giffords’s Synagogue, Prayers for Recovery",“My Jewish heritage has really instilled in me...,"Tucscon, Arizona - Gabby Giffords"
10,Arizona Shooting Casts a Harsh Light on the State,Other elected officials were pressed to explai...,"Tucscon, Arizona - Gabby Giffords"
11,Bloodshed and Invective in Arizona,She read the First Amendment on the House floo...,"Tucscon, Arizona - Gabby Giffords"
12,"America and Guns, Once More",Yet for all the heartfelt outrage engendered b...,"Tucscon, Arizona - Gabby Giffords"
13,Will the Arizona Shootings Change Our Politica...,Questions about issues in the news for student...,"Tucscon, Arizona - Gabby Giffords"
14,Ways to Teach About the Arizona Shootings,Manuel Balce Ceneta/Associated Press\n\nRepres...,"Tucscon, Arizona - Gabby Giffords"
15,"Security for Congress, After Arizona Shooting,...","“It obviously shook all of us,” said Represent...","Tucscon, Arizona - Gabby Giffords"
16,Arizona Shooting Touches Sports World,"PARADISE VALLEY, Ariz. — A moment of silence w...","Tucscon, Arizona - Gabby Giffords"
17,Judge John M. Roll Heard Controversial Cases,"Richard M. Martinez, a lawyer who had appeared...","Tucscon, Arizona - Gabby Giffords"
18,"A Single, Terrifying Moment Near Tucson",Ms. Giffords walked over to the sidewalk in fr...,"Tucscon, Arizona - Gabby Giffords"
19,"After Arizona Shooting, Political Bickering Go...",Some Democrats and liberal activists wondered ...,"Tucscon, Arizona - Gabby Giffords"
20,"Giffords Staff Is ‘a Family,’ Members Say",And they enjoyed one another’s company. The en...,"Tucscon, Arizona - Gabby Giffords"
21,"Brain Injury Treatment Is a Long, Uncertain Pr...",They said early signs made them cautiously opt...,"Tucscon, Arizona - Gabby Giffords"
22,A Right to Bear Glocks?,"Back then, the amazing thing about the inciden...","Tucscon, Arizona - Gabby Giffords"
23,The New York Times,And there’s not much question what has changed...,"Tucscon, Arizona - Gabby Giffords"
24,Arizona Shootings: Shock and Outrage,To the Editor:\n\nRe “Congresswoman Is Shot in...,"Tucscon, Arizona - Gabby Giffords"
25,On the Air And the Blogs,"''I must tell you, as a columnist who has cove...","Tucscon, Arizona - Gabby Giffords"
26,The Early Word: Processing the Shooting,"The latest on President Obama, Congress and ot...","Tucscon, Arizona - Gabby Giffords"
27,Jared L. Loughner Appears in Court,"PHOENIX — Jared L. Loughner , his head shaved ...","Tucscon, Arizona - Gabby Giffords"
28,Talk Radio Hosts in Arizona Reject Blame in Sh...,"Garret Lewis, host of ""The Morning Ritual"" on ...","Tucscon, Arizona - Gabby Giffords"
29,"With E-Mails, Palin and Beck Discuss the Arizo...",As the nation reacted to the shooting of Repre...,"Tucscon, Arizona - Gabby Giffords"
...,...,...,...
53,Boehner Shows Emotion in House Remarks on Tucs...,With tears falling and his throat choked with ...,"Tucscon, Arizona - Gabby Giffords"
54,Jared Loughner Stopped by Police Hours Before ...,"“The contact was very cordial,” said Jim Paxon...","Tucscon, Arizona - Gabby Giffords"
55,Arizona Gun Store Owners See Sales High-Capaci...,The F.B.I. said on Wednesday that federal back...,"Tucscon, Arizona - Gabby Giffords"
56,Obama to Visit Giffords in Hospital,Doug Mills/The New York Times\n\nPresident Oba...,"Tucscon, Arizona - Gabby Giffords"
57,Obama Urges 'Civility' in Public Discourse,TUCSON — President Obama called Wednesday for ...,"Tucscon, Arizona - Gabby Giffords"
58,"Amid Sadness, Applause and Cheers",The memorial service for the victims of the Ar...,"Tucscon, Arizona - Gabby Giffords"
59,"After Tucson, Emotions Run High",To the Editor:\n\nAs a lifelong Democrat in Pi...,"Tucscon, Arizona - Gabby Giffords"
60,"In Tucson, Dr. Peter Rhee Is the Face of Recovery","And while Dr. Rhee has charmed reporters, othe...","Tucscon, Arizona - Gabby Giffords"
61,"In Tucson, Obama Urges Americans to New Era of...",He warned against “simple explanations” and sp...,"Tucscon, Arizona - Gabby Giffords"
62,Deeper Presidential Challenge for Obama,“For the truth is that none of us can know exa...,"Tucscon, Arizona - Gabby Giffords"
63,Pelosi on Hand When Giffords Opens Eyes,"TUCSON— Nancy Pelosi, the House minority leade...","Tucscon, Arizona - Gabby Giffords"
64,Why Not Regulate Guns as Seriously as Toys?,(The only country I’ve seen that is more armed...,"Tucscon, Arizona - Gabby Giffords"
65,Gabrielle Giffords's Friends Narrate the Momen...,Just a few hours after attending a memorial se...,"Tucscon, Arizona - Gabby Giffords"
66,What to Tell Children About Tucson,“This little girl was just like you. She was s...,"Tucscon, Arizona - Gabby Giffords"
67,Shooting Exposes Limits on Colleges Facing Tro...,No record of Mr. Loughner’s seeking or receivi...,"Tucscon, Arizona - Gabby Giffords"
68,"Christina Green, Tucson Shooting Victim, Is Bu...","Oro Valley, a Tucson suburb, is considering na...","Tucscon, Arizona - Gabby Giffords"
69,Loughner Draws Federal Judge With Death-Penalt...,"Judge Burns, 56, has precisely that reputation...","Tucscon, Arizona - Gabby Giffords"
70,Obama in Tucson: A Call for Healing,President Obama at the memorial service gave a...,"Tucscon, Arizona - Gabby Giffords"
71,"New Gun Control Limits Are Improbable, Lawmake...","An even bigger event in Las Vegas, the Shot Sh...","Tucscon, Arizona - Gabby Giffords"
72,Obama’s Tucson Speech May Have Complicated Pro...,Did President Obama’s speech at the memorial s...,"Tucscon, Arizona - Gabby Giffords"
73,Girl’s Death in Tucson Hits Home for Obama,"On Wednesday evening, he made no explicit ment...","Tucscon, Arizona - Gabby Giffords"
74,Giffords’s Fellow Female Lawmakers Show Support,"“We met on our first day,” said Ms. Gillibrand...","Tucscon, Arizona - Gabby Giffords"
75,Health Care Repeal Vote Scheduled by House Rep...,WASHINGTON — Republicans are carefully trying ...,"Tucscon, Arizona - Gabby Giffords"
76,'Our Hearts Are Full of Hope',Pool photo by Kevork Djansezian\n\n6 Q’s About...,"Tucscon, Arizona - Gabby Giffords"
77,Lock and Load Politics & Blood Libel,A style of politics marked by violent rhetoric...,"Tucscon, Arizona - Gabby Giffords"
78,There's a New Sheriff in Politics,The Thread is an in-depth look at how major ne...,"Tucscon, Arizona - Gabby Giffords"
79,Link to Tucson Shooting Is Unwanted Spotlight ...,"The guns are popular with law enforcement, con...","Tucscon, Arizona - Gabby Giffords"
80,"After Tucson Shooting, a Race to Save Lives",He realized instantly that there was no time t...,"Tucscon, Arizona - Gabby Giffords"
81,"For Giffords, Tucson Roots Shaped Views","And Ms. Giffords, very deliberately, is a Tucs...","Tucscon, Arizona - Gabby Giffords"
82,Democrats Quickly Resume ‘Congress on Your Cor...,"At each event, there appeared to be at least o...","Tucscon, Arizona - Gabby Giffords"

In [12]:
#Youngstown State University
url92='http://www.nytimes.com/2011/02/07/us/07frat.html'
Nyt_YSU =pd.DataFrame() 
a=Article(url92, language='en')
a.download()
a.parse()
Nyt_YSU= Nyt_YSU.append([[a.title, a.text]], ignore_index=True)
Nyt_YSU.columns=['Title','Article']
Nyt_YSU['Incident Name'] = 'Youngstown State University'
Nyt_YSU

,Title,Article,Incident Name
0,"Shootings at Youngstown State Kill One, Injure 11","YOUNGSTOWN, Ohio (AP) — Two men have been arre...",Youngstown State University

In [13]:
#Southern Union State Community College
url93='http://www.nytimes.com/2011/04/07/us/07alabama.html'
Nyt_SUSCC =pd.DataFrame() 
a=Article(url93, language='en')
a.download()
a.parse()
Nyt_SUSCC= Nyt_SUSCC.append([[a.title, a.text]], ignore_index=True)
Nyt_SUSCC.columns=['Title','Article']
Nyt_SUSCC['Incident Name'] = 'Southern Union State Community College'
Nyt_SUSCC

,Title,Article,Incident Name
0,Shooting at College in Alabama Kills a Woman a...,ATLANTA — A woman was killed and three other p...,Southern Union State Community College

In [14]:
#Grand Rapids
url94='http://www.nytimes.com/2011/07/08/us/08gunman.html'
Nyt_GR =pd.DataFrame() 
a=Article(url94, language='en')
a.download()
a.parse()
Nyt_GR= Nyt_GR.append([[a.title, a.text]], ignore_index=True)
Nyt_GR.columns=['Title','Article']
Nyt_GR['Incident Name'] = 'Grand Rapids, MI'
Nyt_GR

,Title,Article,Incident Name
0,Michigan Man Suspected in 7 Deaths Kills Himse...,"DETROIT — A hostage standoff in Grand Rapids, ...","Grand Rapids, MI"

In [16]:
#Nevada IHOP
url95='http://www.nytimes.com/2011/09/08/us/08shooting.html'
url96='http://www.nytimes.com/2011/09/07/us/07shooting.html'
urls=[url95,url96]
Nyt_NIHOP =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_NIHOP= Nyt_NIHOP.append([[a.title, a.text]], ignore_index=True)
Nyt_NIHOP.columns=['Title','Article']
Nyt_NIHOP['Incident Name'] = 'Nevada IHOP'
Nyt_NIHOP

,Title,Article,Incident Name
0,Nevada Shootings Seen as Random,The question of who Mr. Sencion was and what e...,Nevada IHOP
1,"5 Die, Including Gunman, in Nevada IHOP Attack",Photo\n\nLOS ANGELES — A man armed with an AK-...,Nevada IHOP

In [18]:
#Salon Meritage
url97='http://www.nytimes.com/2011/10/13/us/8-killed-in-shooting-at-hair-salon-in-seal-beach-california.html'
url98='http://www.nytimes.com/2011/10/14/us/suspect-in-california-salon-killings-was-in-bitter-custody-battle-victims-kin-say.html'
urls=[url97,url98]
Nyt_SS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SS= Nyt_SS.append([[a.title, a.text]], ignore_index=True)
Nyt_SS.columns=['Title','Article']
Nyt_SS['Incident Name'] = 'Salon Meritage'
Nyt_SS

,Title,Article,Incident Name
0,8 Killed in Shooting at Hair Salon in Seal Bea...,"SEAL BEACH, Calif. — A gunman burst into a bea...",Salon Meritage
1,Suspect in California Salon Killings Was in Bi...,LOS ANGELES — The gunman who killed eight peop...,Salon Meritage

In [20]:
#Su Jung Health Sauna
url99='http://www.nytimes.com/2012/02/23/us/georgia-five-dead-in-shooting-at-spa.html'
Nyt_SJHS =pd.DataFrame() 
a=Article(url99, language='en')
a.download()
a.parse()
Nyt_SJHS= Nyt_SJHS.append([[a.title, a.text]], ignore_index=True)
Nyt_SJHS.columns=['Title','Article']
Nyt_SJHS['Incident Name'] = 'Su Jung Health Sauna'
Nyt_SJHS

,Title,Article,Incident Name
0,Georgia: Five Dead in Shooting at Spa,The police are investigating a shooting at a K...,Su Jung Health Sauna

In [21]:
#Chardon High School
url100='https://thelede.blogs.nytimes.com/2012/02/27/ohio-high-school-shooting-leaves-1-student-dead-and-4-wounded/'
url101='https://parenting.blogs.nytimes.com/2012/02/27/school-shooting-is-another-opening-to-talk-about-guns/'
url102='http://www.nytimes.com/2012/02/28/us/fatal-school-shooting-in-chardon-ohio-suspect-is-arrested.html'
url103='https://thelede.blogs.nytimes.com/2012/02/28/few-clues-on-motive-in-school-shooting/'
url104='http://www.nytimes.com/2012/02/29/us/ohio-school-shooting-suspect-confesses-prosecutor-says.html'
url105='http://www.nytimes.com/2012/03/01/us/school-shooting-suspect-was-accused-of-earlier-assault.html'
url106='https://parenting.blogs.nytimes.com/2012/03/01/quandary-considered-talking-with-teenagers-and-their-parents-about-guns/'
url107='http://www.nytimes.com/2012/03/02/us/teenager-charged-as-juvenile-in-ohio-school-shooting.html'
url108='http://www.nytimes.com/2012/03/02/us/origin-of-gun-in-ohio-school-shooting-described.html'
urls=[url100,url101,url102,url103,url104,url105,url106,url107,url108]
Nyt_CHS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CHS= Nyt_CHS.append([[a.title, a.text]], ignore_index=True)
Nyt_CHS.columns=['Title','Article']
Nyt_CHS['Incident Name'] = 'Chardon High School'
Nyt_CHS

,Title,Article,Incident Name
0,Ohio High School Shooting Leaves 1 Student Dea...,A 16-year-old student died of gunshot wounds a...,Chardon High School
1,Shootings in Ohio School Provide Another Openi...,"A gunman, believed to be a student, opened fir...",Chardon High School
2,Shooting at Chardon High School Kills One and ...,A teenager opened fire on a group of students ...,Chardon High School
3,Few Clues on Motive in School Shooting,From Facebook\n\nIt was just after 7:30 a.m. o...,Chardon High School
4,"Ohio School Shooting Suspect Confesses, Prosec...","CHARDON, Ohio — The fatal shooting rampage in ...",Chardon High School
5,School Shooting Suspect Was Accused of Earlier...,"CHARDON, Ohio — The teenager held in a shootin...",Chardon High School
6,Quandary Considered: Talking With Teenagers (a...,"Last Friday, I wrote about a quandary that I t...",Chardon High School
7,Teenager Is Charged in Killing of 3 at a School,"As a profile of Mr. Lane emerged, the mystery ...",Chardon High School
8,Origin of Gun in Ohio School Shooting Described,When the 17-year-old T. J. Lane opened fire on...,Chardon High School

In [22]:
#Oikos Shooting
url109='http://www.nytimes.com/2012/04/04/us/oikos-university-gunman-lined-up-victims.html'
url110='http://www.nytimes.com/2012/04/03/us/fatal-shootings-at-oikos-university-in-oakland-calif.html'
url111='https://thelede.blogs.nytimes.com/2012/04/02/suspect-in-oakland-school-shooting-is-former-nursing-student-at-oikos-university/'
urls=[url109,url110,url111]
Nyt_OU =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_OU= Nyt_OU.append([[a.title, a.text]], ignore_index=True)
Nyt_OU.columns=['Title','Article']
Nyt_OU['Incident Name'] = 'Chardon High School'
Nyt_OU

,Title,Article,Incident Name
0,Troubled History Emerges for Suspect in Oaklan...,"A block from the school, at the office of The ...",Chardon High School
1,Fatal Shootings at Oikos University in Oakland...,Mr. Goh had been a nursing student at the coll...,Chardon High School
2,Suspect in Oakland School Shooting Is Former N...,Possible Suspect in custody.No imminent public...,Chardon High School

In [23]:
#North Tulsa
url112='http://www.nytimes.com/2012/04/08/us/police-seek-suspect-in-tulsa-shootings.html'
url113='http://www.nytimes.com/2012/04/09/us/tulsa-police-arrest-2-men-in-shootings.html'
url114='http://www.nytimes.com/2012/04/10/us/tulsa-murder-suspects-have-bail-set-at-9-1-million.html'
url115='http://www.nytimes.com/2012/04/12/us/tulsa-shootings-came-in-struggling-neighborhoods.html'
url116='https://query.nytimes.com/gst/fullpage.html?res=9503EFDD1231F931A25757C0A9649D8B63'
url117='http://www.nytimes.com/2012/04/14/us/3-tulsa-strangers-familiar-to-struggle-met-same-fate.html'
urls=[url112,url113,url114,url115,url116,url117]
Nyt_NT =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_NT= Nyt_NT.append([[a.title, a.text]], ignore_index=True)
Nyt_NT.columns=['Title','Article']
Nyt_NT['Incident Name'] = 'North Tulsa, Oklahoma'
Nyt_NT

,Title,Article,Incident Name
0,Police Seek Suspect in Tulsa Shootings,"The authorities in Tulsa, Okla., were scrambli...","North Tulsa, Oklahoma"
1,Tulsa Police Arrest 2 Men in Shootings,“You can look at the facts of the case and cer...,"North Tulsa, Oklahoma"
2,Two Suspects Confessed in Tulsa Shootings,"At a brief court hearing Monday morning, Speci...","North Tulsa, Oklahoma"
3,Tulsa Shootings Came in Struggling Neighborhoods,“I’m not a bit surprised at any of the violenc...,"North Tulsa, Oklahoma"
4,Death Comes to the Vacant Lots of North Tulsa,"TULSA, Okla. -- In the minutes after a shootin...","North Tulsa, Oklahoma"
5,One Fate in Tulsa for 3 Strangers Familiar Wit...,The shootings unfolded the day after Mr. Engla...,"North Tulsa, Oklahoma"

In [25]:
#Seattle Cafe
url118='http://www.nytimes.com/2012/05/31/us/washington-at-least-3-die-in-seattle-cafe-shooting.html'
url119='http://www.nytimes.com/2012/06/01/us/washington-man-in-cafe-called-a-hero-during-shooting.html'
urls=[url118,url119]
Nyt_SC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SC= Nyt_SC.append([[a.title, a.text]], ignore_index=True)
Nyt_SC.columns=['Title','Article']
Nyt_SC['Incident Name'] = 'Cafe in Seattle'
Nyt_SC

,Title,Article,Incident Name
0,Washington: At Least 3 Die in Seattle Cafe Sho...,A gunman killed five people in Seattle on Wedn...,Cafe in Seattle
1,Washington: Man In Cafe Called a Hero During S...,Someone inside the Seattle cafe where a gunman...,Cafe in Seattle

In [26]:
#Auburn Univeristy
url120='http://www.nytimes.com/2012/06/11/us/report-of-a-multiple-shooting-near-auburn-university.html'
url121='http://www.nytimes.com/2012/06/12/us/alabama-two-arrested-in-auburn-triple-killing.html'
url122='http://www.nytimes.com/2012/06/13/us/alabama-slaying-suspect-got-away-police-say.html'
urls=[url120,url121,url122]
Nyt_AU =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AU= Nyt_AU.append([[a.title, a.text]], ignore_index=True)
Nyt_AU.columns=['Title','Article']
Nyt_AU['Incident Name'] = 'University Heights Apartments in Auburn'
Nyt_AU

,Title,Article,Incident Name
0,"Auburn Shooting Kills Three, Including Two Ex-...",Chief Tommy Dawson of the City of Auburn Polic...,University Heights Apartments in Auburn
1,Alabama: House Swarmed in Search for Suspect,Law officers on Monday surrounded and shot tea...,University Heights Apartments in Auburn
2,Alabama: Suspect In Killings Surrenders,A defense lawyer said Tuesday night that a man...,University Heights Apartments in Auburn

In [27]:
#Aurora URLS
url124='http://www.nytimes.com/2012/07/21/us/shooting-at-colorado-theater-showing-batman-movie.html'
url125='https://thelede.blogs.nytimes.com/2012/07/20/live-updates-on-movie-theater-shooting-in-colorado/'
url126='https://thecaucus.blogs.nytimes.com/2012/07/20/obama-cuts-short-florida-campaign-trip/'
url127='https://mediadecoder.blogs.nytimes.com/2012/07/20/a-statement-from-warner-bros-on-colorado-shooting/'
url128='https://learning.blogs.nytimes.com/2012/07/20/addressing-the-colorado-shootings-with-students/'
url129='http://www.nytimes.com/2012/07/21/opinion/the-massacre-in-a-movie-theater.html'
url130='https://cityroom.blogs.nytimes.com/2012/07/20/police-dept-is-sending-officers-to-dark-knight-theaters/'
url131='https://takingnote.blogs.nytimes.com/2012/07/20/the-shooting-in-aurora/'
url132='https://thecaucus.blogs.nytimes.com/2012/07/20/after-killings-at-theater-campaigns-suspend-their-ads-in-colorado/'
url133='https://mediadecoder.blogs.nytimes.com/2012/07/20/warner-brothers-assesses-potential-responses-on-dark-knight/'
url134='https://thecaucus.blogs.nytimes.com/2012/07/20/romney-reacts-to-colorado-shooting/'
url135='https://mediadecoder.blogs.nytimes.com/2012/07/20/a-misstep-on-gma-as-networks-rush-to-cover-shooting/'
url136='https://parenting.blogs.nytimes.com/2012/07/20/aurora-and-a-mothers-memories-of-columbine/'
url137='http://www.nytimes.com/2012/07/21/opinion/weve-seen-this-movie-before.html'
url138='https://bits.blogs.nytimes.com/2012/07/20/online-colorado-suspect-seems-a-phantom/'
url139='http://www.nytimes.com/2012/07/21/sports/olympics/swimming-star-missy-franklin-shaken-by-colorado-shooting.html'
url140='http://www.nytimes.com/2012/07/21/opinion/the-shootings-in-colorado.html'
url141='http://www.nytimes.com/2012/07/21/opinion/guns-and-the-slog.html'
url142='http://www.nytimes.com/2012/07/21/us/colorado-gun-laws-remain-lax-despite-changes-after-columbine.html'
url143='http://www.nytimes.com/2012/07/21/opinion/blow-mourning-and-mulling.html'
url144='http://www.nytimes.com/2012/07/22/us/colorado-movie-theater-shooting-james-holmes.html'
url145='https://query.nytimes.com/gst/fullpage.html?res=9505EFDE123EF932A15754C0A9649D8B63'
url146='http://www.nytimes.com/2012/07/22/us/colorado-movie-theater-shooting-james-holmes.html'
url147='http://www.nytimes.com/2012/07/22/opinion/sunday/douthat-the-way-we-fear-now.html'
url148='https://thelede.blogs.nytimes.com/2012/07/21/the-risky-business-of-the-bomb-squad/'
url149='http://www.nytimes.com/2012/07/22/opinion/sunday/the-unknown-why-in-the-aurora-killings.html'
url150='http://www.nytimes.com/2012/07/22/us/in-darkened-movie-theater-heroes-in-life-and-in-death.html'
url151='http://www.nytimes.com/2012/07/22/us/pain-and-puzzles-in-wake-of-deadly-colorado-attack.html'
url152='http://www.nytimes.com/2012/07/22/us/aurora-an-all-america-city-left-to-search-for-answers.html'
url153='http://www.nytimes.com/2012/07/23/movies/dark-knight-leads-at-box-office-in-the-shadow-of-massacre.html'
url154='http://www.nytimes.com/2012/07/23/us/colorado-movie-theater-shooting-james-holmes.html'
url155='https://thelede.blogs.nytimes.com/2012/07/22/remembering-the-victims-of-colorado-shooting/'
url156='https://thelede.blogs.nytimes.com/2012/07/22/aurora-residents-return-home-after-evacuation/'
url157='http://www.nytimes.com/2012/07/23/us/online-ammunition-sales-highlighted-by-aurora-shootings.html'
url158='https://mediadecoder.blogs.nytimes.com/2012/07/23/in-aurora-a-sadly-familiar-template-kicks-in-for-the-news-media/'
url159='http://www.nytimes.com/2012/07/24/us/suspect-in-colorado-shooting-in-court.html'
url160='https://bits.blogs.nytimes.com/2012/07/23/reddit-aurora-shooter-aff/'
url161='https://takingnote.blogs.nytimes.com/2012/07/23/a-gun-for-every-person/'
url162='https://www.nytimes.com/roomfordebate/2012/07/23/where-is-the-leadership-on-gun-control/'
url163='http://www.nytimes.com/2012/07/24/us/politics/president-criticizes-romney-over-foreign-policy.html'
url164='http://www.nytimes.com/2012/07/24/opinion/brooks-more-treatment-programs.html'
url165='http://www.nytimes.com/2012/07/24/opinion/after-aurora-grief-and-questions.html'
url166='http://www.nytimes.com/2012/07/24/opinion/6000-bullets-in-colorado.html'
url167='http://www.nytimes.com/2012/07/24/us/politics/obama-and-romney-dont-heed-new-call-for-gun-laws.html'
url168='http://www.nytimes.com/2012/07/24/us/aurora-gunmans-lethal-arsenal.html'
url169='https://cityroom.blogs.nytimes.com/2012/07/24/for-mayor-the-time-to-discuss-gun-control-is-now/'
url170='http://www.nytimes.com/2012/07/25/us/other-states-and-other-times-would-have-posed-obstacles-for-gunman.html'
url171='https://thelede.blogs.nytimes.com/2012/07/24/christian-bale-visits-shooting-victims-in-colorado/'
url172='http://www.nytimes.com/2012/07/25/opinion/a-way-out-of-the-gun-madness.html'
url173='http://www.nytimes.com/2012/07/25/world/americas/in-mexico-a-restrictive-approach-to-gun-laws.html'
url174='https://campaignstops.blogs.nytimes.com/2012/07/24/the-gun-rights-tilt/'
url175='https://opinionator.blogs.nytimes.com/2012/07/25/what-we-talk-about-when-we-talk-about-guns/'
url176='https://artsbeat.blogs.nytimes.com/2012/07/25/dc-postpones-release-of-batman-comic/'
url177='https://thecaucus.blogs.nytimes.com/2012/07/25/romney-says-country-doesnt-need-new-gun-laws/'
url178='http://www.nytimes.com/2012/07/26/opinion/an-arms-race-we-cant-win.html'
url179='http://www.nytimes.com/2012/07/26/opinion/kristof-safe-from-fire-but-not-gone.html'
url180='http://www.nytimes.com/2012/07/26/opinion/armed-but-not-so-safe.html'
url181='https://artsbeat.blogs.nytimes.com/2012/07/26/discoverys-american-guns-after-aurora/'
url182='https://douthat.blogs.nytimes.com/2012/07/26/on-gun-control-and-prohibition/'
url183='https://thecaucus.blogs.nytimes.com/2012/07/26/gun-control-group-calls-on-presidential-candidates-to-outline-plans/'
url184='https://mediadecoder.blogs.nytimes.com/2012/07/26/stern-talk-with-reporter-over-mistaken-tea-party-link-to-shooting-abc-says/'
url185='http://www.nytimes.com/2012/07/27/opinion/candidates-cower-on-gun-control.html'
url186='http://www.nytimes.com/2012/07/27/opinion/dont-blame-the-movie-for-the-aurora-shootings.html'
url187='http://www.nytimes.com/2012/07/27/us/colorado-judge-bans-release-of-school-records-in-shooting.html'
url188='https://query.nytimes.com/gst/fullpage.html?res=9801E6DB1231F934A15754C0A9649D8B63'
url189='https://query.nytimes.com/gst/fullpage.html?res=9C0CE2DF1031F934A15754C0A9649D8B63'
url190='https://query.nytimes.com/gst/fullpage.html?res=9E00E4DB1331F934A15754C0A9649D8B63'

In [28]:
#Movie Theater in Aurora 
urls=[url124,url125,url126,url127,url128,url129,url130,url131,url132,url132,url133,url134,url135,url136,url137,url138,
      url139,url140,url141,url142,url143,url144,url145,url146,url147,url148,url149,url150,url151,url152,url153,url154,
      url155,url156,url57,url158,url159,url160,url161,url162,url163,url163,url164,url165,url166,url167,url168,url169,
      url170,url171,url172,url173,url174,url175,url176,url177,url178,url179,url180,url181,url182,url183,url184,url185,url186,
      url187,url188,url189,url190]
Nyt_Aurora =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Aurora= Nyt_Aurora.append([[a.title, a.text]], ignore_index=True)
Nyt_Aurora.columns=['Title','Article']
Nyt_Aurora['Incident Name'] = 'Movie Theater in Aurora'
Nyt_Aurora

,Title,Article,Incident Name
0,12 Are Killed at Showing of Batman Movie in Co...,"Photo\n\nAURORA, Colo. — Anticipation built in...",Movie Theater in Aurora
1,Live Updates on Movie Theater Shooting in Colo...,The Lede is a blog that remixes national and i...,Movie Theater in Aurora
2,Obama Cuts Short Florida Campaign Trip,"Video\n\n\n\nFORT MYERS, Fla. – President Obam...",Movie Theater in Aurora
3,Warner Bros. 'Saddened' After Colorado Shooting,"The movie studio Warner Bros., which is owned ...",Movie Theater in Aurora
4,Addressing the Colorado Shootings With Students,"Karl Gehring/The Denver Post, via Associated P...",Movie Theater in Aurora
5,The Massacre in a Movie Theater,To the Editor:\n\nWhat is it going to take to ...,Movie Theater in Aurora
6,Police Dept. Is Sending Officers to 'Dark Knig...,Justin Lane/European Pressphoto Agency\n\nIn t...,Movie Theater in Aurora
7,Aurora Dark Knight Shooting--Will There Be a G...,With details about the shooting in Aurora stil...,Movie Theater in Aurora
8,"After Killings at Theater, Campaigns Suspend T...",Tragedy collided with an unpleasant side of el...,Movie Theater in Aurora
9,"After Killings at Theater, Campaigns Suspend T...",Tragedy collided with an unpleasant side of el...,Movie Theater in Aurora
10,Hollywood Struggles for Proper Response to Sho...,Mario Tama/Getty Images\n\nLOS ANGELES — Holly...,Movie Theater in Aurora
11,"Romney Reacts to Aurora, Colo. Shooting","Video\n\nBOW, N.H. — Mitt Romney dispensed wit...",Movie Theater in Aurora
12,A Misstep on 'GMA' as Networks Rush to Cover S...,An ABC News correspondent on Friday falsely li...,Movie Theater in Aurora
13,Aurora and a Mother's Memories of Columbine,This is the fear every parent knows.\n\nWe’ll ...,Movie Theater in Aurora
14,Aurora Shooting: We’ve Seen This Before,"JAMES HOLMES, who opened fire before the midni...",Movie Theater in Aurora
15,"Online, Colorado Suspect Seems a Phantom",Reporters spent hours Friday scouring the Inte...,Movie Theater in Aurora
16,Swimming Star Missy Franklin Shaken by Shooting,"The site of a shooting massacre in Aurora, Col...",Movie Theater in Aurora
17,The Shootings in Colorado,Both men struck absolutely the right note. The...,Movie Theater in Aurora
18,The New York Times,"The gun control advocates, who used to fight f...",Movie Theater in Aurora
19,"Colorado Gun Laws Remain Lax, Despite Changes ...",People in Colorado are allowed to carry firear...,Movie Theater in Aurora
20,Mourning and Mulling,But there are also questions for us as a count...,Movie Theater in Aurora
21,Police at Home of Colorado Suspect Disarm Majo...,"The first step, he said, was to figure out how...",Movie Theater in Aurora
22,Hollywood Struggles for Proper Response to Sho...,10:13 p.m. | Updated LOS ANGELES -- Hollywood ...,Movie Theater in Aurora
23,Police at Home of Colorado Suspect Disarm Majo...,"The first step, he said, was to figure out how...",Movie Theater in Aurora
24,The Way We Fear Now,THE villains in Christopher Nolan’s Batman tri...,Movie Theater in Aurora
25,The Risky Business of the Bomb Squad,"When the authorities in Aurora, Colo., defeate...",Movie Theater in Aurora
26,The Unknown Why in the Aurora Killings,Audiences are never surprised by the journal o...,Movie Theater in Aurora
27,"In Darkened Movie Theater, Heroes in Life and ...","Photo\n\nAURORA, Colo. — Movie screen superher...",Movie Theater in Aurora
28,"Before and After Massacre, Puzzles Line Suspec...","Photo\n\nAURORA, Colo. — Killing a dozen peopl...",Movie Theater in Aurora
29,"Aurora, an ‘All-America City,’ Is Left to Sear...","Photo\n\nAURORA, Colo. — Throughout this growi...",Movie Theater in Aurora
...,...,...,...
39,Where Is the Leadership on Gun Control?,Introduction\n\nKevork Djansezian/Getty Images...,Movie Theater in Aurora
40,President Criticizes Romney Over Foreign Policy,“One of the few foreign policy specifics Romne...,Movie Theater in Aurora
41,President Criticizes Romney Over Foreign Policy,“One of the few foreign policy specifics Romne...,Movie Theater in Aurora
42,More Treatment Programs,It’s probably a mistake to think that we can e...,Movie Theater in Aurora
43,"After Aurora, Grief and Questions","The suspect in Aurora, Colo., had no criminal ...",Movie Theater in Aurora
44,"6,000 Bullets in Colorado","With the ease of downloading a song, anyone wi...",Movie Theater in Aurora
45,Obama and Romney Don’t Heed New Call for Gun Laws,“I still believe that the Second Amendment is ...,Movie Theater in Aurora
46,Aurora Gunman’s Lethal Arsenal,"With its hereditary links to the M-16, the sig...",Movie Theater in Aurora
47,"The Day: For Bloomberg, the Time to Discuss Gu...","On some issues, Mayor Michael R. Bloomberg inv...",Movie Theater in Aurora
48,"Other States, and Other Times, Would Have Pose...",Few issues — the Israeli-Palestinian conflict ...,Movie Theater in Aurora
49,Christian Bale Visits Shooting Victims in Colo...,Joshua Lott/Getty Images\n\nThe actor Christia...,Movie Theater in Aurora
50,A Way Out of the Gun Stalemate,"THE national conversation about guns, since Ja...",Movie Theater in Aurora
51,"In Mexico, a Restrictive Approach to Gun Laws",Americans look at Mexico and see a country of ...,Movie Theater in Aurora
52,The Gun Rights Tilt,Joshua Lott/Getty Images\n\nPresident Obama ha...,Movie Theater in Aurora
53,What We Talk About When We Talk About Guns,"In The Conversation, David Brooks and Gail Col...",Movie Theater in Aurora
54,DC Postpones Release of 'Batman' Comic,DC Entertainment has asked comic book retailer...,Movie Theater in Aurora
55,Romney Says Country Doesn't Need New Gun Laws,"Rejecting new gun control laws, Mitt Romney sa...",Movie Theater in Aurora
56,An Arms Race We Can’t Win,"In 1999, I was a student at Chatfield High Sch...",Movie Theater in Aurora
57,"Safe From Fire, but Not Guns","Since 1959, Gallup has asked Americans if they...",Movie Theater in Aurora
58,Armed but Not So Safe,Photo\n\nChicago\n\nAS the families of James E...,Movie Theater in Aurora
59,"Discovery's 'American Guns,' After Aurora",After a disclaimer — “The guns in this program...,Movie Theater in Aurora
60,On Gun Control and Prohibition,Given how markedly public opinion has turned a...,Movie Theater in Aurora
61,Gun Control Group Calls On Presidential Candid...,The president of the Brady Campaign to Prevent...,Movie Theater in Aurora
62,Stern Talk With Reporter Over Mistaken Tea Par...,"Ida Mae Astute/ABC News, via Bloomberg News\n\...",Movie Theater in Aurora
63,Candidates Cower on Gun Control,At a moment when the country needs resolve and...,Movie Theater in Aurora
64,Don’t Blame the Movie for the Aurora Shootings,"THE stories emerging from the Aurora, Colo., c...",Movie Theater in Aurora
65,Colorado: Judge Bans Release of School Records...,A judge has barred the University of Colorado ...,Movie Theater in Aurora
66,Paper Says It Erred With Comic's 'Gunshots',An editor at The Chicago Tribune said that he ...,Movie Theater in Aurora
67,"AFTER RAMPAGE, A QUIET TIME TO SAY GOODBYE","PHOTOS: Above, Amanda Medek arriving at funera...",Movie Theater in Aurora
68,Call to Both Campaigns For Plan on Gun Violence,The president of the Brady Campaign to Prevent...,Movie Theater in Aurora

In [29]:
#Sikh Temple URLS
url191='http://www.nytimes.com/2012/08/06/us/shooting-reported-at-temple-in-wisconsin.html'
url192='https://thecaucus.blogs.nytimes.com/2012/08/05/candidates-react-to-shooting-at-sikh-temple/'
url193='http://www.nytimes.com/2012/06/13/us/alabama-slaying-suspect-got-away-police-say.html'
url194='https://thelede.blogs.nytimes.com/2012/08/05/reports-from-the-scene-of-shooting-at-sikh-temple/'
url195='https://india.blogs.nytimes.com/2012/08/06/gunman-kills-6-in-wisconsin-before-dying-in-shootout/'
url196='https://india.blogs.nytimes.com/2012/08/06/for-many-sikhs-wisconsin-attack-has-troubling-echoes/'
url197='http://www.nytimes.com/2012/08/07/us/army-veteran-identified-as-suspect-in-wisconsin-shooting.html'
url198='https://thelede.blogs.nytimes.com/2012/08/07/myspace-page-gunman-belonged-to-white-supremacist-band/'
url199='http://www.nytimes.com/2012/08/07/us/army-veteran-identified-as-suspect-in-wisconsin-shooting.html?hp&pagewanted=all'
url200='http://www.nytimes.com/2012/08/07/opinion/the-shooting-at-the-sikh-temple.html'
url201='http://www.nytimes.com/2012/08/07/us/sikhs-mourn-victims-and-lament-post-9-11-targeting.html'
url202='https://india.blogs.nytimes.com/2012/08/07/wisconsin-killer-was-fueled-by-hate-driven-music/'
url203='https://india.blogs.nytimes.com/2012/08/07/being-sikh-in-america/'
url204='https://takingnote.blogs.nytimes.com/2012/08/07/gun-control-of-paranoia-and-bromides/'
url205='http://www.nytimes.com/2012/08/08/opinion/a-sikh-temples-proud-history.html'
url206='http://www.nytimes.com/2012/08/08/us/hatecore-music-is-called-white-supremacist-recruiting-tool.html'
url207='https://thecaucus.blogs.nytimes.com/2012/08/07/in-slip-romney-refers-to-sheik-temple-tragedy/'
url208='http://www.nytimes.com/2012/08/08/us/politics/polls-find-opposition-to-stricter-gun-laws.html'
url209='https://india.blogs.nytimes.com/2012/08/08/wisconsin-shooting-exposes-the-angry-music-of-hatecore/'
url210='https://india.blogs.nytimes.com/2012/08/08/mourning-victims-sikhs-lament-being-mistaken-for-radicals-or-militants/'
url211='https://india.blogs.nytimes.com/2012/08/08/recollections-of-the-first-gurdwara-in-the-u-s/'
url212='http://www.nytimes.com/2012/08/09/opinion/the-sikh-temple-killers-music-of-hate.html'
url213='http://www.nytimes.com/2012/08/09/us/wisconsin-gunman-killed-himself-authorities-say.html'
url214='http://www.nytimes.com/2012/08/09/world/asia/victim-in-sikh-temple-shooting-endured-separation-to-support-family.html'
url215='https://cityroom.blogs.nytimes.com/2012/08/08/mourning-wisconsin-shooting-victims-in-new-york/'
url216='https://query.nytimes.com/gst/fullpage.html?res=9C0DE5DC1738F93AA3575BC0A9649D8B63'
url217='https://india.blogs.nytimes.com/2012/08/09/for-victim-in-sikh-temple-shooting-a-life-of-separation-2/'
url218='http://www.nytimes.com/2012/08/10/us/wisconsin-community-promotes-tolerance-after-shooting.html'
url219='https://thelede.blogs.nytimes.com/2012/08/10/memorial-service-for-victims-of-the-sikh-temple-shooting/'
url220='http://www.nytimes.com/2012/08/11/us/if-the-sikh-temple-had-been-a-muslim-mosque-on-religion.html'
url221='https://thelede.blogs.nytimes.com/2012/08/10/after-attacks-and-threats-tennessee-mosque-opens/'
url222='http://www.nytimes.com/2012/08/11/us/in-wisconsin-service-held-for-6-killed-at-sikh-temple.html'
url223='http://www.nytimes.com/2012/08/11/us/islamic-center-of-murfreesboro-opens-in-tennessee.html'

In [30]:
#Sikh Temple
urls=[url191,url192,url193,url194,url195,url196,url197,url198,url199,url200,url201,url202,url203,url204,url205,url206,
     url207,url208,url209,url210,url211,url212,url213,url214,url215,url216,url217,url218,url219,url220,url221,
     url222,url223]
Nyt_Sikh =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Sikh= Nyt_Sikh.append([[a.title, a.text]], ignore_index=True)
Nyt_Sikh.columns=['Title','Article']
Nyt_Sikh['Incident Name'] = 'Sikh Temple in Wisconsin'
Nyt_Sikh

,Title,Article,Incident Name
0,Gunman Kills 6 at Sikh Temple in Wisconsin,The police did not release any details about t...,Sikh Temple in Wisconsin
1,Candidates React to Shooting at Sikh Temple,President Obama and Mitt Romney released state...,Sikh Temple in Wisconsin
2,Alabama: Suspect In Killings Surrenders,A defense lawyer said Tuesday night that a man...,Sikh Temple in Wisconsin
3,Scenes From Shooting at Sikh Temple in Wisconsin,"Last Updated, 9:30 p.m. A gunman walked into a...",Sikh Temple in Wisconsin
4,Gunman Kills 6 in Wisconsin Gurdwara,"Mike De Sisti/Milwaukee Journal-Sentinel, via ...",Sikh Temple in Wisconsin
5,"For Many Sikhs, Wisconsin Attack Has Troubling...",Jeffrey Phelps/Associated Press\n\nFor Sikhs i...,Sikh Temple in Wisconsin
6,Wade Page Is Suspected Sikh Temple Killer,"Oak Creek’s police chief, John Edwards, speaki...",Sikh Temple in Wisconsin
7,"After Shooting, Searching for Clues in the Mus...","As a teenager, Wade M. Page, the 40-year-old g...",Sikh Temple in Wisconsin
8,Wade Page Is Suspected Sikh Temple Killer,"Oak Creek’s police chief, John Edwards, speaki...",Sikh Temple in Wisconsin
9,The Shooting at the Sikh Temple,To the Editor:\n\nRe “Gunman Kills 6 at a Sikh...,Sikh Temple in Wisconsin
10,Sikhs Mourn Victims and Lament Post-9/11 Targe...,"Sikhism, a monotheistic faith that emerged fro...",Sikh Temple in Wisconsin
11,Wisconsin Killer Was Fueled by Hate-Driven Music,"“His music, Wade M. Page once said, was about ...",Sikh Temple in Wisconsin
12,Being Sikh in America,"Scott Olson/Getty Images\n\nOn Sunday, my wife...",Sikh Temple in Wisconsin
13,NRA Letter Warns of Gun Confiscation; Obama Ur...,"Mark Welsh/Daily Herald, via Associated Press\...",Sikh Temple in Wisconsin
14,A Sikh Temple’s Century,THE Stockton Gurdwara in California — the firs...,Sikh Temple in Wisconsin
15,Hatecore Music Is Called White Supremacist Rec...,"Even in Mr. Page’s below-the-radar world, thos...",Sikh Temple in Wisconsin
16,"In Slip, Romney Refers to 'Sheik Temple' Tragedy",DES MOINES — In extending condolences for the ...,Sikh Temple in Wisconsin
17,Polls Find Opposition to Stricter Gun Laws,"Most voters in Colorado, Virginia and Wisconsi...",Sikh Temple in Wisconsin
18,Wisconsin Attack Exposes the Angry Music of 'H...,Nathan Weber for The New York Times\n\nThe sho...,Sikh Temple in Wisconsin
19,"Mourning Victims, Sikhs Lament Being Mistaken ...",Ozier Muhammad/The New York Times\n\nSikhs acr...,Sikh Temple in Wisconsin
20,Recollections of the First Gurdwara in the U.S.,“The Stockton Gurdwara in California — the fir...,Sikh Temple in Wisconsin
21,The Sikh Temple Killer’s Music of Hate,THE shooting rampage on Sunday that killed six...,Sikh Temple in Wisconsin
22,Clues Are Sought Into Last Weeks of Sikh Templ...,"In October 2011, Mr. Page became an official m...",Sikh Temple in Wisconsin
23,Victim in Sikh Temple Shooting Endured Separat...,"In the Wisconsin shooting attack, Mr. Singh, 4...",Sikh Temple in Wisconsin
24,"Mourning Wisconsin Shooting Victims, in New York",New York Today is still going strong! Though n...,Sikh Temple in Wisconsin
25,Shooting Victim's Life Was One of Separation,NEW DELHI -- When his chance came to go to Ame...,Sikh Temple in Wisconsin
26,"For Victim in Sikh Temple Shooting, a Life of ...","“When his chance came to go to America, Ranjit...",Sikh Temple in Wisconsin
27,Wisconsin Community Promotes Tolerance After S...,Mayor Stephen Scaffidi said he planned to invi...,Sikh Temple in Wisconsin
28,Memorial Service for Victims of the Sikh Templ...,Nathan Weber for The New York Times\n\nLast Up...,Sikh Temple in Wisconsin
29,If the Sikh Temple Had Been a Mosque — On Reli...,Yet the mistaken-identity narrative carries wi...,Sikh Temple in Wisconsin
30,"After Attacks and Threats, Tennessee Mosque Opens",Stephen Lance Dennee/Associated Press\n\nAfter...,Sikh Temple in Wisconsin
31,"In Wisconsin, Service Held for 6 Killed at Sik...",People of a range of races and faiths wore col...,Sikh Temple in Wisconsin
32,Islamic Center of Murfreesboro Opens in Tenn.,"For two years, the opposition in this city of ...",Sikh Temple in Wisconsin

In [31]:
#Accent Signage Systems in Minneapolis
url224='http://www.nytimes.com/2012/09/29/us/minnesota-shooting-toll-rises-to-six.html'
url225='http://www.nytimes.com/2012/09/28/us/several-killed-in-shooting-at-accent-signage-systems-in-minneapolis.html'
urls=[url224,url225]
Nyt_Accent =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Accent= Nyt_Accent.append([[a.title, a.text]], ignore_index=True)
Nyt_Accent.columns=['Title','Article']
Nyt_Accent['Incident Name'] = 'Accent Signage Systems in Minneapolis'
Nyt_Accent

,Title,Article,Incident Name
0,Minnesota: Shooting Toll Rises to Six,The death toll from an attack at a sign compan...,Accent Signage Systems in Minneapolis
1,Several Killed in Workplace Shooting in Minnea...,MINNEAPOLIS (AP) — A workplace shooting result...,Accent Signage Systems in Minneapolis

In [40]:
#Spot NightClub
url=['No Articles'] # Appalachian School oF Law
Nyt_Spot =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Spot= Nyt_Spot.append([[a.title, a.text]], ignore_index=True)
Nyt_Spot.columns=['Title','Article']
Nyt_Spot['title'] = 'NaN'
Nyt_Spot['article'] = 'NaN'
Nyt_Spot['Incident Name'] = 'The Spot Nightclub'
Nyt_Spot.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Spot.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Spot

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1074: Tag nav invalid

  Title Article       Incident Name
0   NaN     NaN  The Spot Nightclub

In [42]:
#Azana Spa in Brookfield
url226='http://www.nytimes.com/2012/10/22/us/three-killed-in-shooting-at-spa-in-brookfield-wis.html'
Nyt_ASB =pd.DataFrame() 
a=Article(url99, language='en')
a.download()
a.parse()
Nyt_ASB= Nyt_ASB.append([[a.title, a.text]], ignore_index=True)
Nyt_ASB.columns=['Title','Article']
Nyt_ASB['Incident Name'] = 'Azana Spa in Brookfield'
Nyt_ASB

,Title,Article,Incident Name
0,Georgia: Five Dead in Shooting at Spa,The police are investigating a shooting at a K...,Azana Spa in Brookfield

In [43]:
#Clackamas Town Center
url227='https://thelede.blogs.nytimes.com/2012/12/12/video-and-tweets-from-inside-oregon-shopping-mall/'
url228='http://www.nytimes.com/2012/12/12/us/fatal-mall-shooting-in-portland.html'
url229='http://www.nytimes.com/2012/12/12/us/fatal-shooting-in-oregon-shopping-mall.html'
url230='http://www.nytimes.com/2012/12/13/us/oregon-mall-closed-after-deadly-shooting.html'
urls=[url227,url228,url229,url230]
Nyt_Cla =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Cla= Nyt_Cla.append([[a.title, a.text]], ignore_index=True)
Nyt_Cla.columns=['Title','Article']
Nyt_Cla['Incident Name'] = 'Clackamas Town Center'
Nyt_Cla

,Title,Article,Incident Name
0,Facebook Profile of Gunman in Oregon Shopping ...,"Photo\n\nAbout 10,000 people were inside the C...",Clackamas Town Center
1,Fatal Mall Shooting in Portland,The police said at least one person had been k...,Clackamas Town Center
2,"3 Dead, Including Gunman, in Shooting at Orego...",A gunman opened fire in a shopping mall in sub...,Clackamas Town Center
3,"In Oregon Mall Shooting, a Lower Toll, Includi...",Some of the details that emerged on Wednesday ...,Clackamas Town Center

In [52]:
#Sandyhook
url231='http://www.nytimes.com/2012/12/15/nyregion/shooting-reported-at-connecticut-elementary-school.html'
url232='https://thelede.blogs.nytimes.com/2012/12/14/shooting-reported-at-connecticut-elementary-school/'
url233='https://parenting.blogs.nytimes.com/2012/12/14/should-students-be-trained-for-school-shootings/'
url234='https://learning.blogs.nytimes.com/2012/12/14/resources-talking-and-teaching-about-the-shooting-in-newtown-connecticut/'
url235='http://www.nytimes.com/2012/12/15/nyregion/sandy-hook-shooting-forces-re-examination-of-tough-questions.html'
url236='http://www.nytimes.com/2012/12/15/nyregion/sandy-hook-principal-and-school-psychologist-went-the-extra-mile.html'
url237='http://www.nytimes.com/2012/12/15/nyregion/adam-lanza-an-enigma-who-is-now-identified-as-a-mass-killer.html'
url238='http://www.nytimes.com/2012/12/15/opinion/collins-looking-for-america.html'
url239='http://www.nytimes.com/2012/12/15/nyregion/witnesses-recall-deadly-shooting-sandy-hook-newtown-connecticut.html'
url240='http://www.nytimes.com/2012/12/15/nyregion/after-newtown-shooting-running-and-hoping-to-find-a-child-safe.html'
url241='https://thelede.blogs.nytimes.com/2012/12/15/live-updates-on-school-shooting/'
url242='http://www.nytimes.com/2012/12/16/nyregion/gunman-kills-20-children-at-school-in-connecticut-28-dead-in-all.html'
url243='http://www.nytimes.com/2012/12/16/nyregion/for-newtown-horror-halts-a-season-of-celebration.html'
url244='http://www.nytimes.com/2012/12/16/nyregion/friends-of-gunmans-mother-his-first-victim-recall-her-as-generous.html'
url245='http://www.nytimes.com/2012/12/17/nyregion/sandy-hook-school-shooting-in-newtown.html'
url246='https://thelede.blogs.nytimes.com/2012/12/16/sunday-coverage-of-newtown-school-shooting/'
url247='https://opinionator.blogs.nytimes.com/2012/12/16/the-freedom-of-an-armed-society/'
url248='http://www.nytimes.com/2012/12/17/us/politics/bloomberg-urges-obama-to-take-action-on-gun-control.html'
url249='https://learning.blogs.nytimes.com/2012/12/16/the-newtown-school-shootings-a-place-to-post-your-thoughts/'
url250='http://www.nytimes.com/2012/12/17/nyregion/in-newtown-conn-a-stiff-resistance-to-gun-restrictions.html'
url251='http://www.nytimes.com/2012/12/17/business/media/newtown-has-mixed-feelings-about-the-media-horde-in-its-midst.html'
url252='http://www.nytimes.com/2012/12/17/us/in-wake-of-newtown-shooting-grappling-with-what-to-tell-the-children.html'
url253='https://learning.blogs.nytimes.com/2012/12/17/finding-our-student-and-teacher-resources-on-the-newtown-conn-shootings/'
url254='https://mediadecoder.blogs.nytimes.com/2012/12/17/the-breakfast-meeting-reporting-from-newtown-and-a-puppet-provocateur/'
url255='https://thelede.blogs.nytimes.com/2012/12/17/dec-17-updates-on-connecticut-shooting-aftermath/'
url256='http://www.nytimes.com/2012/12/18/nyregion/security-increased-at-connecticut-schools-as-investigation-into-shooting-continues.html'
url257='https://opinionator.blogs.nytimes.com/2012/12/17/guns-and-the-decline-of-the-young-man/'
url258='https://atwar.blogs.nytimes.com/2012/12/17/veterans-feel-anxiety-and-relief-after-school-shooting/'
url259='https://www.nytimes.com/roomfordebate/2012/12/17/is-the-gun-lobby-invincible/'
url260='https://publiceditor.blogs.nytimes.com/2012/12/17/errors-in-newtown-shootings-coverage-reflect-growing-pressures/'
url261='http://www.nytimes.com/2012/12/18/health/for-young-survivors-odds-of-emotional-recovery-are-high.html'
url262='https://thecaucus.blogs.nytimes.com/2012/12/17/poll-conducted-after-shooting-shows-more-support-for-stricter-gun-laws/'
url263='http://www.nytimes.com/2012/12/18/opinion/a-national-commission.html'
url264='http://www.nytimes.com/2012/12/18/opinion/after-newtown-mourning-outrage-and-questions.html'
url265='http://www.nytimes.com/2012/12/18/opinion/nocera-lets-get-madd-about-guns.html'
url266='http://www.nytimes.com/2012/12/18/nyregion/amid-the-whiz-of-bullets-seeking-comfort-in-song.html'
url266='https://dealbook.nytimes.com/2012/12/17/wall-street-invested-in-firearms-is-unlikely-to-push-for-reform/'
url267='http://www.nytimes.com/2012/12/18/nyregion/two-funerals-for-two-6-year-old-boys-in-newtown.html'
url268='https://learning.blogs.nytimes.com/2012/12/18/how-should-we-prevent-future-mass-shootings/'
url269='https://dealbook.nytimes.com/2012/12/18/cerberus-to-sell-gunmaker-freedom-group/'
url270='https://thecaucus.blogs.nytimes.com/2012/12/18/a-rising-chorus-but-not-quite-consensus-on-guns/'
url271='https://cityroom.blogs.nytimes.com/2012/12/18/a-growing-list-of-gun-victims-and-the-mayors-demand-for-a-plan/'
url272='https://thelede.blogs.nytimes.com/2012/12/18/latest-updates-on-connecticut-shooting-aftermath/'
url273='https://publiceditor.blogs.nytimes.com/2012/12/18/adam-lanza-aspergers-and-a-misleading-connection-with-violence/'
url274='https://mediadecoder.blogs.nytimes.com/2012/12/18/gun-focused-reality-tv-shows-get-new-scrutiny-after-newtown-killings/'
url275='http://www.nytimes.com/2012/12/19/nyregion/lanzas-mother-shot-4-times-in-head-medical-examiner-says.html'
url276='http://www.nytimes.com/2012/12/19/opinion/taking-steps-to-avert-mass-shootings.html'
url277='http://www.nytimes.com/2012/12/19/us/states-leaders-proposing-steps-to-control-guns.html'
url278='http://www.nytimes.com/2012/12/19/nyregion/more-funerals-held-in-newtown-after-massacre.html'
url279='http://www.nytimes.com/2012/12/19/nyregion/for-malloy-connecticut-shootings-provided-heart-wrenching-test.html'
url280='http://www.nytimes.com/2012/12/19/education/after-newtown-shootings-schools-consider-armed-security-officers.html'
url281='https://thelede.blogs.nytimes.com/2012/12/19/updates-on-connecticut-shooting-aftermath/'
url282='https://mediadecoder.blogs.nytimes.com/2012/12/19/piers-morgan-shows-disgust-while-interviewing-gun-owners-advocate/'
url283='http://www.nytimes.com/2012/12/20/us/politics/obama-to-give-congress-plan-on-gun-control-within-weeks.html'
url284='https://dealbook.nytimes.com/2012/12/19/morgan-stanley-reaches-out-after-sandy-hook-massacre/'
url285='http://www.nytimes.com/2012/12/20/nyregion/remembering-the-passion-of-victoria-soto-a-sandy-hook-teacher.html'
url286='http://www.nytimes.com/2012/12/20/opinion/kristof-looking-for-lessons-in-newtown.html'
url287='https://thelede.blogs.nytimes.com/2012/12/19/president-cites-other-shootings-since-newtown/'
url288='https://thelede.blogs.nytimes.com/2012/12/20/updates-on-connecticut-shooting-aftermath-2/'
url289='https://takingnote.blogs.nytimes.com/2012/12/20/preposterous-explanations-for-newtown/'
url290='https://dotearth.blogs.nytimes.com/2012/12/20/empathy-as-a-path-to-climate-and-energy-progress/'
url291='http://www.nytimes.com/2012/12/21/nyregion/newtown-conn-school-aide-is-remembered-for-her-devotion.html'
url292='http://www.nytimes.com/2012/12/21/nyregion/police-dept-to-use-internet-to-try-to-stop-shootings.html'
url293='https://opinionator.blogs.nytimes.com/2012/12/20/preparing-students-for-a-newtown-like-disaster/'
url294='http://www.nytimes.com/2012/12/21/nyregion/memorial-held-for-nancy-lanza-mother-of-newtown-gunman.html'
url295='http://www.nytimes.com/2012/12/21/nyregion/cuomo-says-he-will-outline-gun-measures-next-month.html'

In [53]:
urls=[url231, url232,url233,url234,url235,url236,url237,url238,url239,url240,url241,url242,url243,url244,url245,url246,
     url247,url248,url249,url250,url251,url252,url253,url254,url255,url256,url257,url258,url259,url260,url261,url262,
     url263,url264,url265,url266,url267,url268,url269,url270,url271,url272,url273,url274,url275,url276,url277,url278,
     url279,url280,url281,url282,url283,url284,url285,url286,url287,url288,url289,url290,url291,url292,url293,url294,
     url295]
Nyt_Sandy =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Sandy= Nyt_Sandy.append([[a.title, a.text]], ignore_index=True)
Nyt_Sandy.columns=['Title','Article']
Nyt_Sandy['Incident Name'] = 'Sandy Hook Elementary School'
Nyt_Sandy

,Title,Article,Incident Name
0,Gunman Kills 20 Schoolchildren in Connecticut,Photo\n\nA 20-year-old man wearing combat gear...,Sandy Hook Elementary School
1,Dec. 14 Updates on Connecticut School Shooting,The Lede is a blog that remixes national and i...,Sandy Hook Elementary School
2,Should Students Be Trained for School Shootings?,The images of the children leaving their eleme...,Sandy Hook Elementary School
3,Resources: Talking and Teaching About the Shoo...,"Photo\n\nUpdated | Dec. 19, 2012\n\nOn Dec. 14...",Sandy Hook Elementary School
4,Sandy Hook Forces Re-examination of Tough Ques...,Research on mass school killings shows that th...,Sandy Hook Elementary School
5,Two Newtown Educators Went the Extra Mile for ...,"And Ms. Hochsprung, 47, was mourned as a creat...",Sandy Hook Elementary School
6,"Adam Lanza, an Enigma Who Is Now Identified as...","Matt Baier, now a junior at the University of ...",Sandy Hook Elementary School
7,Looking for America,"It was, of course, a tragedy. Yet tragedies ha...",Sandy Hook Elementary School
8,Witnesses Recall a Nightmare That Took Shape,"Laura Feinstein, a reading support teacher, re...",Sandy Hook Elementary School
9,"After Newtown Shooting, Running and Hoping to ...","“We wanted the big backyard,” Ms. Urbina said....",Sandy Hook Elementary School
10,Dec. 15 Updates on Connecticut Shooting Aftermath,The Lede is a blog that remixes national and i...,Sandy Hook Elementary School
11,Children in Connecticut School Were All Shot M...,The White House announced that President Obama...,Sandy Hook Elementary School
12,"For Close-Knit Town, Horror Halts a Season of ...","Birgitta Cole, in a white ski jacket, walked h...",Sandy Hook Elementary School
13,"Adam Lanza’s Mother Was a Gun Enthusiast, Frie...","At some point, he had dropped out of the Newto...",Sandy Hook Elementary School
14,Gunman Took Big Supply of Ammunition to School...,The gunman responsible for the shootings at a ...,Sandy Hook Elementary School
15,Dec. 16 Updates on Connecticut Shooting Aftermath,Photo\n\nTwo days after the massacre at a scho...,Sandy Hook Elementary School
16,The Freedom of an Armed Society,The Stone is a forum for contemporary philosop...,Sandy Hook Elementary School
17,"‘These Tragedies Must End,’ Obama Says","NEWTOWN, Conn. — President Obama vowed on Sund...",Sandy Hook Elementary School
18,The Newtown School Shootings: A Place to Post ...,Photo\n\nQuestions about issues in the news fo...,Sandy Hook Elementary School
19,"In Newtown, Conn., a Stiff Resistance to Gun R...","People in the rural, hilly areas around Newtow...",Sandy Hook Elementary School
20,Newtown has Mixed Feelings About the Media Hor...,"NEWTOWN, Conn. — Wolf Blitzer understands that...",Sandy Hook Elementary School
21,"In Wake of Newtown Shooting, Grappling With Wh...","In Boston, the public schools have asked the p...",Sandy Hook Elementary School
22,Finding Our Student and Teacher Resources on t...,Photo\n\nOver the weekend we published two pos...,Sandy Hook Elementary School
23,"The Breakfast Meeting: Reporting From Newtown,...",The Breakfast Meeting What’s making news in me...,Sandy Hook Elementary School
24,Dec. 17 Updates on Connecticut Shooting Aftermath,The Lede is a blog that remixes national and i...,Sandy Hook Elementary School
25,Investigators Say Computer in Connecticut Gunm...,Investigators have not managed to retrieve any...,Sandy Hook Elementary School
26,Guns and the Decline of the Young Man,The Stone is a forum for contemporary philosop...,Sandy Hook Elementary School
27,"Veterans Feel Anxiety, and Relief, After Schoo...",When I heard the initial report of a school sh...,Sandy Hook Elementary School
28,Is the Gun Lobby Invincible?,Introduction\n\nJulio Cortez/Associated Press\...,Sandy Hook Elementary School
29,Errors in Newtown Shootings Coverage Reflect G...,Many Times readers wrote to me over the weeken...,Sandy Hook Elementary School
...,...,...,...
35,Equity Funds Are Unlikely to Push for Gun Reform,Haraz N. Ghanbari/Associated Press Haraz N. Gh...,Sandy Hook Elementary School
36,Two Funerals for Two 6-Year-Old Boys in Newtown,"The how of their deaths is, by now, internatio...",Sandy Hook Elementary School
37,How Should We Prevent Future Mass Shootings? -...,Photo\n\nQuestions about issues in the news fo...,Sandy Hook Elementary School
38,"In Unusual Move, Cerberus to Sell Freedom Grou...",Gretchen Ertl for The New York Times\n\nSittin...,Sandy Hook Elementary School
39,Reaction to Newtown Shootings Spreads to Corpo...,\n\n\n\nVideo\n\nThe reaction to the Newtown s...,Sandy Hook Elementary School
40,"The Day: A Growing List of Gun Victims, and th...",On the same day as the school massacre in Newt...,Sandy Hook Elementary School
41,Dec. 18 Updates on Connecticut Shooting Aftermath,The Lede is a blog that remixes national and i...,Sandy Hook Elementary School
42,"Adam Lanza, Asperger's and a Misleading Connec...","1. Did Adam Lanza, who authorities have identi...",Sandy Hook Elementary School
43,Gun-Focused Reality TV Shows Get New Scrutiny ...,The topics of guns and gun use continue to res...,Sandy Hook Elementary School
44,"Lanza’s Mother Shot 4 Times in Head, Medical E...","Inside Adam Lanza’s family home in Newtown, Co...",Sandy Hook Elementary School
45,Taking Steps to Avert Mass Shootings,To the Editor:\n\nRe “The Gun Challenge: Reaso...,Sandy Hook Elementary School
46,States’ Leaders Proposing Steps to Control Guns,This is hardly the first time that a mass kill...,Sandy Hook Elementary School
47,More Funerals Held in Newtown After Massacre,"After each service, the doors were opened, the...",Sandy Hook Elementary School
48,"For Malloy, Connecticut Shootings Provided Hea...",He said in an interview that it was cruel to l...,Sandy Hook Elementary School
49,"After Newtown Shootings, Schools Consider Arme...","Now, in the wake of the massacre at Sandy Hook...",Sandy Hook Elementary School
50,Dec. 19 Updates on Connecticut Shooting Aftermath,The Lede is a blog that remixes national and i...,Sandy Hook Elementary School
51,Piers Morgan Shows Disgust While Interviewing ...,Anybody who has been watching “Piers Morgan To...,Sandy Hook Elementary School
52,Obama Vows Fast Action in New Push for Gun Con...,At an appearance in the White House briefing r...,Sandy Hook Elementary School
53,Morgan Stanley Makes Donation After Sandy Hook...,"Reuters\n\nMorgan Stanley, where three employe...",Sandy Hook Elementary School
54,"At Funeral, Sandy Hook Teacher Victoria Soto I...","In her eulogy, the Rev. Meg Boxwell Williams p...",Sandy Hook Elementary School
55,Looking for Lessons in Newtown,"What happened in Newtown, Conn., was heartbrea...",Sandy Hook Elementary School
56,President Cites Other Shootings Since Newtown,When President Obama announced Wednesday that ...,Sandy Hook Elementary School
57,Dec. 20 Updates on Connecticut Shooting Aftermath,The Lede is a blog that remixes national and i...,Sandy Hook Elementary School
58,Preposterous Explanations for Newtown,Mandel Ngan/Agence France-Presse — Getty Image...,Sandy Hook Elementary School
59,Empathy as a Path to Climate (and Energy) Prog...,Eric Thayer/Reuters\n\n\n\nDavid Roberts at Gr...,Sandy Hook Elementary School
60,"Newtown, Conn., School Aide Is Remembered for ...",It was an indication of the Newtown massacre’s...,Sandy Hook Elementary School
61,Police Dept. to Use Internet to Try to Stop Sh...,Top intelligence officials in the New York Pol...,Sandy Hook Elementary School
62,Preparing Students for a Newtown-like Disaster,"Schooling: Sara Mosle on students, teaching an...",Sandy Hook Elementary School
63,"Memorial Held for Nancy Lanza, Mother of Newto...","KINGSTON, N.H. — Nancy Lanza, the first victim...",Sandy Hook Elementary School
64,Cuomo Says He Will Outline Gun Measures Next M...,Gov. Andrew M. Cuomo said Thursday that he had...,Sandy Hook Elementary School

In [55]:
#South Valley Residence
url296='http://www.nytimes.com/2013/01/22/us/new-mexico-teenager-is-charged-with-killing-his-family.html'
Nyt_SVR =pd.DataFrame() 
a=Article(url296, language='en')
a.download()
a.parse()
Nyt_SVR= Nyt_SVR.append([[a.title, a.text]], ignore_index=True)
Nyt_SVR.columns=['Title','Article']
Nyt_SVR['Incident Name'] = 'South Valley Residence'
Nyt_SVR

,Title,Article,Incident Name
0,New Mexico Teenager Is Charged With Killing Hi...,ALBUQUERQUE (AP) — A New Mexico teenager accus...,South Valley Residence

In [56]:
#Phoenix Law Firm
url297='http://www.nytimes.com/2013/01/31/us/gunman-opens-fire-at-phoenix-office-complex.html'
Nyt_PLF =pd.DataFrame() 
a=Article(url297, language='en')
a.download()
a.parse()
Nyt_PLF= Nyt_PLF.append([[a.title, a.text]], ignore_index=True)
Nyt_PLF.columns=['Title','Article']
Nyt_PLF['Incident Name'] = 'South Valley Residence'
Nyt_PLF

,Title,Article,Incident Name
0,Gunman in Phoenix Kills One and Injures Two Ot...,Photo\n\nPHOENIX — A gunman opened fire at an ...,South Valley Residence

In [57]:
#Los Angeles Police Department
url298='https://thelede.blogs.nytimes.com/2013/02/07/excerpts-from-online-manifesto-of-ex-police-officer-wanted-in-shootings/'
url299='http://www.nytimes.com/2013/02/09/us/for-some-suspects-charges-of-police-racism-resound.html'
urls=[url298,url299]
Nyt_LAPD =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LAPD= Nyt_LAPD.append([[a.title, a.text]], ignore_index=True)
Nyt_LAPD.columns=['Title','Article']
Nyt_LAPD['Incident Name'] = 'Los Angeles Police Department'
Nyt_LAPD

,Title,Article,Incident Name
0,Excerpts From Manifesto Posted Online by Ex-Of...,"Last Updated, 7:30 p.m. With three people dead...",Los Angeles Police Department
1,"For Some, Suspect’s Charges of Police Racism R...","Indeed, in posts on Facebook and in interviews...",Los Angeles Police Department

In [59]:
#Ladera Ranch, Santa Ana, Tustin and Orange
url300='http://www.nytimes.com/2013/02/20/us/shooting-spree-in-california.html'
Nyt_LR =pd.DataFrame() 
a=Article(url300, language='en')
a.download()
a.parse()
Nyt_LR= Nyt_LR.append([[a.title, a.text]], ignore_index=True)
Nyt_LR.columns=['Title','Article']
Nyt_LR['Incident Name'] = 'Ladera Ranch, Santa Ana, Tustin and Orange'
Nyt_LR

,Title,Article,Incident Name
0,At Least 4 Dead in California Shootings,As the man drove through the parking lot to es...,"Ladera Ranch, Santa Ana, Tustin and Orange"

In [61]:
#Pinewood Village Apartments
url301='http://www.nytimes.com/2013/04/23/us/washington-5-dead-in-shooting-at-apartments.html'
Nyt_PVA =pd.DataFrame() 
a=Article(url301, language='en')
a.download()
a.parse()
Nyt_PVA= Nyt_PVA.append([[a.title, a.text]], ignore_index=True)
Nyt_PVA.columns=['Title','Article']
Nyt_PVA['Incident Name'] = 'Pinewood Village Apartments'
Nyt_PVA

,Title,Article,Incident Name
0,Washington: 5 Dead in Shooting at Apartments,A 28-year-old man shot and killed his girlfrie...,Pinewood Village Apartments

In [63]:
#Village of Manchester in Illinois
url=['No Articles']
Nyt_VMIL =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_VMIL= Nyt_VMIL.append([[a.title, a.text]], ignore_index=True)
Nyt_VMIL.columns=['Title','Article']
Nyt_VMIL['title'] = 'NaN'
Nyt_VMIL['article'] = 'NaN'
Nyt_VMIL['Incident Name'] = 'Village of Manchester in Illinois'
Nyt_VMIL.drop(['Title','Article'], axis=1, inplace=True)
Nyt_VMIL.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_VMIL

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1012: Tag nav invalid

  Title Article                      Incident Name
0   NaN     NaN  Village of Manchester in Illinois

In [64]:
#Santa Monica College
url302='http://www.nytimes.com/2013/06/08/us/santa-monica-college-shooting.html'
url303='http://www.nytimes.com/2013/06/09/us/police-call-santa-monica-gunman-ready-for-battle.html'
url304='http://www.nytimes.com/2013/06/10/us/toll-in-santa-monica-shooting-rampage-rises-to-five.html'
urls=[url302,url303,url304]
Nyt_SMC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SMC= Nyt_SMC.append([[a.title, a.text]], ignore_index=True)
Nyt_SMC.columns=['Title','Article']
Nyt_SMC['Incident Name'] = 'Santa Monica College'
Nyt_SMC

,Title,Article,Incident Name
0,Four Dead in Santa Monica Shooting,"SANTA MONICA, Calif. — Four people were killed...",Santa Monica College
1,Police Call Santa Monica Gunman ‘Ready for Bat...,"SANTA MONICA, Calif. — The gunman whose rampag...",Santa Monica College
2,Toll in Santa Monica Shooting Rampage Rises to...,"SANTA MONICA, Calif. — A woman who was critica...",Santa Monica College

In [66]:
#Hialeah Apartments
url305='http://www.nytimes.com/2013/07/28/us/6-shot-dead-by-neighbor-at-building-near-miami.html'
Nyt_HA =pd.DataFrame() 
a=Article(url305, language='en')
a.download()
a.parse()
Nyt_HA= Nyt_HA.append([[a.title, a.text]], ignore_index=True)
Nyt_HA.columns=['Title','Article']
Nyt_HA['Incident Name'] = 'Hialeah Apartments'
Nyt_HA

,Title,Article,Incident Name
0,6 Shot Dead by Neighbor at Building Near Miami,“No one seems to know why he acted the way he ...,Hialeah Apartments

In [68]:
#Ross Township Supervisor Council Meeting
url306='http://www.nytimes.com/2013/08/06/us/3-are-killed-at-a-township-meeting.html'
url307='https://thelede.blogs.nytimes.com/2013/08/06/pennsylvania-gunman-feuded-with-officials-for-almost-two-decades-over-land/'
url308='http://www.nytimes.com/2013/08/07/us/shooting-suspect-had-long-dispute-with-township-officials.html'
urls=[url306,url307,url308]
Nyt_RTSCM =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RTSCM= Nyt_RTSCM.append([[a.title, a.text]], ignore_index=True)
Nyt_RTSCM.columns=['Title','Article']
Nyt_RTSCM['Incident Name'] = 'Ross Township Supervisor Council Meeting'
Nyt_RTSCM

,Title,Article,Incident Name
0,3 Are Shot to Death at a Township Meeting in P...,"SAYLORSBURG, Pa. — A shooting during a townshi...",Ross Township Supervisor Council Meeting
1,Pennsylvania Gunman Feuded With Officials for ...,Angry that town officials in northeastern Penn...,Ross Township Supervisor Council Meeting
2,Gunfire at Board Meeting Traced to Eviction Di...,"After he was arrested, Mr. Newell told officer...",Ross Township Supervisor Council Meeting

In [69]:
#Oklahoma City Residence
url=['No Articles']
Nyt_VMIL =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_VMIL= Nyt_VMIL.append([[a.title, a.text]], ignore_index=True)
Nyt_VMIL.columns=['Title','Article']
Nyt_VMIL['title'] = 'NaN'
Nyt_VMIL['article'] = 'NaN'
Nyt_VMIL['Incident Name'] = 'Oklahoma City Residence'
Nyt_VMIL.drop(['Title','Article'], axis=1, inplace=True)
Nyt_VMIL.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_VMIL

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1234: Tag nav invalid

  Title Article            Incident Name
0   NaN     NaN  Oklahoma City Residence

In [73]:
#Navy Yard URLS
url309='http://www.nytimes.com/2013/09/17/us/shooting-reported-at-washington-navy-yard.html'
url310='https://thelede.blogs.nytimes.com/2013/09/16/live-updates-from-washington-navy-yard-shootings/'
url311='http://www.nytimes.com/2013/09/17/us/suspect-in-shooting-had-interest-in-thai-culture-and-problems-with-the-law.html'
url312='https://learning.blogs.nytimes.com/2013/09/17/6-qs-about-the-news-shooting-at-d-c-navy-yard/'
url313='http://www.nytimes.com/2013/09/18/us/washington-navy-yard-shootings.html'
url314='https://takingnote.blogs.nytimes.com/2013/09/17/yet-more-gun-violence/'
url315='https://thelede.blogs.nytimes.com/2013/09/17/remembering-the-victims-of-the-washington-navy-yard/'
url316='https://thecaucus.blogs.nytimes.com/2013/09/17/after-navy-yard-shooting-a-new-look-at-gun-control/'
url317='http://www.nytimes.com/2013/09/18/us/state-law-stopped-gunman-from-buying-rifle-officials-say.html'
url318='http://www.nytimes.com/2013/09/18/us/victims-of-navy-yard-shooting-are-remembered-for-their-simple-pleasures.html'
url319='http://www.nytimes.com/2013/09/18/opinion/dowd-losing-the-room.html'
url320='http://www.nytimes.com/2013/09/19/us/hagel-orders-reviews-of-security-procedures-and-clearances.html'
url321='http://www.nytimes.com/2013/09/19/us/gunmans-family-left-shocked-saddened-mystified.html'
url322='https://parenting.blogs.nytimes.com/2013/09/18/calming-a-childs-fears-after-another-mass-shooting/'
url323='http://www.nytimes.com/2013/09/19/opinion/blow-a-ghastly-ritual-repeats-itself.html'
url324='http://www.nytimes.com/2013/09/19/opinion/how-america-reacts-to-mass-shootings.html'
url325='http://www.nytimes.com/2013/09/19/us/signs-may-be-evident-in-hindsight-but-predicting-violent-behavior-is-tough.html'
url326='http://www.nytimes.com/2013/09/19/us/politics/mental-health-again-an-issue-in-gun-debate.html'
url327='http://www.nytimes.com/2013/09/20/us/gunman-was-wandering-halls-as-he-shot-fbi-chief-says.html'
url328='http://www.nytimes.com/2013/09/20/us/signs-of-trouble-on-navy-yard-gunmans-path-to-tragedy.html'
url329='http://www.nytimes.com/2013/09/20/opinion/luhrmann-the-violence-in-our-heads.html'
url330='http://www.nytimes.com/2013/09/21/us/navy-yard-gunman-shatters-a-texas-buddhist-groups-quiet.html'
url331='http://www.nytimes.com/2013/09/21/us/fbi-tries-to-find-motive-of-navy-yard-gunman.html'
url332='http://www.nytimes.com/2013/09/23/us/obama-to-attend-memorial-service-for-victims-of-navy-yard-shooting.html'

In [74]:
urls=[url309,url310,url311,url312,url313,url314,url315,url316,url317,url318,url319,url320,url321,url322,url323,
      url324,url325,url326,url327,url328,url329,url330,url331,url332]
Nyt_WNY =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WNY= Nyt_WNY.append([[a.title, a.text]], ignore_index=True)
Nyt_WNY.columns=['Title','Article']
Nyt_WNY['Incident Name'] = 'Washington Navy Yard'
Nyt_WNY

,Title,Article,Incident Name
0,Gunman and 12 Victims Killed in Shooting at D....,WASHINGTON — A former Navy reservist killed at...,Washington Navy Yard
1,Updates From Washington Navy Yard Shootings,The Lede is a blog that remixes national and i...,Washington Navy Yard
2,Suspect in Shooting Had Problems With the Law,Acquaintances of Navy Yard Gunman React: After...,Washington Navy Yard
3,Shooting at D.C. Navy Yard - The New York Times,Photo\n\n6 Q’s About the News Read the article...,Washington Navy Yard
4,Suspect’s Past Fell Just Short of Raising Alarm,WASHINGTON — A month before a murderous rampag...,Washington Navy Yard
5,Yet More Gun Violence,Jacquelyn Martin/Associated Press\n\nThree day...,Washington Navy Yard
6,Remembering the Victims of the Washington Navy...,Updated | 2:30 p.m. Wednesday. To honor the 12...,Washington Navy Yard
7,"After Navy Yard Shooting, a New Look at Gun Co...",Even among those who fought hardest to pass an...,Washington Navy Yard
8,State Law Prevented Sale of Assault Rifle to S...,"After firing down on people, the gunman began ...",Washington Navy Yard
9,"Fathers and Mothers, Nature Lovers and Sports ...","Mr. Proctor, who worked as a civilian utilitie...",Washington Navy Yard
10,The New York Times,Just as with the address to the nation on Syri...,Washington Navy Yard
11,Officials Never Learned of Police Doubts on Gu...,"Mr. Alexis’s clearance, first obtained while h...",Washington Navy Yard
12,"Gunman’s Family Left Shocked, Saddened, Mystified",The family of the gunman.\n\nIt is a sadly fam...,Washington Navy Yard
13,Calming a Child's Fears After Another Mass Sho...,My 9-year-old son Zane has developed a grippin...,Washington Navy Yard
14,A Ghastly Ritual Repeats Itself,One reason we talk past one another on guns is...,Washington Navy Yard
15,How America Reacts to Mass Shootings,To the Editor:\n\nRe “Suspect’s Past Fell Just...,Washington Navy Yard
16,"Signs May Be Evident in Hindsight, but Predict...","According to its records, the agency said, Mr....",Washington Navy Yard
17,Mental Health Again an Issue in Gun Debate,"Senator Harry Reid of Nevada, the majority lea...",Washington Navy Yard
18,Same Firm Did Checks on Snowden and Gunman,WASHINGTON — A company that conducted a backgr...,Washington Navy Yard
19,Signs of Distress Multiplied on Killer’s Path ...,"The call from the company, placed six weeks be...",Washington Navy Yard
20,The Violence in Our Heads,"In Chennai, the commanding voices often instru...",Washington Navy Yard
21,Distant Violence Shatters a Texas Buddhist Gro...,"The leader of the temple, Kasem Pundisto, a mo...",Washington Navy Yard
22,F.B.I. Tries to Trace Last Weeks of Gunman,The official added: “In the immediate aftermat...,Washington Navy Yard
23,"Honoring Victims, Obama Asks: ‘Do We Care Enou...","In his remarks to about 4,000 people, Mr. Obam...",Washington Navy Yard

In [75]:
#Sparks Middle School
url333='https://thelede.blogs.nytimes.com/2013/10/23/after-theres-a-kid-with-a-gun-came-teacher-down/'
url334='http://www.nytimes.com/2013/10/22/us/two-killed-in-shooting-at-a-nevada-middle-school.html'
urls=[url333,url334]
Nyt_SMS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SMS= Nyt_SMS.append([[a.title, a.text]], ignore_index=True)
Nyt_SMS.columns=['Title','Article']
Nyt_SMS['Incident Name'] = 'Sparks Middle School'
Nyt_SMS

,Title,Article,Incident Name
0,After 'There's a Kid With a Gun' Came 'Teacher...,"In a trembling voice, the student called 911 t...",Sparks Middle School
1,"Student Kills Math Teacher, Then Himself, at a...",Photo\n\nA Nevada middle school student shot a...,Sparks Middle School

In [76]:
#Mohawk and Herkimer Villages in New York
url335='http://www.nytimes.com/2013/03/15/nyregion/man-sought-in-upstate-new-york-shootings-is-killed.html'
url336='http://www.nytimes.com/2013/03/14/nyregion/four-killed-in-shootings-in-upstate-new-york.html'
urls=[url335,url336]
Nyt_MHV =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MHV= Nyt_MHV.append([[a.title, a.text]], ignore_index=True)
Nyt_MHV.columns=['Title','Article']
Nyt_MHV['Incident Name'] = 'Mohawk and Herkimer Villages in New York'
Nyt_MHV

,Title,Article,Incident Name
0,"Suspect in Upstate Shootings Is Killed, but Qu...","“He was very quiet,” Ms. Tooke said. “And I kn...",Mohawk and Herkimer Villages in New York
1,Man Who Fatally Shot 4 in Upstate New York Is ...,The police discovered the suspect’s car near a...,Mohawk and Herkimer Villages in New York

In [77]:
#Los Angeles International Airport (LAX)
url337='https://thelede.blogs.nytimes.com/2013/11/01/descriptions-of-chaos-and-fear-at-los-angeles-airport-shooting/?_r=0'
url338='http://www.nytimes.com/2013/11/02/us/shots-fired-at-airport-in-los-angeles.html'
urls=[url337,url338]
Nyt_LAX =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LAX= Nyt_LAX.append([[a.title, a.text]], ignore_index=True)
Nyt_LAX.columns=['Title','Article']
Nyt_LAX['Incident Name'] = 'Los Angeles International Airport (LAX)'
Nyt_LAX

,Title,Article,Incident Name
0,Descriptions of Chaos and Fear at Los Angeles ...,As my colleagues Jennifer Medina and Timothy W...,Los Angeles International Airport (LAX)
1,Security Agent Is Killed at Los Angeles Airport,Federal officials identified the gunman as Pau...,Los Angeles International Airport (LAX)

In [83]:
#Homes in Desoto and Dallas
url339='http://www.nytimes.com/2013/08/09/us/texas-man-held-in-four-killings.html'
Nyt_HDD =pd.DataFrame() 
a=Article(url339, language='en')
a.download()
a.parse()
Nyt_HDD= Nyt_HDD.append([[a.title, a.text]], ignore_index=True)
Nyt_HDD.columns=['Title','Article']
Nyt_HDD['Incident Name'] = 'Homes in Desoto and Dallas'
Nyt_HDD

,Title,Article,Incident Name
0,Texas: Man Held in Four Killings,A former teacher and dancer for the Dallas Mav...,Homes in Desoto and Dallas

In [80]:
#Centennial Hill Bar & Grill
url=['No Articles']
Nyt_CHB =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CHB= Nyt_CHB.append([[a.title, a.text]], ignore_index=True)
Nyt_CHB.columns=['Title','Article']
Nyt_CHB['title'] = 'NaN'
Nyt_CHB['article'] = 'NaN'
Nyt_CHB['Incident Name'] = 'Centennial Hill Bar & Grill'
Nyt_CHB.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CHB.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CHB

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1215: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Centennial Hill Bar & Grill

In [81]:
#San Francisco Tenderloin
url=['No Articles']
Nyt_SFT =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SFT= Nyt_SFT.append([[a.title, a.text]], ignore_index=True)
Nyt_SFT.columns=['Title','Article']
Nyt_SFT['title'] = 'NaN'
Nyt_SFT['article'] = 'NaN'
Nyt_SFT['Incident Name'] = 'San Francisco Tenderloin'
Nyt_SFT.drop(['Title','Article'], axis=1, inplace=True)
Nyt_SFT.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_SFT

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1215: Tag nav invalid

  Title Article             Incident Name
0   NaN     NaN  San Francisco Tenderloin

In [82]:
#Fort Hood
url340='https://www.nytimes.com/2014/04/03/us/gunshots-reported-at-fort-hood.html'
url341='https://thelede.blogs.nytimes.com/2014/04/02/live-updates-on-shooting-at-fort-hood-in-texas/'
url342='https://www.nytimes.com/2014/04/04/us/fort-hood-shooting.html'
url343='https://www.nytimes.com/2014/04/04/us/fort-hood-security-problems.html'
url344='https://www.nytimes.com/2014/04/04/us/gunman-had-clean-record-with-no-violent-sign-officials-say.html'
url345='https://www.nytimes.com/2014/04/04/us/among-fort-hood-victims-a-sergeant-is-killed-and-a-major-is-wounded.html'
url346='https://www.nytimes.com/2014/04/05/us/soldier-in-fort-hood-attack-was-in-dispute-over-leave.html'
urls=[url340,url341,url342,url343,url344,url345,url346]
Nyt_FtH =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FtH= Nyt_FtH.append([[a.title, a.text]], ignore_index=True)
Nyt_FtH.columns=['Title','Article']
Nyt_FtH['Incident Name'] = 'Fort Hood'
Nyt_FtH

,Title,Article,Incident Name
0,Iraq Veteran at Fort Hood Kills 3 and Himself ...,"The chairman of the Joint Chiefs of Staff, Gen...",Fort Hood
1,Updates on the Fort Hood Shooting,The Lede is a blog that remixes national and i...,Fort Hood
2,Fort Hood Gunman Was Being Treated for Depression,“It’s not clear how common that is or whether ...,Fort Hood
3,Fort Hood Does Little to Keep Out Firearms,"At Fort Hood, which sprawls for 340 square mil...",Fort Hood
4,"Gunman Had ‘Clean Record,’ With No Violent Sig...",Photo\n\nSpecialist Ivan Antonio Lopez had see...,Fort Hood
5,"Among Fort Hood Victims, a Sergeant Is Killed,...",Sergeant Owens dropped out of high school in 1...,Fort Hood
6,Dispute Over Leave Agitated Ft. Hood Soldier B...,“The first guy he shot right in front of my so...,Fort Hood

In [84]:
#Kennesaw FedEx	
url347='https://www.nytimes.com/2014/04/30/us/fedex-shooting-atlanta.html'
Nyt_KF =pd.DataFrame() 
a=Article(url347, language='en')
a.download()
a.parse()
Nyt_KF= Nyt_KF.append([[a.title, a.text]], ignore_index=True)
Nyt_KF.columns=['Title','Article']
Nyt_KF['Incident Name'] = 'Kennesaw FedEx'
Nyt_KF

,Title,Article,Incident Name
0,6 Wounded in Shooting at FedEx Warehouse in Ge...,Photo\n\nA 19-year-old package handler at a Fe...,Kennesaw FedEx

In [85]:
#Isla Vista
url348='https://www.nytimes.com/2014/05/25/us/california-drive-by-shooting.html'
url349='https://www.nytimes.com/2014/05/25/business/youtube-removes-video-posted-by-shooting-suspect.html'
url350='https://news.blogs.nytimes.com/2014/05/24/gunman-made-threats-in-141-page-manifesto-and-youtube-videos/'
url351='https://www.nytimes.com/2014/05/26/us/gunman-was-able-to-fly-under-the-radar-says-santa-barbara-sheriff.html'
url352='https://www.nytimes.com/2014/05/26/us/even-in-a-state-with-restrictive-laws-gunman-amassed-weapons-and-ammunition.html'
url353='https://www.nytimes.com/2014/05/26/us/parents-nightmare-failed-race-to-stop-killings.html'
url354='https://www.nytimes.com/2014/05/26/us/shooting-victims-drawn-to-california-campus-from-near-and-from-far.html'
url355='https://www.nytimes.com/2014/05/27/us/limits-to-law-and-information-sharing-despite-gunmans-danger-signs.html'
url356='https://www.nytimes.com/2014/05/28/opinion/as-congress-sleeps-more-people-die.html'
url357='https://www.nytimes.com/2014/05/28/us/after-california-attack-students-pause-and-seek-closure.html'
ulr358='https://www.nytimes.com/2014/05/29/us/in-wake-of-mass-shooting-a-gun-bill-is-pushed-in-california.html'
urls=[url348,url349,url350,url351,url352,url353,url354]
Nyt_IV =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_IV= Nyt_IV.append([[a.title, a.text]], ignore_index=True)
Nyt_IV.columns=['Title','Article']
Nyt_IV['Incident Name'] = 'Isla Vista'
Nyt_IV

,Title,Article,Incident Name
0,"Video Rant, Then Deadly Rampage in California ...",“I do not know why you girls aren’t attracted ...,Isla Vista
1,YouTube Removes Video Posted by Shooting Suspect,As news spread of a shooting in California tha...,Isla Vista
2,Gunman Made Threats in 141-Page Manifesto and ...,Gunman Made Threats in 141-Page Manifesto and ...,Isla Vista
3,"Gunman Covered Up Risks He Posed, Sheriff Says","The police said that Mr. Rodger, a college stu...",Isla Vista
4,"Even in a State With Restrictive Laws, Gunman ...","The Santa Barbara County sheriff, Bill Brown, ...",Isla Vista
5,Parents’ Nightmare: Futile Race to Stop Killings,"Only weeks earlier, in late April, deputies fr...",Isla Vista
6,Rampage Victims Drawn to California Campus Fro...,The three victims killed during the rampage th...,Isla Vista

In [86]:
#Seattle Pacific University
url354='https://www.nytimes.com/2014/06/06/us/shooting-leaves-one-dead-at-seattle-pacific-university.html'
url355='https://www.nytimes.com/2014/06/07/us/seattle-pacific-university-gunman-shoots-four.html'
url356='https://op-talk.blogs.nytimes.com/2014/06/06/a-good-man-with-pepper-spray/'
url357='https://www.nytimes.com/2014/06/07/opinion/hard-lessons-from-belmont.html'
url358='https://www.nytimes.com/2014/06/11/us/troutdale-oregon-reynolds-high-school-shooting.html'
urls=[url354,url355,url356,url357,url358]
Nyt_SPU =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SPU= Nyt_SPU.append([[a.title, a.text]], ignore_index=True)
Nyt_SPU.columns=['Title','Article']
Nyt_SPU['Incident Name'] = 'Seattle Pacific University'
Nyt_SPU

,Title,Article,Incident Name
0,Shooting Leaves One Dead at Seattle Pacific Un...,Photo\n\nSEATTLE — A man armed with a shotgun ...,Seattle Pacific University
1,Seattle Pacific University Students Stopped Gu...,"Aaron R. Ybarra, 26, who is not a student at t...",Seattle Pacific University
2,A Good Man With Pepper Spray,And the only thing that can stop a bad man wit...,Seattle Pacific University
3,Hard Lessons From Belmont,I’VE been fooled by the Belmont Stakes before....,Seattle Pacific University
4,Oregon Shooting Draws Obama’s Outrage on Gun Laws,The president’s emotional remarks later in Was...,Seattle Pacific University

In [91]:
#Nellis Plaza
url359='https://www.nytimes.com/2014/06/09/us/five-dead-in-shooting-rampage-in-las-vegas.html'
Nyt_NP =pd.DataFrame() 
a=Article(url359, language='en')
a.download()
a.parse()
Nyt_NP= Nyt_NP.append([[a.title, a.text]], ignore_index=True)
Nyt_NP.columns=['Title','Article']
Nyt_NP['Incident Name'] = 'Nellis Plaza'
Nyt_NP

,Title,Article,Incident Name
0,Five Dead in Shooting Rampage in Las Vegas,Some witnesses reported that the couple had sh...,Nellis Plaza

In [90]:
#Bourbon Street New Orleans
url360='https://www.nytimes.com/2014/06/30/us/crossfire-hits-9-on-a-street-that-defines-new-orleans.html'
Nyt_BSNOLA =pd.DataFrame() 
a=Article(url360, language='en')
a.download()
a.parse()
Nyt_BSNOLA= Nyt_BSNOLA.append([[a.title, a.text]], ignore_index=True)
Nyt_BSNOLA.columns=['Title','Article']
Nyt_BSNOLA['Incident Name'] = 'Bourbon Street New Orleans'
Nyt_BSNOLA

,Title,Article,Incident Name
0,Crossfire Hits 9 on a Street That Defines New ...,NEW ORLEANS — Nine people were wounded by cros...,Bourbon Street New Orleans

In [89]:
#Albuquerque Auto Shop
url=['No Articles']
Nyt_AAS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AAS= Nyt_AAS.append([[a.title, a.text]], ignore_index=True)
Nyt_AAS.columns=['Title','Article']
Nyt_AAS['title'] = 'NaN'
Nyt_AAS['article'] = 'NaN'
Nyt_AAS['Incident Name'] = 'Albuquerque Auto Shop'
Nyt_AAS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_AAS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_AAS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1084: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Albuquerque Auto Shop

In [93]:
#Marysville-Pilchuck High School
url361='https://www.nytimes.com/2014/10/25/us/shooting-reported-at-high-school-north-of-seattle.html'
url362='https://www.nytimes.com/2014/10/26/us/contrasting-portraits-emerge-of-jaylen-ray-fryberg-shooter-at-washington-school.html'
url363='https://www.nytimes.com/2014/10/27/us/teacher-is-praised-for-her-intervention-in-washington-school-shooting.html'
url364='https://www.nytimes.com/2014/10/28/us/washington-school-shooting-claims-another-victim-gia-soriano.html'
url365='https://www.nytimes.com/2014/10/30/sports/seahawks-host-seattle-high-school-football-team-less-than-a-week-after-shooting.html'
urls=[url361,url362,url363,url364,url365]
Nyt_MPHS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MPHS= Nyt_MPHS.append([[a.title, a.text]], ignore_index=True)
Nyt_MPHS.columns=['Title','Article']
Nyt_MPHS['Incident Name'] = 'Marysville-Pilchuck High School'
Nyt_MPHS

,Title,Article,Incident Name
0,"2 Die, Including Gunman, in Shooting at Washin...","Rick Iverson, a former Marysville-Pilchuck Eng...",Marysville-Pilchuck High School
1,Tangled Portrait of a Student Emerges in Washi...,"“This wasn’t the typical trench coat, introver...",Marysville-Pilchuck High School
2,Teacher Is Praised for Her Intervention in Was...,"Photo\n\nMARYSVILLE, Wash. — As this community...",Marysville-Pilchuck High School
3,Washington School Gunman Used Texts to Gather ...,Zoe’s death was mourned at Marysville-Pilchuck...,Marysville-Pilchuck High School
4,Seahawks Host Seattle High School Football Tea...,Coach Pete Carroll said it was an “amazing exp...,Marysville-Pilchuck High School

In [94]:
#Florida State University
url366='https://www.nytimes.com/2014/11/21/us/florida-state-university-shooting.html'
urls=[url366]
Nyt_FSU =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FSU= Nyt_FSU.append([[a.title, a.text]], ignore_index=True)
Nyt_FSU.columns=['Title','Article']
Nyt_FSU['Incident Name'] = 'Florida State University'
Nyt_FSU

,Title,Article,Incident Name
0,Gunman at Florida State Spoke of Being Watched,Mr. May graduated from Florida State in 2005 a...,Florida State University

In [95]:
#Cedarville Rancheria Tribe
url=['No Articles']
Nyt_CRT =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CRT= Nyt_CRT.append([[a.title, a.text]], ignore_index=True)
Nyt_CRT.columns=['Title','Article']
Nyt_CRT['title'] = 'NaN'
Nyt_CRT['article'] = 'NaN'
Nyt_CRT['Incident Name'] = 'Cedarville Rancheria Tribe'
Nyt_CRT.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CRT.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CRT

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1249: Tag nav invalid

  Title Article               Incident Name
0   NaN     NaN  Cedarville Rancheria Tribe

In [96]:
#Ensley Birmingham
url=['No Articles']
Nyt_EBAL =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_EBAL= Nyt_EBAL.append([[a.title, a.text]], ignore_index=True)
Nyt_EBAL.columns=['Title','Article']
Nyt_EBAL['title'] = 'NaN'
Nyt_EBAL['article'] = 'NaN'
Nyt_EBAL['Incident Name'] = 'Ensley Birmingham'
Nyt_EBAL.drop(['Title','Article'], axis=1, inplace=True)
Nyt_EBAL.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_EBAL

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1249: Tag nav invalid

  Title Article      Incident Name
0   NaN     NaN  Ensley Birmingham

In [97]:
#Pennsburg PA
url367='https://www.nytimes.com/2014/12/17/us/shooting-pennsylvania-bradley-stone.html'
url368='https://www.nytimes.com/2014/12/16/us/police-outside-philadelphia-search-for-gunman-after-reports-of-multiple-shootings.html'
urls=[url367,url368]
Nyt_PPA =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PPA= Nyt_PPA.append([[a.title, a.text]], ignore_index=True)
Nyt_PPA.columns=['Title','Article']
Nyt_PPA['Incident Name'] = 'Pennsburg PA'
Nyt_PPA

,Title,Article,Incident Name
0,Pennsylvania Man Sought in Slaying of Family I...,Two of the victims died from gunshot wounds wh...,Pennsburg PA
1,Suspect in 6 Killings Is at Large Near Philade...,"Around the same time as the news conference, a...",Pennsburg PA

In [98]:
#Memphis
url=['No Articles']
Nyt_MEM =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MEM= Nyt_MEM.append([[a.title, a.text]], ignore_index=True)
Nyt_MEM.columns=['Title','Article']
Nyt_MEM['title'] = 'NaN'
Nyt_MEM['article'] = 'NaN'
Nyt_MEM['Incident Name'] = 'Memphis'
Nyt_MEM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MEM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MEM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1380: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Memphis

In [99]:
#Moscow
url=['No Articles']
Nyt_MID =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MID= Nyt_MID.append([[a.title, a.text]], ignore_index=True)
Nyt_MID.columns=['Title','Article']
Nyt_MID['title'] = 'NaN'
Nyt_MID['article'] = 'NaN'
Nyt_MID['Incident Name'] = 'Moscow'
Nyt_MID.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MID.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MID

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1380: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN        Moscow

In [100]:
#Queens
url369='https://www.nytimes.com/2015/01/25/nyregion/3-are-killed-including-7-year-old-girl-in-queens-home.html'
urls=[url369]
Nyt_QNY =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_QNY= Nyt_QNY.append([[a.title, a.text]], ignore_index=True)
Nyt_QNY.columns=['Title','Article']
Nyt_QNY['Incident Name'] = 'Queens'
Nyt_QNY

,Title,Article,Incident Name
0,"Queens Father Killed 3 and Himself, Police Say","Photo\n\nIn the predawn darkness, Christina Wa...",Queens

In [101]:
#LaGrange
url=['No Articles']
Nyt_LaG =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LaG= Nyt_LaG.append([[a.title, a.text]], ignore_index=True)
Nyt_LaG.columns=['Title','Article']
Nyt_LaG['title'] = 'NaN'
Nyt_LaG['article'] = 'NaN'
Nyt_LaG['Incident Name'] = 'LaGrange'
Nyt_LaG.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LaG.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LaG

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1201: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN      LaGrange

In [102]:
#Omaha
url=['No Articles']
Nyt_Omaha =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Omaha= Nyt_Omaha.append([[a.title, a.text]], ignore_index=True)
Nyt_Omaha.columns=['Title','Article']
Nyt_Omaha['title'] = 'NaN'
Nyt_Omaha['article'] = 'NaN'
Nyt_Omaha['Incident Name'] = 'Omaha'
Nyt_Omaha.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Omaha.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Omaha

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1201: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN         Omaha

In [103]:
#Chapel Hill
url370='https://www.nytimes.com/2015/02/12/us/muslim-student-shootings-north-carolina.html'
url371='https://www.nytimes.com/2015/02/17/us/north-carolina-jury-brings-three-murder-counts.html'
url372='https://www.nytimes.com/2015/02/13/us/chapel-hill-neighbors-say-they-felt-threatened-by-man-held-in-killings.html'
url373='https://www.nytimes.com/2015/02/14/us/fbi-inquiry-muslim-student-killings-chapel-hill-north-carolina.html'
url374='https://www.nytimes.com/2015/02/13/us/chapel-hill-north-carolina-mourns-death-of-three-muslim-students.html'
url375='https://www.nytimes.com/2015/02/14/world/middleeast/online-commenters-see-reporting-bias-in-killing-of-3-muslims.html'
url376='https://learning.blogs.nytimes.com/2015/02/13/6-qs-about-the-news-in-chapel-hill-shooting-of-3-muslims-a-question-of-motive/'
url377='https://www.nytimes.com/2015/02/12/us/north-carolina-shooting-spurs-muslimlivesmatter.html'
urls=[url370,url371,url372,url373,url374,url375,url376,url377]
Nyt_UNCCH =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_UNCCH= Nyt_UNCCH.append([[a.title, a.text]], ignore_index=True)
Nyt_UNCCH.columns=['Title','Article']
Nyt_UNCCH['Incident Name'] = 'Chapel Hill'
Nyt_UNCCH

,Title,Article,Incident Name
0,"In Chapel Hill Shooting of 3 Muslims, a Questi...","Even as Chapel Hill awoke on Wednesday, frustr...",Chapel Hill
1,North Carolina: Jury Brings Three Murder Counts,"A grand jury has indicted Craig Hicks, 46, of ...",Chapel Hill
2,Neighbors Say Suspect in Chapel Hill Shootings...,"“He was definitely aggressive, and he spoke ha...",Chapel Hill
3,Federal Inquiry Begins Into Muslim Students’ K...,Mr. Hicks had a long record of heated confront...,Chapel Hill
4,Funeral for Muslims Killed in Chapel Hill Draw...,Many of those attending said they felt a deep ...,Chapel Hill
5,Jordanians See U.S. Reporting Bias in Coverage...,"The front page Friday of Al Ghad, an independe...",Chapel Hill
6,"In Chapel Hill Shooting of 3 Muslims, a Questi...",Photo\n\n6 Q’s About the News Read the article...,Chapel Hill
7,Outrage Over North Carolina Shootings Spurs #M...,Global outrage over the murder of three Muslim...,Chapel Hill

In [104]:
#Monroeville Macys
url=['No Articles']
Nyt_MM =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MM= Nyt_MM.append([[a.title, a.text]], ignore_index=True)
Nyt_MM.columns=['Title','Article']
Nyt_MM['title'] = 'NaN'
Nyt_MM['article'] = 'NaN'
Nyt_MM['Incident Name'] = 'Monroeville Macys'
Nyt_MM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1097: Tag nav invalid

  Title Article      Incident Name
0   NaN     NaN  Monroeville Macys

In [105]:
#Moon Lake
url=['No Articles']
Nyt_ML =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ML= Nyt_ML.append([[a.title, a.text]], ignore_index=True)
Nyt_ML.columns=['Title','Article']
Nyt_ML['title'] = 'NaN'
Nyt_ML['article'] = 'NaN'
Nyt_ML['Incident Name'] = 'Moon Lake'
Nyt_ML.drop(['Title','Article'], axis=1, inplace=True)
Nyt_ML.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_ML

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1097: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN     Moon Lake

In [106]:
#Tyrone
url378='https://www.nytimes.com/2015/02/28/us/gunman-kills-7-people-in-tyrone-missouri.html'
urls=[url378]
Nyt_Ty =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Ty= Nyt_Ty.append([[a.title, a.text]], ignore_index=True)
Nyt_Ty.columns=['Title','Article']
Nyt_Ty['Incident Name'] = 'Tyrone'
Nyt_Ty

,Title,Article,Incident Name
0,Tiny Missouri Town Is Reeling After Gunman Kil...,"“Not sure what precipitated this,” the county ...",Tyrone

In [108]:
#Morgantown
url=['No Articles']
Nyt_WV =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WV= Nyt_WV.append([[a.title, a.text]], ignore_index=True)
Nyt_WV.columns=['Title','Article']
Nyt_WV['title'] = 'NaN'
Nyt_WV['article'] = 'NaN'
Nyt_WV['Incident Name'] = 'Morgantown'
Nyt_WV.drop(['Title','Article'], axis=1, inplace=True)
Nyt_WV.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_WV

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN    Morgantown

In [107]:
#Douglasville
url=['No Articles']
Nyt_DGA =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DGA= Nyt_DGA.append([[a.title, a.text]], ignore_index=True)
Nyt_DGA.columns=['Title','Article']
Nyt_DGA['title'] = 'NaN'
Nyt_DGA['article'] = 'NaN'
Nyt_DGA['Incident Name'] = 'Douglasville'
Nyt_DGA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_DGA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_DGA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN  Douglasville

In [109]:
#McAvan's Pub
url=['No Articles']
Nyt_Mpub =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Mpub= Nyt_Mpub.append([[a.title, a.text]], ignore_index=True)
Nyt_Mpub.columns=['Title','Article']
Nyt_Mpub['title'] = 'NaN'
Nyt_Mpub['article'] = 'NaN'
Nyt_Mpub['Incident Name'] = 'McAvans Pub'
Nyt_Mpub.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Mpub.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Mpub

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN   McAvans Pub

In [110]:
#Clarkesville
url=['No Articles']
Nyt_CGA =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CGA= Nyt_CGA.append([[a.title, a.text]], ignore_index=True)
Nyt_CGA.columns=['Title','Article']
Nyt_CGA['title'] = 'NaN'
Nyt_CGA['article'] = 'NaN'
Nyt_CGA['Incident Name'] = 'Clarkesville'
Nyt_CGA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CGA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CGA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN  Clarkesville

In [111]:
#Killeen, TX
url=['No Articles']
Nyt_KTX =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_KTX= Nyt_KTX.append([[a.title, a.text]], ignore_index=True)
Nyt_KTX.columns=['Title','Article']
Nyt_KTX['title'] = 'NaN'
Nyt_KTX['article'] = 'NaN'
Nyt_KTX['Incident Name'] = 'Killeen'
Nyt_KTX.drop(['Title','Article'], axis=1, inplace=True)
Nyt_KTX.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_KTX

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Killeen

In [112]:
#Charlotte, TX
url=['No Articles']
Nyt_CH =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CH= Nyt_CH.append([[a.title, a.text]], ignore_index=True)
Nyt_CH.columns=['Title','Article']
Nyt_CH['title'] = 'NaN'
Nyt_CH['article'] = 'NaN'
Nyt_CH['Incident Name'] = 'Charlotte'
Nyt_CH.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CH.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CH

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN     Charlotte

In [113]:
#Birmingham's Washington Park
url=['No Articles']
Nyt_BWP =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_BWP= Nyt_BWP.append([[a.title, a.text]], ignore_index=True)
Nyt_BWP.columns=['Title','Article']
Nyt_BWP['title'] = 'NaN'
Nyt_BWP['article'] = 'NaN'
Nyt_BWP['Incident Name'] = 'Birminghams Washington Park'
Nyt_BWP.drop(['Title','Article'], axis=1, inplace=True)
Nyt_BWP.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_BWP

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Birminghams Washington Park

In [114]:
#Tarboro
url=['No Articles']
Nyt_Tar =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Tar= Nyt_Tar.append([[a.title, a.text]], ignore_index=True)
Nyt_Tar.columns=['Title','Article']
Nyt_Tar['title'] = 'NaN'
Nyt_Tar['article'] = 'NaN'
Nyt_Tar['Incident Name'] = 'Tarboro'
Nyt_Tar.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Tar.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Tar

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Tarboro

In [116]:
#Brookhaven
url=['No Articles']
Nyt_Brook =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Brook= Nyt_Brook.append([[a.title, a.text]], ignore_index=True)
Nyt_Brook.columns=['Title','Article']
Nyt_Brook['title'] = 'NaN'
Nyt_Brook['article'] = 'NaN'
Nyt_Brook['Incident Name'] = 'Brookhaven'
Nyt_Brook.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Brook.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Brook

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN    Brookhaven

In [117]:
#CottonWood
url=['No Articles']
Nyt_Cot =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Cot= Nyt_Cot.append([[a.title, a.text]], ignore_index=True)
Nyt_Cot.columns=['Title','Article']
Nyt_Cot['title'] = 'NaN'
Nyt_Cot['article'] = 'NaN'
Nyt_Cot['Incident Name'] = 'Cottonwood'
Nyt_Cot.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Cot.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Cot

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1324: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN    Cottonwood

In [118]:
#Mesa
url379='https://www.nytimes.com/2015/03/19/us/gunman-mesa-arizona.html'
urls=[url379]
Nyt_Mesa =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Mesa= Nyt_Mesa.append([[a.title, a.text]], ignore_index=True)
Nyt_Mesa.columns=['Title','Article']
Nyt_Mesa['Incident Name'] = 'Mesa'
Nyt_Mesa

,Title,Article,Incident Name
0,"Suspect Is Captured After Rampage in Mesa, Ari...",He was a difficult inmate who was punished 11 ...,Mesa

In [120]:
#Little Water
url=['No Articles']
Nyt_LW =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LW= Nyt_LW.append([[a.title, a.text]], ignore_index=True)
Nyt_LW.columns=['Title','Article']
Nyt_LW['title'] = 'NaN'
Nyt_LW['article'] = 'NaN'
Nyt_LW['Incident Name'] = 'Little Water'
Nyt_LW.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LW.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LW

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1206: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN  Little Water

In [121]:
#Panama City Beach
url380='https://www.nytimes.com/2015/03/30/us/panama-city-beach-increases-spring-break-patrols.html'
url381='https://www.nytimes.com/2015/03/29/us/7-wounded-in-spring-break-shooting-in-florida.html'
urls=[url380,url381]
Nyt_PCB =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PCB= Nyt_PCB.append([[a.title, a.text]], ignore_index=True)
Nyt_PCB.columns=['Title','Article']
Nyt_PCB['Incident Name'] = 'Panama City Beach'
Nyt_PCB

,Title,Article,Incident Name
0,Panama City Beach Increases Spring Break Patrols,"PANAMA CITY BEACH, Fla. — A weekend house part...",Panama City Beach
1,7 Wounded in Spring Break Shooting in Florida,Spring break turned bloody when seven people i...,Panama City Beach

In [122]:
#Tulsa
url=['No Articles']
Nyt_Tulsa =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Tulsa= Nyt_Tulsa.append([[a.title, a.text]], ignore_index=True)
Nyt_Tulsa.columns=['Title','Article']
Nyt_Tulsa['title'] = 'NaN'
Nyt_Tulsa['article'] = 'NaN'
Nyt_Tulsa['Incident Name'] = 'Tulsa'
Nyt_Tulsa.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Tulsa.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Tulsa

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN         Tulsa

In [123]:
#Daytona Beach
url=['No Articles']
Nyt_DB =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DB= Nyt_DB.append([[a.title, a.text]], ignore_index=True)
Nyt_DB.columns=['Title','Article']
Nyt_DB['title'] = 'NaN'
Nyt_DB['article'] = 'NaN'
Nyt_DB['Incident Name'] = 'Daytona Beach'
Nyt_DB.drop(['Title','Article'], axis=1, inplace=True)
Nyt_DB.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_DB

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article  Incident Name
0   NaN     NaN  Daytona Beach

In [124]:
#Indianapolis
url=['No Articles']
Nyt_IND =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_IND= Nyt_IND.append([[a.title, a.text]], ignore_index=True)
Nyt_IND.columns=['Title','Article']
Nyt_IND['title'] = 'NaN'
Nyt_IND['article'] = 'NaN'
Nyt_IND['Incident Name'] = 'Indianapolis'
Nyt_IND.drop(['Title','Article'], axis=1, inplace=True)
Nyt_IND.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_IND

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN  Indianapolis

In [125]:
#Rome
url=['No Articles']
Nyt_RO =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RO= Nyt_RO.append([[a.title, a.text]], ignore_index=True)
Nyt_RO.columns=['Title','Article']
Nyt_RO['title'] = 'NaN'
Nyt_RO['article'] = 'NaN'
Nyt_RO['Incident Name'] = 'Rome'
Nyt_RO.drop(['Title','Article'], axis=1, inplace=True)
Nyt_RO.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_RO

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN          Rome

In [126]:
#Phoenix
url=['No Articles']
Nyt_PHO =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PHO= Nyt_PHO.append([[a.title, a.text]], ignore_index=True)
Nyt_PHO.columns=['Title','Article']
Nyt_PHO['title'] = 'NaN'
Nyt_PHO['article'] = 'NaN'
Nyt_PHO['Incident Name'] = 'Phoenix'
Nyt_PHO.drop(['Title','Article'], axis=1, inplace=True)
Nyt_PHO.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_PHO

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Phoenix

In [127]:
#Killeen
url=['No Articles']
Nyt_Kil =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Kil= Nyt_Kil.append([[a.title, a.text]], ignore_index=True)
Nyt_Kil.columns=['Title','Article']
Nyt_Kil['title'] = 'NaN'
Nyt_Kil['article'] = 'NaN'
Nyt_Kil['Incident Name'] = 'Killeen'
Nyt_Kil.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Kil.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Kil

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Killeen

In [128]:
#Gates Pub
url=['No Articles']
Nyt_GP =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GP= Nyt_GP.append([[a.title, a.text]], ignore_index=True)
Nyt_GP.columns=['Title','Article']
Nyt_GP['title'] = 'NaN'
Nyt_GP['article'] = 'NaN'
Nyt_GP['Incident Name'] = 'Gates Pub'
Nyt_GP.drop(['Title','Article'], axis=1, inplace=True)
Nyt_GP.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_GP

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN     Gates Pub

In [130]:
#Milwaukee
url=['No Articles']
Nyt_Mil =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Mil= Nyt_Mil.append([[a.title, a.text]], ignore_index=True)
Nyt_Mil.columns=['Title','Article']
Nyt_Mil['title'] = 'NaN'
Nyt_Mil['article'] = 'NaN'
Nyt_Mil['Incident Name'] = 'Milwaukee'
Nyt_Mil.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Mil.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Mil

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN     Milwaukee

In [131]:
#Fox Cities Trestle Trail bridge over Little Lake Butte des Morts
url=['No Articles']
Nyt_FCTT =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FCTT= Nyt_FCTT.append([[a.title, a.text]], ignore_index=True)
Nyt_FCTT.columns=['Title','Article']
Nyt_FCTT['title'] = 'NaN'
Nyt_FCTT['article'] = 'NaN'
Nyt_FCTT['Incident Name'] = 'Fox Cities Trestle Trail bridge over Little Lake Butte des Morts'
Nyt_FCTT.drop(['Title','Article'], axis=1, inplace=True)
Nyt_FCTT.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_FCTT

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article                                      Incident Name
0   NaN     NaN  Fox Cities Trestle Trail bridge over Little La...

In [132]:
#Tucson
url=['No Articles']
Nyt_Tuc =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Tuc= Nyt_Tuc.append([[a.title, a.text]], ignore_index=True)
Nyt_Tuc.columns=['Title','Article']
Nyt_Tuc['title'] = 'NaN'
Nyt_Tuc['article'] = 'NaN'
Nyt_Tuc['Incident Name'] = 'Tucson'
Nyt_Tuc.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Tuc.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Tuc

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN        Tucson

In [133]:
#Club Maxey's
url=['No Articles']
Nyt_CM =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CM= Nyt_CM.append([[a.title, a.text]], ignore_index=True)
Nyt_CM.columns=['Title','Article']
Nyt_CM['title'] = 'NaN'
Nyt_CM['article'] = 'NaN'
Nyt_CM['Incident Name'] = 'Club Maxeys'
Nyt_CM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN   Club Maxeys

In [134]:
#Cleveland
url=['No Articles']
Nyt_Cle =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Cle= Nyt_Cle.append([[a.title, a.text]], ignore_index=True)
Nyt_Cle.columns=['Title','Article']
Nyt_Cle['title'] = 'NaN'
Nyt_Cle['article'] = 'NaN'
Nyt_Cle['Incident Name'] = 'Cleveland'
Nyt_Cle.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Cle.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Cle

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN     Cleveland

In [135]:
#Conyers
url=['No Articles']
Nyt_Con =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Con= Nyt_Con.append([[a.title, a.text]], ignore_index=True)
Nyt_Con.columns=['Title','Article']
Nyt_Con['title'] = 'NaN'
Nyt_Con['article'] = 'NaN'
Nyt_Con['Incident Name'] = 'Conyers'
Nyt_Con.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Con.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Con

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Conyers

In [136]:
#Deer Lodge
url=['No Articles']
Nyt_DL =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DL= Nyt_DL.append([[a.title, a.text]], ignore_index=True)
Nyt_DL.columns=['Title','Article']
Nyt_DL['title'] = 'NaN'
Nyt_DL['article'] = 'NaN'
Nyt_DL['Incident Name'] = 'Deer Lodge'
Nyt_DL.drop(['Title','Article'], axis=1, inplace=True)
Nyt_DL.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_DL

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1079: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN    Deer Lodge

In [137]:
#Mother Emanuel AME Church
url382='https://www.nytimes.com/2015/06/18/us/church-attacked-in-charleston-south-carolina.html'
url383='https://www.nytimes.com/2015/06/18/magazine/before-charlestons-church-shooting-a-long-history-of-attacks.html'
url384='https://www.nytimes.com/2015/06/18/us/the-charleston-shooting-what-happened.html'
url385='https://www.nytimes.com/2015/06/19/us/charleston-church-shooting.html'
url386='https://parenting.blogs.nytimes.com/2015/06/18/with-charleston-shooting-a-time-to-stop-teaching-children-about-the-history-of-racial-violence/'
url387='https://www.nytimes.com/2015/06/19/us/on-facebook-dylann-roof-charleston-suspect-wears-symbols-of-white-supremacy.html'
url388='https://www.nytimes.com/2015/06/19/us/politics/obama-charleston-shooting.html'
url389='https://takingnote.blogs.nytimes.com/2015/06/18/the-murders-at-mother-emanuel-church-in-charleston/'
url390='https://www.nytimes.com/2015/06/19/us/charleston-killings-evoke-history-of-violence-against-black-churches.html'
url391='https://www.nytimes.com/2015/06/19/opinion/killings-at-a-black-church-in-charleston.html'
url392='https://www.nytimes.com/2015/06/19/opinion/no-sanctuary-in-charleston.html'
url393='https://www.nytimes.com/2015/06/19/us/nine-victims-of-charleston-church-shooting-remembered.html'
url394='https://www.nytimes.com/2015/06/19/us/charleston-shooting-terrorism-or-hate-crime.html'
url395='https://www.nytimes.com/2015/06/19/opinion/henry-louis-gates-if-clementa-pinckney-had-lived.html'
url396='https://www.nytimes.com/2015/06/19/us/watch-victims-families-address-dylann-roof-charleston-shooting-suspect.html'
url397='https://www.nytimes.com/2015/06/19/magazine/white-terrorism-is-as-old-as-america.html'
url398='https://learning.blogs.nytimes.com/2015/06/19/6-qs-about-the-news-charleston-church-shooting-suspect-dylann-storm-roof-is-captured/'
url399='https://www.nytimes.com/2015/06/20/us/charleston-shooting-dylann-storm-roof.html'
url400='https://www.nytimes.com/2015/06/20/us/jon-stewart-addresses-charleston-shooting-in-his-daily-show-monologue.html'
url401='https://www.nytimes.com/2015/06/20/us/charleston-shooting-reignites-debate-about-confederate-flag.html'
url402='https://www.nytimes.com/politics/first-draft/2015/06/19/chris-christie-suggests-that-changing-gun-laws-wont-stop-violence/'
url403='https://www.nytimes.com/times-insider/2015/06/19/breaking-news-the-rush-to-cover-a-shooting-in-charleston/'
url404='https://www.nytimes.com/2015/06/20/us/gun-control-voices-in-congress-all-but-silent-after-charleston-shooting.html'
url405='https://www.nytimes.com/politics/first-draft/2015/06/19/bloombergs-gun-control-group-starts-news-site-after-shooting/'
url406='https://www.nytimes.com/2015/06/20/opinion/the-nation-needs-more-than-mourning-after-charleston.html'
url407='https://www.nytimes.com/2015/06/20/us/steeped-in-racial-history-charleston-reflects-on-its-relationship-with-blacks.html'
url408='https://www.nytimes.com/politics/first-draft/2015/06/19/n-r-a-board-member-deletes-criticism-of-victim-in-church-massacre/'
url409='https://www.nytimes.com/2015/06/20/us/politics/returning-home-to-console-lindsey-graham-joins-the-mourning.html'
url410='https://www.nytimes.com/2015/06/20/us/outrage-vs-tradition-wrapped-in-a-confederate-flag.html'
url411='https://www.nytimes.com/2015/06/20/us/in-charleston-black-church-is-target-again-for-deadly-strike-at-the-heart.html'
url412='https://www.nytimes.com/2015/06/21/arts/radio-djs-offer-comfort-and-community-after-charleston-church-killings.html'
url413='https://www.nytimes.com/2015/06/20/opinion/shock-grief-and-questions-after-killings-in-charleston-church.html'
url414='https://www.nytimes.com/2015/06/21/us/dylann-storm-roof-photos-website-charleston-church-shooting.html'
url415='https://www.nytimes.com/2015/06/21/us/a-day-at-the-statehouse-and-a-night-of-slaughter.html'
url416='https://www.nytimes.com/2015/06/21/opinion/michael-eric-dyson-love-and-terror-in-the-black-church.html'
url417='https://www.nytimes.com/2015/06/21/opinion/sunday/what-is-whiteness.html'
url418='https://www.nytimes.com/2015/06/21/us/politics/hillary-clinton-calls-americas-struggle-with-racism-far-from-over.html'
url419='https://www.nytimes.com/2015/06/21/us/from-ferguson-to-charleston-and-beyond-anguish-about-race-keeps-building.html'
url420='https://www.nytimes.com/2015/06/21/us/after-killings-a-southern-tourist-destination-charleston-remains-calm-and-open.html'
url421='https://www.nytimes.com/2015/06/22/us/ame-church-in-charleston-reopens-as-congregation-mourns-shooting-victims.html'
url422='https://www.nytimes.com/2015/06/22/us/politics/republicans-tread-carefully-in-criticism-of-confederate-flag.html'
url423='https://www.nytimes.com/2015/06/22/nyregion/a-show-of-solidarity-in-harlem-churches-after-charleston-killings.html'
url424='https://www.nytimes.com/2015/06/22/opinion/charles-blow-in-charleston-a-millennial-race-terrorist.html'
url425='https://www.nytimes.com/2015/06/22/magazine/the-condition-of-black-life-is-one-of-mourning.html'
url426='https://www.nytimes.com/2015/06/22/opinion/white-supremacists-without-borders.html'
url427='https://www.nytimes.com/2015/06/22/us/campaign-donations-linked-to-white-supremacist.html'
url428='https://www.nytimes.com/2015/06/23/us/politics/obama-lowers-his-guard-in-unusual-displays-of-emotion.html'
url429='https://www.nytimes.com/politics/first-draft/2015/06/22/today-in-politics-republicans-face-unsteady-path-after-charleston-shooting/'
url430='https://www.nytimes.com/2015/06/23/us/obama-racism-marc-maron-podcast.html'
url431='https://www.nytimes.com/2015/06/23/us/south-carolina-confederate-flag-dylann-roof.html'
url432='https://www.nytimes.com/2015/06/23/us/obama-and-biden-to-attend-funeral-for-clementa-pinckney.html'
url433='https://www.nytimes.com/2015/06/23/opinion/take-down-the-confederate-battle-flag-symbol-of-hatred.html'
url434='https://www.nytimes.com/2015/06/23/us/politics/views-on-race-and-gop-ties-define-group-council-of-conservative-citizens.html'
url435='https://www.nytimes.com/2015/06/23/us/southern-newspaper-front-pages-reflect-shifting-politics-around-a-confederate-flag.html'
url436='https://www.nytimes.com/2015/06/23/opinion/race-guns-a-flag-and-charleston.html'
url437='https://www.nytimes.com/2015/06/24/us/south-carolina-nikki-haley-confederate-flag.html'
url438='https://learning.blogs.nytimes.com/2015/06/23/charlestonsyllabus-a-reading-list-to-contextualize-the-massacre/'
url439='https://www.nytimes.com/2015/06/24/business/amazon-big-retailers-remove-confederate-flag-merchandise.html'
url440='https://www.nytimes.com/2015/06/24/us/charleston-residents-seek-lasting-change-from-moment-of-unity.html'
url441='https://www.nytimes.com/2015/06/24/opinion/why-i-cant-forgive-dylann-roof.html'
url442='https://www.nytimes.com/politics/first-draft/2015/06/23/ben-carson-assails-foes-for-playing-down-race-in-charleston-shooting/'
url443='https://www.nytimes.com/2015/06/24/us/politics/hillary-clinton-says-confederate-flag-shouldnt-fly-anywhere.html'
url444='https://www.nytimes.com/2015/06/24/us/politics/south-carolina-governor-nikki-r-haley-points-to-personal-reasons-not-politics-for-shift-on-confederate-flag.html'
url445='https://www.nytimes.com/2015/06/24/opinion/beyond-the-flag-calling-for-governor-haley-to-do-more.html'
url446='https://www.nytimes.com/2015/06/24/us/politics/supporters-of-confederate-battle-flag-watch-as-symbol-is-stripped-from-public-eye.html'
url447='https://www.nytimes.com/2015/06/24/magazine/racisms-psychological-toll.html'

In [138]:
#Mother Emanuel AME Church
urls=[url382,url383,url384,url385,url386,url387,url388,url389,url390,url391,url392,url393,url394,url395,url396,url397,
     url398,url399,url400,url401,url402,url403,url404,url405,url406,url407,url408,url409,url410,url411,url412,url413,
     url414,url415,url416,url417,url418,url419,url420,url421,url422,url423,url424,url425,url426,url427,url428,url429,
     url430,url431,url432,url433,url434,url435,url436,url436,url437,url438,url439,url440,url441,url442,url443,url444,
     url445,url446,url447]
Nyt_MEAMEC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MEAMEC= Nyt_MEAMEC.append([[a.title, a.text]], ignore_index=True)
Nyt_MEAMEC.columns=['Title','Article']
Nyt_MEAMEC['Incident Name'] = 'Mother Emanuel AME Church'
Nyt_MEAMEC

,Title,Article,Incident Name
0,Nine Killed in Shooting at Black Church in Cha...,"Eight people died at the scene, Chief Mullen s...",Mother Emanuel AME Church
1,"Before Charleston’s Church Shooting, a Long Hi...",Denmark’s life took yet another turn in the fa...,Mother Emanuel AME Church
2,The Charleston Shooting: What Happened,Photo\n\nA 21-year-old white man is suspected ...,Mother Emanuel AME Church
3,Church Massacre Suspect Held as Charleston Gri...,"Video\n\nCHARLESTON, S.C. — The mass murder of...",Mother Emanuel AME Church
4,"With Charleston Shooting, a Time to Stop Teach...",Photo\n\nIn the wake of violence and tragedies...,Mother Emanuel AME Church
5,"Dylann Roof, Suspect in Charleston Shooting, F...","Photo\n\nLEXINGTON, S.C. — The Facebook profil...",Mother Emanuel AME Church
6,"After Charleston Shooting, a Sense at the Whit...",Video\n\nWASHINGTON — The shooting massacre of...,Mother Emanuel AME Church
7,The Murders at Mother Emanuel Church in Charle...,Photo\n\nThe shooting in Charleston on Wednesd...,Mother Emanuel AME Church
8,Killings Add Painful Page to Storied History o...,"Intentionally or not, the gunman had found in ...",Mother Emanuel AME Church
9,Killings at a Black Church in Charleston,Photo\n\nTo the Editor:\n\nAs someone who has ...,Mother Emanuel AME Church
10,No Sanctuary in Charleston,Emanuel African Methodist Episcopal Church pla...,Mother Emanuel AME Church
11,"Recalling Nine Spiritual Mentors, Gunned Down ...","But it was his personality, even more than his...",Mother Emanuel AME Church
12,"Many Ask, Why Not Call Church Shooting Terrorism?",“We have been conditioned to accept that if th...,Mother Emanuel AME Church
13,Henry Louis Gates: If Clementa Pinckney Had Lived,"All of these things, this quietly impressive m...",Mother Emanuel AME Church
14,"Watch: Victims’ Families Address Dylann Roof, ...",Video\n\nRelatives of churchgoers killed in a ...,Mother Emanuel AME Church
15,White Terrorism Is as Old as America,Photo\n\nMy grandmother used to speak of Klans...,Mother Emanuel AME Church
16,Church Massacre Suspect Held as Charleston Gri...,Slide Show\n\n6 Q’s About the News Read the ar...,Mother Emanuel AME Church
17,"In Charleston, Raw Emotion at Hearing for Susp...",“You have killed some of the most beautifulest...,Mother Emanuel AME Church
18,Jon Stewart Addresses Charleston Shooting in ‘...,"Photo\n\nFor the past 16 years, a major part o...",Mother Emanuel AME Church
19,Charleston Shooting Reignites Debate About Con...,A Haley spokesman told ABC that use of the Con...,Mother Emanuel AME Church
20,Chris Christie Suggests That Changing Gun Laws...,Photo\n\nSpeaking in the wake of the church sh...,Mother Emanuel AME Church
21,Breaking News: The Rush to Cover a Shooting in...,Photo\n\nSteve Kenny is a senior editor on the...,Mother Emanuel AME Church
22,Gun Control Voices in Congress All but Silent ...,“If Congress had passed some common-sense gun ...,Mother Emanuel AME Church
23,Bloomberg's Gun-Control Group Funds News Site ...,Photo\n\nMichael R. Bloomberg’s gun-control gr...,Mother Emanuel AME Church
24,Beyond Mourning for Charleston,Photo\n\nThe horrific church shooting in Charl...,Mother Emanuel AME Church
25,"Steeped in Racial History, Charleston Ponders ...",But some here fear that this same success has ...,Mother Emanuel AME Church
26,N.R.A. Board Member Deletes Criticism of Victi...,"Faced with an online backlash, a member of the...",Mother Emanuel AME Church
27,"Returning Home to Console, Lindsey Graham Join...","“It’s hard for people, particularly in the Sou...",Mother Emanuel AME Church
28,"Outrage vs. Tradition, Wrapped in a High-Flyin...","For years, the flag flew above the State House...",Mother Emanuel AME Church
29,Black Church Is Target Again for Deadly Strike...,"“You attack the center, whatever you think is ...",Mother Emanuel AME Church
...,...,...,...
37,"From Ferguson to Charleston and Beyond, Anguis...","Mr. Graham later amended his remarks, calling ...",Mother Emanuel AME Church
38,"After Killings, a Southern Tourist Destination...",“You can’t let something like that stop your l...,Mother Emanuel AME Church
39,Defiant Show of Unity in Charleston Church Tha...,"Later, with his voice roaring, Mr. Goff added,...",Mother Emanuel AME Church
40,Republicans Tread Carefully in Criticism of Co...,Gov. Scott Walker of Wisconsin begged off from...,Mother Emanuel AME Church
41,A Show of Solidarity in Harlem Churches After ...,The hurt could be felt in the solemnity of Sun...,Mother Emanuel AME Church
42,"In Charleston, a Millennial Race Terrorist",This was a savage act of barbarism by a young ...,Mother Emanuel AME Church
43,‘The Condition of Black Life Is One of Mourning’,The decision not to release photos of the crim...,Mother Emanuel AME Church
44,White Supremacists Without Borders,The end of white rule in Rhodesia (now Zimbabw...,Mother Emanuel AME Church
45,White Supremacist Who Influenced Charleston Su...,Photo\n\nThe leader of a white supremacist gro...,Mother Emanuel AME Church
46,Obama Lowers His Guard in Unusual Displays of ...,"“I turned to my wife and said, ‘My God, if he’...",Mother Emanuel AME Church
47,Today in Politics: Republicans Face Unsteady P...,Photo\n\nGood Monday morning from Washington. ...,Mother Emanuel AME Church
48,"Making a Point, Obama Invokes a Painful Slur","“I got called that name numerous times,” Mr. M...",Mother Emanuel AME Church
49,"Nikki Haley, South Carolina Governor, Calls fo...","On Monday, the White House announced that Pres...",Mother Emanuel AME Church
50,Obama and Biden to Attend Funeral for Clementa...,Photo\n\nWASHINGTON — President Obama will fly...,Mother Emanuel AME Church
51,"Take Down the Confederate Flag, Symbol of Hatred",Photo\n\nGov. Nikki Haley of South Carolina ac...,Mother Emanuel AME Church
52,Council of Conservative Citizens Promotes Whit...,"But those contributions, first reported by The...",Mother Emanuel AME Church
53,Southern Front Pages Reflect Shifting Politics,"Throughout South Carolina, newspapers treated ...",Mother Emanuel AME Church
54,"Race, Guns, a Flag and Charleston",An outsider — a person who came to our city to...,Mother Emanuel AME Church
55,"Race, Guns, a Flag and Charleston",An outsider — a person who came to our city to...,Mother Emanuel AME Church
56,Calls to Drop Confederate Emblems Spread Natio...,"And in Mississippi, the state’s House speaker,...",Mother Emanuel AME Church
57,#CharlestonSyllabus: A Reading List to Context...,"Slide Show\n\nLast summer, when the unrest in ...",Mother Emanuel AME Church
58,Confederate Flag Sales Soar as Retailers Pull ...,"More than 29,000 such offerings could be found...",Mother Emanuel AME Church
59,Charleston Residents Seek Lasting Change From ...,There is hope — many cheered Gov. Nikki R. Hal...,Mother Emanuel AME Church
60,Why I Can’t Forgive Dylann Roof,Forgiveness does not come easily to me. I am f...,Mother Emanuel AME Church
61,Ben Carson Assails Foes for Playing Down Race ...,"Photo\n\nBen Carson, the retired neurosurgeon ...",Mother Emanuel AME Church
62,Hillary Clinton Says Confederate Flag ‘Shouldn...,"Mrs. Clinton, a Democratic candidate for presi...",Mother Emanuel AME Church
63,South Carolina Governor Points to Personal Rea...,The incendiary issue of the flag was one that ...,Mother Emanuel AME Church
64,Beyond the Flag: Calling for Governor Haley to...,To the Editor:\n\nRe “Governor Joins the Call ...,Mother Emanuel AME Church
65,Flag Supporters React With a Mix of Compromise...,"Resistance to this push has varied, with some ...",Mother Emanuel AME Church
66,Racism’s Psychological Toll,What is race-based stress and trauma?\n\nIt’s ...,Mother Emanuel AME Church

In [139]:
#Boom Boom Room
url=['No Articles']
Nyt_BBM =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_BBM= Nyt_BBM.append([[a.title, a.text]], ignore_index=True)
Nyt_BBM.columns=['Title','Article']
Nyt_BBM['title'] = 'NaN'
Nyt_BBM['article'] = 'NaN'
Nyt_BBM['Incident Name'] = 'Boom Boom Room'
Nyt_BBM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_BBM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_BBM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1340: Tag nav invalid

  Title Article   Incident Name
0   NaN     NaN  Boom Boom Room

In [140]:
#Annual motorcycle event in Newark
url=['No Articles']
Nyt_AMNJ =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AMNJ= Nyt_AMNJ.append([[a.title, a.text]], ignore_index=True)
Nyt_AMNJ.columns=['Title','Article']
Nyt_AMNJ['title'] = 'NaN'
Nyt_AMNJ['article'] = 'NaN'
Nyt_AMNJ['Incident Name'] = 'Annual motorcycle event in Newark'
Nyt_AMNJ.drop(['Title','Article'], axis=1, inplace=True)
Nyt_AMNJ.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_AMNJ

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1340: Tag nav invalid

  Title Article                      Incident Name
0   NaN     NaN  Annual motorcycle event in Newark

In [141]:
#Miami Gardens
url=['No Articles']
Nyt_MG =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MG= Nyt_MG.append([[a.title, a.text]], ignore_index=True)
Nyt_MG.columns=['Title','Article']
Nyt_MG['title'] = 'NaN'
Nyt_MG['article'] = 'NaN'
Nyt_MG['Incident Name'] = 'Miami Gardens'
Nyt_MG.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MG.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MG

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1340: Tag nav invalid

  Title Article  Incident Name
0   NaN     NaN  Miami Gardens

In [142]:
#River Forest
url=['No Articles']
Nyt_RF =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RF= Nyt_RF.append([[a.title, a.text]], ignore_index=True)
Nyt_RF.columns=['Title','Article']
Nyt_RF['title'] = 'NaN'
Nyt_RF['article'] = 'NaN'
Nyt_RF['Incident Name'] = 'River Forest'
Nyt_RF.drop(['Title','Article'], axis=1, inplace=True)
Nyt_RF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_RF

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1340: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN  River Forest

In [143]:
url448='https://www.nytimes.com/2015/07/17/us/chattanooga-tennessee-shooting.html'
url449='https://www.nytimes.com/2015/07/17/us/chattanooga-shooting-suspect-was-ordinary-boy-neighbors-recall.html'
url450='https://www.nytimes.com/2015/07/17/us/chattanooga-mosque-where-gunman-worshiped-mourns-marines.html'
url451='https://www.nytimes.com/2015/07/18/us/chattanooga-gunmans-past-scoured-for-extremist-ties.html'
url452='https://takingnote.blogs.nytimes.com/2015/07/17/republican-doublethink-on-mass-shootings-scott-walker-edition/'
url453='https://www.nytimes.com/2015/07/18/us/marines-killed-in-chattanooga-are-mourned-by-friends.html'
url454='https://www.nytimes.com/2015/07/18/us/what-is-known-about-the-chattanooga-gunman.html'
url455='https://www.nytimes.com/2015/07/18/us/after-chattanooga-killings-military-recruiters-carry-on.html'
url456='https://www.nytimes.com/2015/07/18/us/at-chattanooga-mosque-grief-mixes-with-fear-of-revenge.html'
url457='https://www.nytimes.com/times-insider/2015/07/18/after-chattanooga-shooting-readers-debate-where-to-place-blame/'
url458='https://www.nytimes.com/2015/07/19/us/family-troubles-before-killings-in-chattanooga.html'
url459='https://www.nytimes.com/2015/07/19/us/chattanooga-attacks-claim-a-5th-military-service-members-life.html'
url460='https://www.nytimes.com/2015/07/20/us/chattanooga-wears-pride-beside-its-pain-after-killings.html'
url461='https://www.nytimes.com/2015/07/21/us/chattanooga-gunman-wrote-of-suicide-and-martyrdom-official-says.html'
url462='https://www.nytimes.com/2015/07/21/us/military-orders-recruiting-centers-to-increase-security.html'
url463='https://www.nytimes.com/2015/07/22/us/chattanooga-gunman-mohammod-abdulazeez.html'
url464='https://www.nytimes.com/2015/07/22/us/obama-orders-flags-lowered-for-chattanooga-victims.html'
url465='https://www.nytimes.com/2015/07/23/us/chattanooga-tennessee-shooting-investigation-mohammod-abdulazeez.html'
url466='https://www.nytimes.com/2015/07/23/us/armed-and-determined-civilians-look-to-prevent-another-chattanooga.html'
url467='https://www.nytimes.com/2015/07/23/opinion/can-mass-shootings-be-predicted.html'

In [145]:
#Amnicola Training Center, Chattanooga
urls=[url448,url449,url450,url451,url452,url453,url454,url455,url456,url457,url458,url459,url460,url461,url462,
     url463,url464,url465,url466,url467]
Nyt_CATC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CATC= Nyt_CATC.append([[a.title, a.text]], ignore_index=True)
Nyt_CATC.columns=['Title','Article']
Nyt_CATC['Incident Name'] = 'Amnicola Training Center, Chattanooga'
Nyt_CATC

,Title,Article,Incident Name
0,Gunman Kills 4 Marines at Military Site in Cha...,"The separate rampages, at an armed services re...","Amnicola Training Center, Chattanooga"
1,Chattanooga Gunman Mohammod Youssuf Abdulazeez...,"For more than a decade, Mr. Abdulazeez, his pa...","Amnicola Training Center, Chattanooga"
2,Chattanooga Mosque Where Gunman Worshiped Mour...,"Photo\n\nCHATTANOOGA, Tenn. — In the past two ...","Amnicola Training Center, Chattanooga"
3,Inquiry Focusing on Chattanooga Gunman’s Trip ...,"“We are exploring all travel he has done, and ...","Amnicola Training Center, Chattanooga"
4,Republican Doublethink on Mass Shootings: Scot...,"Photo\n\nGovernor Scott Walker of Wisconsin, w...","Amnicola Training Center, Chattanooga"
5,"As Chattanooga Death Toll Rises, Mourning Deat...","“The shock is that it could happen here,” said...","Amnicola Training Center, Chattanooga"
6,What Is Known About the Chattanooga Gunman,Photo\n\nInvestigators have identified Mohammo...,"Amnicola Training Center, Chattanooga"
7,Military Recruiting Centers Keep Their Doors O...,What may be the most visible recruiting center...,"Amnicola Training Center, Chattanooga"
8,"At a Mosque, Grief Mixes With Fear of Revenge","Unlike Elton Simpson, who was on the radar of ...","Amnicola Training Center, Chattanooga"
9,"After Chattanooga Shooting, Readers Debate Whe...",Photo\n\nLela Moore is a news assistant and co...,"Amnicola Training Center, Chattanooga"
10,Family Troubles Before Killings in Chattanooga,Detecting a Change\n\n“All indications from th...,"Amnicola Training Center, Chattanooga"
11,Federal Inquiry Scrutinizes Chattanooga Gunman...,The law enforcement official also said Saturda...,"Amnicola Training Center, Chattanooga"
12,Chattanooga Wears Pride Beside Its Pain After ...,"Still, the emotions were particularly raw here...","Amnicola Training Center, Chattanooga"
13,"In Chattanooga, a Young Man in a Downward Spiral",Mr. Abdulazeez had suffered for years from dep...,"Amnicola Training Center, Chattanooga"
14,Military Has Security Tightened for Recruiters...,WASHINGTON — The military has ordered recruiti...,"Amnicola Training Center, Chattanooga"
15,Chattanooga Gunman Researched Islamic Martyrdo...,“In the ISIS model it’s all about social media...,"Amnicola Training Center, Chattanooga"
16,Obama Orders Flags Lowered for Chattanooga Vic...,Photo\n\nWASHINGTON — President Obama on Tuesd...,"Amnicola Training Center, Chattanooga"
17,Slain Troops in Chattanooga Saved Lives Before...,“A service member from inside the facility obs...,"Amnicola Training Center, Chattanooga"
18,"Armed and Determined, Civilians Look to Preven...",Mr. D — who has legally changed his last name ...,"Amnicola Training Center, Chattanooga"
19,Can Mass Shootings Be Predicted?,To the Editor:\n\nRegarding the troubled perso...,"Amnicola Training Center, Chattanooga"

In [146]:
#Suwanee
url=['No Articles']
Nyt_Suw =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Suw= Nyt_Suw.append([[a.title, a.text]], ignore_index=True)
Nyt_Suw.columns=['Title','Article']
Nyt_Suw['title'] = 'NaN'
Nyt_Suw['article'] = 'NaN'
Nyt_Suw['Incident Name'] = 'Suwanee'
Nyt_Suw.drop(['Title','Article'], axis=1, inplace=True)
Nyt_Suw.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_Suw

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1012: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN       Suwanee

In [147]:
#Grand 16 Theatre, Louisiana
url468='https://www.nytimes.com/2015/07/24/us/shooting-at-lafayette-la-movie-theater.html'
url469='https://www.nytimes.com/2015/07/25/us/lafayette-theater-shooting-john-houser.html'
url470='https://www.nytimes.com/2015/07/25/us/witnesses-describe-chaos-as-lafayette-la-shooting-unfolded.html'
url471='https://www.nytimes.com/2015/07/25/us/politics/presidential-candidates-denounce-violence-but-avoid-talk-of-policy.html'
url472='https://www.nytimes.com/2015/07/25/us/lost-in-lafayette-gunfire-two-with-bright-futures.html'
url473='https://www.nytimes.com/2015/07/27/us/politics/bobby-jindal-calls-for-states-to-follow-louisianas-example-in-toughening-gun-laws.html'
url474='https://www.nytimes.com/2015/07/28/us/an-outpouring-of-support-as-two-towns-mourn-lafayette-shooting-victims.html'
urls=[url468,url469,url470,url471,url472,url473,url474]
Nyt_16LA =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_16LA= Nyt_16LA.append([[a.title, a.text]], ignore_index=True)
Nyt_16LA.columns=['Title','Article']
Nyt_16LA['Incident Name'] = 'Grand 16 Theatre, Louisiana'
Nyt_16LA

,Title,Article,Incident Name
0,Gunman Kills 2 and Himself at Movie Theater in...,"Not sure that he is from Louisiana, Chief Craf...","Grand 16 Theatre, Louisiana"
1,Lafayette Shooting Adds Another Angry Face in ...,"Given his history, he should not have been all...","Grand 16 Theatre, Louisiana"
2,"Witnesses Describe Chaos as Lafayette, La., Sh...","Photo\n\nOn Thursday, a gunman opened fire in ...","Grand 16 Theatre, Louisiana"
3,"Presidential Candidates Denounce Violence, but...",The leading Republican presidential candidates...,"Grand 16 Theatre, Louisiana"
4,"Lost in Lafayette Gunfire, Two With Bright Fut...","LAFAYETTE, La. — It seems that everybody in La...","Grand 16 Theatre, Louisiana"
5,Bobby Jindal Calls for States to Follow Louisi...,“I think every state should strengthen their l...,"Grand 16 Theatre, Louisiana"
6,An Outpouring of Support as Two Towns Mourn La...,“This whole town is mourning. It’s unbelievabl...,"Grand 16 Theatre, Louisiana"

In [148]:
#Houston, Texas
url475='https://www.nytimes.com/2015/08/10/us/8-people-found-dead-inside-texas-home-after-arrest.html'
urls=[url475]
Nyt_HOTX =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HOTX= Nyt_HOTX.append([[a.title, a.text]], ignore_index=True)
Nyt_HOTX.columns=['Title','Article']
Nyt_HOTX['Incident Name'] = 'Houston, Texas'
Nyt_HOTX

,Title,Article,Incident Name
0,Man Charged After 8 Members of Texas Family Ar...,It was unclear how the deputies knew Mr. Conle...,"Houston, Texas"

In [150]:
#Parking lot near Boys and Girls Club
url476='https://www.nytimes.com/2015/08/21/nyregion/three-fatally-shot-in-drive-by-shooting-in-rochester.html'
urls=[url476]
Nyt_BGC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_BGC= Nyt_BGC.append([[a.title, a.text]], ignore_index=True)
Nyt_BGC.columns=['Title','Article']
Nyt_BGC['Incident Name'] = 'Parking lot near Boys and Girls Club'
Nyt_BGC

,Title,Article,Incident Name
0,3 Killed in Drive-By Shooting in Rochester,Three people were shot and killed after a bask...,Parking lot near Boys and Girls Club

In [151]:
#Virginia WDBJ live TV interview shooting
url477='https://www.nytimes.com/2015/08/27/us/wdbj7-virginia-journalists-shot-during-live-broadcast.html'
url478='https://www.nytimes.com/2015/08/27/technology/personaltech/violence-gone-viral-in-a-well-planned-rollout-on-social-media.html'
url479='https://www.nytimes.com/2015/08/27/us/documents-show-virginia-shooting-suspects-turbulent-tenure-at-tv-station.html'
url480='https://www.nytimes.com/2015/08/27/opinion/killings-of-journalists-brings-gun-violence-to-dark-new-level.html'
url481='https://www.nytimes.com/2015/08/27/us/viewers-of-virginia-tv-station-wake-up-to-watch-a-nightmare.html'
url482='https://www.nytimes.com/2015/08/28/us/virginia-tv-shooting-bryce-williams.html'
url483='https://www.nytimes.com/2015/08/27/opinion/when-the-tragedy-youre-covering-is-your-own.html'
url484='https://www.nytimes.com/2015/08/28/business/media/outrage-over-images-of-tv-shooting-on-newspaper-front-pages.html'
url485='https://www.nytimes.com/2015/08/28/us/virginia-shooting-spotlights-riddle-of-workplace-safety.html'
url486='https://www.nytimes.com/2015/08/28/us/virginia-killings-andy-parker-father-flash-point-politicians.html'
url487='https://www.nytimes.com/2015/08/28/us/vester-lee-flanagan-grievances-homicidal-explosion.html'
url488='https://www.nytimes.com/2015/08/29/us/wdbj-virginia-shooting-bryce-williams-victim-vicki-gardner.html'
urls=[url477,url478,url479,url480,url481,url482,url483,url484,url485,url486,url487,url488]
Nyt_WDBJ =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WDBJ= Nyt_WDBJ.append([[a.title, a.text]], ignore_index=True)
Nyt_WDBJ.columns=['Title','Article']
Nyt_WDBJ['Incident Name'] = 'Virginia WDBJ live TV interview shooting'
Nyt_WDBJ

,Title,Article,Incident Name
0,Ex-Broadcaster Kills 2 on Air in Virginia Shoo...,"Around 6:45 a.m., the shooting began.\n\nThe s...",Virginia WDBJ live TV interview shooting
1,"Virginia Shooting Gone Viral, in a Well-Planne...",Twitter and Facebook moved quickly to suspend ...,Virginia WDBJ live TV interview shooting
2,Documents Show Vester Lee Flanagan’s Turbulent...,"Photo\n\nIn March 2012, Vester Lee Flanagan II...",Virginia WDBJ live TV interview shooting
3,Killings of Journalists Bring Gun Violence to ...,Photo\n\nIt is an increasingly horrific fact o...,Virginia WDBJ live TV interview shooting
4,Viewers of Virginia TV Station Wake Up to Watc...,Kara Chandler was watching Channel 7’s morning...,Virginia WDBJ live TV interview shooting
5,"After Virginia TV Shooting, Grief and Calls fo...","“I’m going to do something, whatever it takes,...",Virginia WDBJ live TV interview shooting
6,When the Tragedy You’re Covering Is Your Own,"Though I left the paper more than a year ago, ...",Virginia WDBJ live TV interview shooting
7,Outrage Over Images of TV Shooting on Newspape...,“Showing the shooter in that context felt more...,Virginia WDBJ live TV interview shooting
8,Virginia Shooting Spotlights Riddle of Workpla...,It is a nightmare for any employer: what to do...,Virginia WDBJ live TV interview shooting
9,Virginia Killings Produce Vow From Alison Park...,Grief-stricken parents in other communities sy...,Virginia WDBJ live TV interview shooting
10,"A Life of Listing Grievances, and Then Virgini...","Mr. Flanagan grew up in Oakland, Calif., in a ...",Virginia WDBJ live TV interview shooting
11,"Virginia Shooting Victims Were Hit in Head, Au...",Mr. Flanagan missed “a couple of times” before...,Virginia WDBJ live TV interview shooting

In [152]:
#Bristol, Tennessee
url=['No Articles']
Nyt_BTN =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_BTN= Nyt_BTN.append([[a.title, a.text]], ignore_index=True)
Nyt_BTN.columns=['Title','Article']
Nyt_BTN['title'] = 'NaN'
Nyt_BTN['article'] = 'NaN'
Nyt_BTN['Incident Name'] = 'Bristol, Tennessee'
Nyt_BTN.drop(['Title','Article'], axis=1, inplace=True)
Nyt_BTN.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_BTN

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1468: Tag nav invalid

  Title Article       Incident Name
0   NaN     NaN  Bristol, Tennessee

In [154]:
#Clearbrook (Greenwood), Minnesota
url489='https://www.nytimes.com/2015/09/12/us/minnesota-murder-suicide-was-result-of-shootings.html'
url490='https://www.nytimes.com/2015/09/11/us/minnesota-five-in-family-found-dead-in-home.html'
url491='https://www.nytimes.com/2015/09/12/us/after-death-of-family-of-five-in-minnesota-a-search-for-answers.html'
urls=[url489,url490,url491]
Nyt_CMN =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CMN= Nyt_CMN.append([[a.title, a.text]], ignore_index=True)
Nyt_CMN.columns=['Title','Article']
Nyt_CMN

,Title,Article
0,Minnesota: Murder-Suicide Was Result of Shootings,Five family members who were killed in what th...
1,Minnesota: Five in Family Found Dead in Home,"Five family members, including three children,..."
2,"After Death of Family of Five in Minnesota, a ...",Photo\n\nFive members of a family who were fou...

In [155]:
#Platte, South Dakota
url=['No Articles']
Nyt_PSD =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PSD= Nyt_PSD.append([[a.title, a.text]], ignore_index=True)
Nyt_PSD.columns=['Title','Article']
Nyt_PSD['title'] = 'NaN'
Nyt_PSD['article'] = 'NaN'
Nyt_PSD['Incident Name'] = 'Bristol, Tennessee'
Nyt_PSD.drop(['Title','Article'], axis=1, inplace=True)
Nyt_PSD.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_PSD

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1214: Tag nav invalid

  Title Article       Incident Name
0   NaN     NaN  Bristol, Tennessee

In [156]:
#Umpqua CC Urls
url492='https://www.nytimes.com/2015/10/02/us/oregon-shooting-umpqua-community-college.html'
url493='https://www.nytimes.com/2015/10/02/us/obama-oregon-shooting-umpqua-community-college-gun-control.html'
url494='https://www.nytimes.com/2015/10/03/us/chris-harper-mercer-umpqua-community-college-shooting.html'
url495='https://www.nytimes.com/2015/10/03/us/oregon-shooting-umpqua-chris-harper-mercer.html'
url496='https://www.nytimes.com/2015/10/03/opinion/calls-for-gun-control-after-oregon-college-shooting.html'
url497='https://www.nytimes.com/2015/10/03/opinion/the-political-ritual-after-mass-shootings.html'
url498='https://www.nytimes.com/politics/first-draft/2015/10/02/nancy-pelosi-calls-for-a-new-house-committee-to-address-gun-violence/'
url499='https://www.nytimes.com/2015/10/03/us/oregon-sheriff-shared-sandy-hook-conspiracy-theory-on-facebook.html'
url500='https://www.nytimes.com/2015/10/03/us/oregon-shooting-victims-umpqua-community-college-students.html'
url501='https://www.nytimes.com/2015/10/03/nyregion/cuomo-criticizes-political-response-to-mass-shootings-renews-call-for-tougher-gun-laws.html'
url502='https://www.nytimes.com/2015/10/04/us/confusion-horror-and-heroism-in-oregon-shooting.html'
url503='https://www.nytimes.com/2015/10/04/us/mass-murderers-fit-profile-as-do-many-others-who-dont-kill.html'
url504='https://www.nytimes.com/2015/10/04/us/death-of-gunman-in-oregon-college-shootings-is-ruled-suicide.html'
url505='https://www.nytimes.com/politics/first-draft/2015/10/04/donald-trump-says-shootings-will-happen-no-matter-what/'
url506='https://www.nytimes.com/2015/10/05/us/in-close-knit-oregon-community-few-are-untouched-by-college-killings.html'
url507='https://www.nytimes.com/2015/10/06/us/politics/bernie-sanders-hillary-clinton-gun-control.html'
url508='https://www.nytimes.com/2015/10/06/us/mother-of-oregon-gunman-wrote-of-keeping-firearms.html'
url509='https://www.nytimes.com/2015/10/06/us/mother-of-oregon-gunman-wrote-of-keeping-firearms.html'
url510='https://www.nytimes.com/2015/10/06/us/obama-to-meet-families-of-oregon-shooting-victims.html'
url511='https://www.nytimes.com/2015/10/07/us/campus-security-teams-try-to-learn-from-each-new-attack.html'
url512='https://www.nytimes.com/2015/10/08/us/oregon-roseburg-shooting-umpqua-community-college.html'
url513='https://takingnote.blogs.nytimes.com/2015/10/07/the-wrong-way-to-talk-about-guns/'

In [157]:
#Umpqua Community College
urls=[url492,url493,url494,url495,url496,url497,url498,url499,url500,url501,url502,url503,url504,url505,url506,
     url507,url508,url509,url510,url511,url512,url513]
Nyt_UCC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_UCC= Nyt_UCC.append([[a.title, a.text]], ignore_index=True)
Nyt_UCC.columns=['Title','Article']
Nyt_UCC['Incident Name'] = 'Umpqua Community College'
Nyt_UCC

,Title,Article,Incident Name
0,"Oregon Shooting at Umpqua College Kills 10, Sh...",A friend of the injured woman dragged her into...,Umpqua Community College
1,"Obama Condemns ‘Routine’ of Mass Shootings, Sa...","Andrew Arulanandam, a spokesman for the N.R.A....",Umpqua Community College
2,"Oregon Killer Described as Man of Few Words, E...","Video\n\nROSEBURG, Ore. — Christopher Harper-M...",Umpqua Community College
3,"In Note Left Behind, Gunman ‘Did Not Like His ...","Photo\n\nROSEBURG, Ore. — The gunman who kille...",Umpqua Community College
4,Calls for Gun Control After Oregon College Sho...,Photo\n\nTo the Editor:\n\nRe “Gunman Attacks ...,Umpqua Community College
5,The Political Ritual After Mass Shootings,The contrast could not be greater between the ...,Umpqua Community College
6,Nancy Pelosi Calls for a New House Committee t...,Photo\n\nCiting the shootings at a community c...,Umpqua Community College
7,Oregon Sheriff Shared Sandy Hook Conspiracy Th...,Photo\n\nAs the national debate over gun contr...,Umpqua Community College
8,"A Snapshot of Students Lost: Young and Old, bu...","Video\n\nROSEBURG, Ore. — The instructor was a...",Umpqua Community College
9,"Cuomo, Citing Oregon Shooting, Criticizes Fail...","In January 2013, Mr. Cuomo won approval of a s...",Umpqua Community College
10,"Confusion, Horror and Heroism in Oregon Shooting","Photo\n\nROSEBURG, Ore. — Twenty-year-old Marc...",Umpqua Community College
11,"Mass Murderers Fit Profile, as Do Many Others ...",Photo\n\nThey have become one of the most noto...,Umpqua Community College
12,Oregon Gunman’s Father Dismayed by Lack of Gun...,"Video\n\nROSEBURG, Ore. — The father of the gu...",Umpqua Community College
13,Donald Trump Says Shootings Will Happen 'No Ma...,Photo\n\nDonald J. Trump can usually offer up ...,Umpqua Community College
14,"In Close-Knit Oregon Community, Few Are Untouc...","In this rural, economically struggling corner ...",Umpqua Community College
15,"Bernie Sanders, a Hunting-State Senator, Tread...",While Mr. Sanders has outflanked Hillary Rodha...,Umpqua Community College
16,Oregon Killer’s Mother Wrote of Troubled Son a...,Ms. Harper did not respond to messages seeking...,Umpqua Community College
17,Oregon Killer’s Mother Wrote of Troubled Son a...,Ms. Harper did not respond to messages seeking...,Umpqua Community College
18,Obama to Meet Families of Oregon Shooting Victims,WASHINGTON — President Obama will travel to Ro...,Umpqua Community College
19,"After One Campus Is Attacked, the Others Adapt","Across the country, security officers fret tha...",Umpqua Community College
20,Common Response After Killings in Oregon: ‘I W...,"The language got so angry that on Tuesday, the...",Umpqua Community College
21,The Wrong Way to Talk About Guns,Photo\n\nThe massacre at Umpqua Community Coll...,Umpqua Community College

In [158]:
#Northern Arizona University at Flagstaff Campus
url514='https://www.nytimes.com/2015/10/10/us/northern-arizona-university-flagstaff-shooting.html'
url515='https://www.nytimes.com/2015/10/10/us/campus-shootings-texas-arizona.html'
urls=[url514,url515]
Nyt_NAU =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_NAU= Nyt_NAU.append([[a.title, a.text]], ignore_index=True)
Nyt_NAU.columns=['Title','Article']
Nyt_NAU['Incident Name'] = 'Northern Arizona University at Flagstaff Campus'
Nyt_NAU

,Title,Article,Incident Name
0,Student Is Killed in Shooting at Northern Ariz...,Photo\n\nOne student was killed and three were...,Northern Arizona University at Flagstaff Campus
1,Campus Shootings in Texas and Arizona Kill 2 S...,"A student, Colin Brough, was killed, and the t...",Northern Arizona University at Flagstaff Campus

In [159]:
#King, North Carolina
url=['No Articles']
Nyt_KNC =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_KNC= Nyt_KNC.append([[a.title, a.text]], ignore_index=True)
Nyt_KNC.columns=['Title','Article']
Nyt_KNC['title'] = 'NaN'
Nyt_KNC['article'] = 'NaN'
Nyt_KNC['Incident Name'] = 'King, North Carolina'
Nyt_KNC.drop(['Title','Article'], axis=1, inplace=True)
Nyt_KNC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_KNC

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1366: Tag nav invalid

  Title Article         Incident Name
0   NaN     NaN  King, North Carolina

In [161]:
#Hill Haven Event Center (Formerly Club CJ's)
url=['No Articles']
Nyt_HHEC =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HHEC= Nyt_HHEC.append([[a.title, a.text]], ignore_index=True)
Nyt_HHEC.columns=['Title','Article']
Nyt_HHEC['title'] = 'NaN'
Nyt_HHEC['article'] = 'NaN'
Nyt_HHEC['Incident Name'] = 'Hill Haven Event Center (Formerly Club CJs)'
Nyt_HHEC.drop(['Title','Article'], axis=1, inplace=True)
Nyt_HHEC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_HHEC

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1366: Tag nav invalid

  Title Article                                Incident Name
0   NaN     NaN  Hill Haven Event Center (Formerly Club CJs)

In [162]:
#Colerain Township, Ohio
url=['No Articles']
Nyt_CTO =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CTO= Nyt_CTO.append([[a.title, a.text]], ignore_index=True)
Nyt_CTO.columns=['Title','Article']
Nyt_CTO['title'] = 'NaN'
Nyt_CTO['article'] = 'NaN'
Nyt_CTO['Incident Name'] = 'Colerain Township, Ohio'
Nyt_CTO.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CTO.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CTO

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1366: Tag nav invalid

  Title Article            Incident Name
0   NaN     NaN  Colerain Township, Ohio

In [163]:
#Colorado Springs
url516='https://www.nytimes.com/2015/11/01/us/four-dead-in-shootings-in-colorado-springs.html'
url517='https://www.nytimes.com/2015/11/02/us/police-investigating-colorado-springs-shooting-that-left-4-dead.html'
url518='https://www.nytimes.com/2015/11/03/us/colorado-suspect-killed-in-rampage-is-identified.html'
urls=[url516,url517,url518]
Nyt_CS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CS= Nyt_CS.append([[a.title, a.text]], ignore_index=True)
Nyt_CS.columns=['Title','Article']
Nyt_CS['Incident Name'] = 'Colorado Springs'
Nyt_CS

,Title,Article,Incident Name
0,Four Dead in Shootings in Colorado Springs,Photo\n\nA shooting rampage in Colorado Spring...,Colorado Springs
1,Police Investigating Colorado Springs Shooting...,Photo\n\nLaw enforcement authorities in Colora...,Colorado Springs
2,Colorado: Suspect Killed in Rampage Is Identified,Photo\n\nThe authorities in Colorado Springs h...,Colorado Springs

In [164]:
#Oakland, Maine
url=['No Articles']
Nyt_OM =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_OM= Nyt_OM.append([[a.title, a.text]], ignore_index=True)
Nyt_OM.columns=['Title','Article']
Nyt_OM['title'] = 'NaN'
Nyt_OM['article'] = 'NaN'
Nyt_OM['Incident Name'] = 'Oakland, Maine'
Nyt_OM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_OM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_OM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1228: Tag nav invalid

  Title Article   Incident Name
0   NaN     NaN  Oakland, Maine

In [165]:
#Inglis, Florida
url=['No Articles']
Nyt_IF =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_IF= Nyt_IF.append([[a.title, a.text]], ignore_index=True)
Nyt_IF.columns=['Title','Article']
Nyt_IF['title'] = 'NaN'
Nyt_IF['article'] = 'NaN'
Nyt_IF['Incident Name'] = 'Inglis, Florida'
Nyt_IF.drop(['Title','Article'], axis=1, inplace=True)
Nyt_IF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_IF

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1228: Tag nav invalid

  Title Article    Incident Name
0   NaN     NaN  Inglis, Florida

In [166]:
#Waycross, GA
url=['No Articles']
Nyt_WG =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WG= Nyt_WG.append([[a.title, a.text]], ignore_index=True)
Nyt_WG.columns=['Title','Article']
Nyt_WG['title'] = 'NaN'
Nyt_WG['article'] = 'NaN'
Nyt_WG['Incident Name'] = 'Waycross, GA'
Nyt_WG.drop(['Title','Article'], axis=1, inplace=True)
Nyt_WG.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_WG

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1228: Tag nav invalid

  Title Article Incident Name
0   NaN     NaN  Waycross, GA

In [167]:
#Jacksonville, Florida
url=['No Articles']
Nyt_JF =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_JF= Nyt_JF.append([[a.title, a.text]], ignore_index=True)
Nyt_JF.columns=['Title','Article']
Nyt_JF['title'] = 'NaN'
Nyt_JF['article'] = 'NaN'
Nyt_JF['Incident Name'] = 'Jacksonville, Florida'
Nyt_JF.drop(['Title','Article'], axis=1, inplace=True)
Nyt_JF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_JF

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1228: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Jacksonville, Florida

In [168]:
#Tennessee Colony, Texas
url519='https://www.nytimes.com/2015/11/17/us/texas-suspect-held-after-6-campers-are-found-dead.html'
urls=[url519]
Nyt_TCT =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_TCT= Nyt_TCT.append([[a.title, a.text]], ignore_index=True)
Nyt_TCT.columns=['Title','Article']
Nyt_TCT['Incident Name'] = 'Tennessee Colony, Texas'
Nyt_TCT

,Title,Article,Incident Name
0,Texas: Suspect Held After 6 Campers Are Found ...,Six people were killed at a campsite and a sus...,"Tennessee Colony, Texas"

In [169]:
#Columbus, Ohio
url=['No Articles']
Nyt_CO =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CO= Nyt_CO.append([[a.title, a.text]], ignore_index=True)
Nyt_CO.columns=['Title','Article']
Nyt_CO['title'] = 'NaN'
Nyt_CO['article'] = 'NaN'
Nyt_CO['Incident Name'] = 'Columbus, Ohio'
Nyt_CO.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CO.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CO

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1010: Tag nav invalid

  Title Article   Incident Name
0   NaN     NaN  Columbus, Ohio

In [170]:
#Minneapolis, Minnesota
url520='https://www.nytimes.com/2015/11/26/us/4-arrested-in-shooting-at-black-lives-matter-protest-are-identified.html'
urls=[url520]
Nyt_MMN =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MMN= Nyt_MMN.append([[a.title, a.text]], ignore_index=True)
Nyt_MMN.columns=['Title','Article']
Nyt_MMN['Incident Name'] = 'Minneapolis, Minnesota'
Nyt_MMN

,Title,Article,Incident Name
0,4 Arrested in Shooting at Black Lives Matter P...,The racial tension at the protests began to gr...,"Minneapolis, Minnesota"

In [171]:
#Colorado Springs, Colorado URLS
url521='https://www.nytimes.com/2015/11/28/us/garrett-swasey-officer-killed-in-colorado-is-recalled-for-courage-and-faith.html'
url522='https://www.nytimes.com/2015/11/29/us/colorado-springs-planned-parenthood-shooting.html'
url523='https://www.nytimes.com/2015/11/29/us/colorado-springs-planned-parenthood-obama-responds-to-gun-violence.html'
url524='https://www.nytimes.com/2015/11/29/us/siege-highlights-security-used-in-abortion-clinics.html'
url525='https://www.nytimes.com/2015/11/29/us/ex-wife-recalls-colorado-gunman-as-imperfect-but-a-good-man.html'
url526='https://www.nytimes.com/2015/11/29/us/robert-dear-suspect-in-colorado-killings-preferred-to-be-left-alone.html'
url527='https://www.nytimes.com/2015/11/30/us/colorado-shooting-planned-parenthood.html'
url528='https://www.nytimes.com/2015/11/30/us/victims-in-colorado-clinic-shooting-include-iraq-war-veteran.html'
url529='https://www.nytimes.com/2015/11/30/us/politics/shooting-at-planned-parenthood-adds-to-challenges-for-congress.html'
url530='https://www.nytimes.com/2015/11/30/magazine/planned-parenthood-and-the-tinderbox-of-abortion-rhetoric.html'
url531='https://www.nytimes.com/2015/12/01/us/politics/congress-budget-deadline-planned-parenthood.html'
url532='https://takingnote.blogs.nytimes.com/2015/11/30/after-attack-republicans-keep-hammering-planned-parenthood/'
url533='https://www.nytimes.com/2015/12/01/us/robert-dear-suspect-in-colorado-attack-appears-in-court.html'
url534='https://www.nytimes.com/2015/12/01/opinion/the-killings-at-a-planned-parenthood-clinic-in-colorado.html'
url535='https://www.nytimes.com/2015/12/02/nyregion/new-yorks-tactical-shift-on-terror-attacks-dont-wait-for-backup.html'
url536='https://www.nytimes.com/2015/12/02/us/robert-dear-planned-parenthood-shooting.html'
url537='https://www.nytimes.com/2015/12/02/us/obama-repeats-call-for-stricter-gun-laws-after-colorado-shooting.html'

In [172]:
#Colorado Springs, Colorado
urls=[url521,url522,url523,url524,url525,url526,url527,url528,url529,url530,url531,url532,url533,url534,url535,
     url536,url537]
Nyt_CSC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CSC= Nyt_CSC.append([[a.title, a.text]], ignore_index=True)
Nyt_CSC.columns=['Title','Article']
Nyt_CSC['Incident Name'] = 'Colorado Springs, Colorado'
Nyt_CSC

,Title,Article,Incident Name
0,"Garrett Swasey, Officer Killed in Colorado, Is...","Photo\n\nGarrett Swasey, 44, the University of...","Colorado Springs, Colorado"
1,"In Colorado, Bustling With Shoppers, Then Grip...",The authorities identified the gunman as Rober...,"Colorado Springs, Colorado"
2,Obama Says ‘Enough Is Enough’ After Colorado S...,"Without calling explicitly for new laws, Mr. O...","Colorado Springs, Colorado"
3,Siege Highlights Security Used in Abortion Cli...,Photo\n\nCOLORADO SPRINGS — As the heavily arm...,"Colorado Springs, Colorado"
4,"Ex-Wife Says Robert Dear, Suspect in Colorado ...","“It never ever ever ever crossed my mind,” tha...","Colorado Springs, Colorado"
5,"Robert Dear, Suspect in Colorado Killings, ‘Pr...",The official said that Mr. Dear “said a lot of...,"Colorado Springs, Colorado"
6,Searching for Answers and Comfort After Killin...,Photo\n\nCOLORADO SPRINGS — After the congrega...,"Colorado Springs, Colorado"
7,Colorado Victims Identified as Iraq Veteran an...,Photo\n\nCOLORADO SPRINGS — As an Army special...,"Colorado Springs, Colorado"
8,Shooting at Planned Parenthood Adds to Challen...,Photo\n\nWASHINGTON — Even as the authorities ...,"Colorado Springs, Colorado"
9,Planned Parenthood and the Tinderbox of Aborti...,Photo\n\nAbortion opponents have been quick to...,"Colorado Springs, Colorado"
10,No Shutdown Expected on Planned Parenthood,"In September, some Republicans had even called...","Colorado Springs, Colorado"
11,"After Attack, Republicans Keep Hammering Plann...",Photo\n\nIt’s been just a few days since a sho...,"Colorado Springs, Colorado"
12,Suspect in Planned Parenthood Attack Hears Mur...,Photo\n\nCOLORADO SPRINGS — Wearing a padded v...,"Colorado Springs, Colorado"
13,The Killings at a Planned Parenthood Clinic in...,Photo\n\nTo the Editor:\n\nRe “Three Are Kille...,"Colorado Springs, Colorado"
14,"Rushing to End Mass Shootings, Police Face Gre...",But bursting through the door presents challen...,"Colorado Springs, Colorado"
15,"For Robert Dear, Religion and Rage Before Plan...","“Turn to JESUS or burn in hell,” he wrote on o...","Colorado Springs, Colorado"
16,Paul Ryan Pushes Changes in Mental Health Care...,Other proposals include a bill from Senator Jo...,"Colorado Springs, Colorado"

In [174]:
#San Bernadinho URLS
url538='https://www.nytimes.com/2015/12/03/us/san-bernardino-shooting.html'
url539='https://www.nytimes.com/politics/first-draft/2015/12/02/presidential-candidates-react-to-san-bernardino-shooting/'
url540='https://www.nytimes.com/2015/12/03/opinion/the-horror-in-san-bernardino.html'
url541='https://www.nytimes.com/2015/12/03/opinion/on-guns-were-not-even-trying.html'
url542='https://www.nytimes.com/2015/12/03/us/san-bernardino-is-traumatized-by-a-siege-and-a-loud-and-bloody-shooting.html'
url543='https://www.nytimes.com/2015/12/04/us/san-bernardino-shooting-syed-rizwan-farook.html'
url544='https://www.nytimes.com/2015/12/04/us/police-redlands-townhouse-san-bernardino-shooting.html'
url545='https://www.nytimes.com/2015/12/04/us/san-bernardino-shooting.html'
url546='https://www.nytimes.com/2015/12/04/us/politics/congress-shifts-attention-to-americas-role-in-the-world.html'
url547='https://www.nytimes.com/2015/12/04/us/terrorism-debate-san-bernardino-shooting.html'
url548='https://www.nytimes.com/2015/12/04/opinion/dont-make-san-bernardino-a-victory-for-isis.html'
url549='https://www.nytimes.com/politics/first-draft/2015/12/03/hillary-clinton-renews-call-for-tough-gun-measures-after-california-shooting/'
url550='https://parenting.blogs.nytimes.com/2015/12/03/raising-cynics-or-raising-hope-talking-with-older-children-about-mass-shootings/'
url551='https://www.nytimes.com/2015/12/04/us/weapons-in-san-bernardino-shootings-were-legally-obtained.html'
url552='https://www.nytimes.com/2015/12/04/opinion/how-many-mass-shootings-are-there-really.html'
url553='https://www.nytimes.com/2015/12/04/world/europe/us-media-mocked-abroad-for-reporting-false-name-of-california-shooting-suspect.html'
url554='https://www.nytimes.com/2015/12/04/nyregion/wanting-more-than-a-veto-and-a-prayer-after-mass-shootings.html'
url555='https://www.nytimes.com/2015/12/04/us/where-they-shared-their-working-hours-and-their-dying-moments.html'
url556='https://www.nytimes.com/roomfordebate/2015/12/03/does-motive-matter-in-mass-shootings-like-the-one-in-san-bernadino'
url557='https://www.nytimes.com/2015/12/04/us/fear-in-the-air-americans-look-over-their-shoulders.html'
url558='https://www.nytimes.com/2015/12/04/us/an-officer-who-trained-for-the-worst-and-faced-it-this-was-actually-happening.html'
url559='https://www.nytimes.com/2015/12/04/opinion/the-latest-site-of-carnage-san-bernardino.html'
url560='https://www.nytimes.com/2015/12/04/opinion/tough-talk-and-a-cowardly-vote-on-terrorism.html'
url561='https://www.nytimes.com/2015/12/04/opinion/a-battle-in-san-bernardino.html'
url562='https://www.nytimes.com/politics/first-draft/2015/12/04/a-few-house-democrats-to-attend-prayer-services-at-u-s-mosques/'
url563='https://www.nytimes.com/politics/first-draft/2015/12/04/san-bernardino-shooting-divides-party-narratives/'
url564='https://www.nytimes.com/2015/12/05/business/media/the-news-medias-grim-playbook-on-mass-shootings.html'
url565='https://www.nytimes.com/2015/12/05/us/tashfeen-malik-islamic-state.html'
url566='https://www.nytimes.com/2015/12/05/us/politics/white-house-seeks-path-to-executive-action-on-gun-sales.html'
url567='https://www.nytimes.com/2015/12/05/us/san-bernardino-shooting-the-investigation-so-far.html'
url568='https://www.nytimes.com/2015/12/05/us/landlord-lets-reporters-into-san-bernardino-suspects-apartment.html'
url569='https://www.nytimes.com/2015/12/05/opinion/fear-and-gun-violence-in-america.html'
url570='https://parenting.blogs.nytimes.com/2015/12/04/how-could-a-new-mother-shoot-other-parents/'
url571='https://www.nytimes.com/2015/12/05/opinion/no-more-thoughts-and-prayers.html'
url572='https://www.nytimes.com/2015/12/05/us/muslims-in-america-condemn-extremists-and-fear-anew-for-their-lives.html'
url573='https://www.nytimes.com/2015/12/05/us/gun-debate-yields-page-1-editorial.html'
url574='https://www.nytimes.com/2015/12/05/opinion/end-the-gun-epidemic-in-america.html'
url575='https://www.nytimes.com/2015/12/05/opinion/the-senate-goes-gaga-on-guns.html'
url576='https://www.nytimes.com/2015/12/05/us/politics/gop-candidates-seize-on-shootings-in-california-as-proof-of-terror-threat.html'
url577='https://www.nytimes.com/2015/12/05/opinion/fear-ignorance-not-muslims.html'
url578='https://www.nytimes.com/2015/12/06/us/politics/obama-calls-for-stronger-gun-laws-after-california-shooting.html'
url579='https://www.nytimes.com/2015/12/06/us/witnesses-recall-day-of-terror-in-San-Bernardino.html'
url580='https://www.nytimes.com/2015/12/06/opinion/sunday/hysteria-about-refugees-but-blindness-on-guns.html'
url581='https://www.nytimes.com/2015/12/06/us/in-wake-of-shootings-a-familiar-call-to-arms-drives-latest-jump-in-weapon-sales.html'
url582='https://www.nytimes.com/2015/12/06/world/middleeast/islamic-state-san-bernardino-massacre.html'
url583='https://www.nytimes.com/2015/12/06/us/politics/california-attack-has-us-rethinking-strategy-on-homegrown-terror.html'
url584='https://www.nytimes.com/2015/12/06/us/sisters-of-san-bernardino-shooting-suspect-say-they-saw-no-warning-signs.html'
url585='https://www.nytimes.com/2015/12/06/world/asia/tashfeen-malik-suspect-in-california-attack-remains-mystery-to-relatives.html'
url586='https://www.nytimes.com/2015/12/07/us/before-attack-san-bernardino-was-on-the-verge-of-a-turnaround.html'
url587='https://www.nytimes.com/2015/12/07/us/politics/president-obama-islamic-state-speech-oval-office.html'
url588='https://www.nytimes.com/2015/12/07/us/politics/president-obama-terrorism-threat-speech-oval-office.html'
url589='https://www.nytimes.com/2015/12/07/world/asia/in-conservative-pakistani-city-a-saudi-girl-who-stood-out.html'
url590='https://www.nytimes.com/politics/first-draft/2015/12/06/republicans-attack-obamas-address/'
url591='https://www.nytimes.com/2015/12/07/opinion/president-obamas-tough-calming-talk-on-terrorism.html'
url592='https://www.nytimes.com/2015/12/08/us/san-bernardino-shooting.html'
url593='https://www.nytimes.com/2015/12/08/opinion/president-obama-terrorism-and-guns.html'
url594='https://www.nytimes.com/2015/12/08/world/asia/tashfeen-malik-attended-conservative-religious-school-in-pakistan.html'
url595='https://www.nytimes.com/2015/12/08/us/fbi-says-san-bernardino-assailants-were-radicalized.html'
url596='https://www.nytimes.com/politics/first-draft/2015/12/07/donald-trump-calls-for-banning-muslims-from-entering-u-s/'
url597='https://www.nytimes.com/2015/12/08/world/middleeast/discrepancies-emerge-over-where-tashfeen-malik-grew-up.html'
url598='https://www.nytimes.com/2015/12/08/us/on-twitter-san-bernardino-shooting-divides-more-than-unites.html'
url599='https://www.nytimes.com/2015/12/09/us/enrique-marquez-buyer-of-guns-used-in-san-bernardino-attack-is-studied.html'

In [175]:
#San Bernadinho
urls=[url538,url539,url540,url541,url542,url543,url544,url545,url546,url547,url548,url549,url550,url551,url552,
     url553,url554,url555,url556,url557,url558,url559,url560,url561,url562,url563,url564,url565,url566,url567,
     url568,url569,url570,url571,url572,url573,url574,url575,url576,url577,url578,url579,url580,url581,url582,
     url583,url584,url585,url586,url587,url588,url589,url590,url591,url592,url593,url594,url595,url596,url597,
     url598,url599]
Nyt_SB =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SB= Nyt_SB.append([[a.title, a.text]], ignore_index=True)
Nyt_SB.columns=['Title','Article']
Nyt_SB['Incident Name'] = 'San Bernadinho'
Nyt_SB

,Title,Article,Incident Name
0,San Bernardino Shooting Kills at Least 14; Two...,"Video\n\nSAN BERNARDINO, Calif. — A heavily ar...",San Bernadinho
1,Presidential Candidates React to San Bernardin...,The reaction of presidential candidates to the...,San Bernadinho
2,The Horror in San Bernardino,Photo\n\nAmerica’s gun violence shifted Wednes...,San Bernadinho
3,"On Guns, We’re Not Even Trying","Photo\n\nAnother day, another ghastly shooting...",San Bernadinho
4,Struggling City Is Traumatized by a Siege and ...,"Photo\n\nSAN BERNARDINO, Calif. — They gathere...",San Bernadinho
5,Couple Kept Tight Lid on Plans for San Bernard...,"Video\n\nSAN BERNARDINO, Calif. — Syed Rizwan ...",San Bernadinho
6,Police Raid Townhouse of Suspect in San Bernar...,"Photo\n\nREDLANDS, Calif. — As darkness began ...",San Bernadinho
7,"San Bernardino Suspects Left Trail of Clues, b...","SAN BERNARDINO, Calif. — The couple who the po...",San Bernadinho
8,Mass Shootings Stoke Ideological Fighting in C...,"For their part, Democrats said they need to dr...",San Bernadinho
9,A Nation Wonders When Bloodshed Becomes Terrorism,Liberals and Muslim groups complain that any a...,San Bernadinho
10,Don’t Make San Bernardino a Victory for ISIS,Photo\n\nWashington — I am an American Muslim....,San Bernadinho
11,Hillary Clinton Renews Call for Tough Gun Meas...,Photo\n\nHillary Clinton on Thursday called fo...,San Bernadinho
12,"Raising Cynics, or Raising Hope: Talking With ...","Photo\n\nAfter I picked up my oldest son, 14, ...",San Bernadinho
13,Weapons in San Bernardino Shootings Were Legal...,"Other restricted features, like pistol grips a...",San Bernadinho
14,"How Many Mass Shootings Are There, Really?","Photo\n\nOn Wednesday, a Washington Post artic...",San Bernadinho
15,U.S. Media Mocked Abroad for Reporting False N...,"Major American news outlets, including The Los...",San Bernadinho
16,Wanting More Than a Veto and a Prayer After Ma...,“But these laws were being made long before I ...,San Bernadinho
17,"Where They Shared Their Working Hours, and The...","A friend of Mr. Thalasinos’, Kuuleme Stephens,...",San Bernadinho
18,"Does Motive Matter in Mass Shootings, Like the...",Introduction\n\nJae C. Hong/Associated Press\n...,San Bernadinho
19,"Fear in the Air, Americans Look Over Their Sho...","Jean O’Sullivan, 54, who lives in the Los Ange...",San Bernadinho
20,An Officer Who Trained for the Worst and Faced...,"Instantly, Lieutenant Madden, a native of San ...",San Bernadinho
21,The Latest Site of Carnage: San Bernardino,Photo\n\nTo the Editor:\n\nRe “Shooting Rampag...,San Bernadinho
22,Tough Talk and a Cowardly Vote on Terrorism,Another bill that would have expanded backgrou...,San Bernadinho
23,A Battle in San Bernardino,"On the block adjacent, a man with an assault r...",San Bernadinho
24,A Few House Democrats to Attend Prayer Service...,Photo\n\nA small number of House Democrats wil...,San Bernadinho
25,San Bernardino Shooting Divides Party Narratives,Photo\n\nTo listen to the Democratic and Repub...,San Bernadinho
26,A Grim News Playbook in Repeated Mass Killings,As word of the San Bernardino attack spread on...,San Bernadinho
27,F.B.I. Treating San Bernardino Attack as Terro...,The attack is the deadliest Islamic State-insp...,San Bernadinho
28,"On Guns, Obama Cannot Easily Sidestep Congress",While some gun control advocates had hoped to ...,San Bernadinho
29,San Bernardino Shooting: The Investigation So Far,Photo\n\nThe investigation into the shooting a...,San Bernadinho
...,...,...,...
32,When a New Mother Is Accused in a Shooting,Photo\n\nThe reported accounts of Tashfeen Mal...,San Bernadinho
33,No More Thoughts and Prayers,But what about San Bernardino? A young man and...,San Bernadinho
34,Muslims in America Condemn Extremists and Fear...,"Now, with the F.B.I. saying that one of those ...",San Bernadinho
35,Gun Debate Yields Page One Editorial,The New York Times ran an editorial on its fro...,San Bernadinho
36,End the Gun Epidemic in America,Photo\n\nAll decent people feel sorrow and rig...,San Bernadinho
37,The Senate Goes Gaga on Guns,Would it be absolutely cynical to say the Sena...,San Bernadinho
38,"After San Bernardino Attack, Republican Candid...",Senator Ted Cruz of Texas seethed with disgust...,San Bernadinho
39,"Fear Ignorance, Not Muslims",Photo\n\nAs the country continues a long and d...,San Bernadinho
40,Obama Calls for Stronger Gun Laws After Califo...,Photo\n\nWASHINGTON — President Obama edged cl...,San Bernadinho
41,"For San Bernardino Survivors, a Day of Screams...","Photo\n\nSAN BERNARDINO, Calif. — The noise wa...",San Bernadinho
42,"Hysteria About Refugees, but Blindness on Guns","Ahmed had to leave his family behind, and he c...",San Bernadinho
43,"In Wake of Shootings, a Familiar Call to Arms ...",The figures do not include sales through unlic...,San Bernadinho
44,Islamic State Says ‘Soldiers of Caliphate’ Att...,In the broadcast about the California shooting...,San Bernadinho
45,California Attack Has U.S. Rethinking Strategy...,Photo\n\nWASHINGTON — The day before Thanksgiv...,San Bernadinho
46,Sisters of San Bernardino Shooting Suspect Say...,"RIVERSIDE, Calif. — They sat in the kitchen of...",San Bernadinho
47,"Tashfeen Malik, Suspect in California Attack, ...",Ms. Malik moved to Saudi Arabia with her fathe...,San Bernadinho
48,San Bernardino Community Struck by Massacre Se...,"Photo\n\nSAN BERNARDINO, Calif. — Erika Flores...",San Bernadinho
49,"For Speech, Obama Selects a Setting He Usually...",Mr. Obama has delivered formal remarks to the ...,San Bernadinho
50,Obama Says of Terrorist Threat: ‘We Will Overc...,But the president’s speech was not intended to...,San Bernadinho
51,Tashfeen Malik Was a ‘Saudi Girl’ Who Stood Ou...,"Still, in the turbulence of that moment, and i...",San Bernadinho
52,Republicans Attack Obama's Address,"Photo\n\nBy turns withering and mocking, Repub...",San Bernadinho
53,"President Obama’s Tough, Calming Talk on Terro...",Photo\n\nDuring his Oval Office address on Sun...,San Bernadinho
54,San Bernardino County Offices Reopen After Sho...,"Janice Rutherford, a county supervisor, said t...",San Bernadinho
55,"President Obama, Terrorism and Guns",Contrast that with Donald Trump and others in ...,San Bernadinho
56,"Tashfeen Malik, San Bernardino Suspect, Attend...","Critics in Pakistan have long accused Al Huda,...",San Bernadinho
57,"Killers Were Long Radicalized, F.B.I. Investig...",Investigators say they have learned through in...,San Bernadinho
58,Donald Trump Calls for Barring Muslims From En...,Video\n\nDonald J. Trump called on Monday for ...,San Bernadinho
59,Discrepancies Emerge Over Where Tashfeen Malik...,"They said she had grown up there, and they att...",San Bernadinho
60,"On Twitter, San Bernardino Shooting Divides Mo...",Every country is subject to the centrifugal fo...,San Bernadinho
61,"Enrique Marquez, Buyer of Guns Used in San Ber...",Mr. Marquez started attending the Islamic Soci...,San Bernadinho

In [176]:
#Omaha, Nebraska
url=['No Articles']
Nyt_ON =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ON= Nyt_ON.append([[a.title, a.text]], ignore_index=True)
Nyt_ON.columns=['Title','Article']
Nyt_ON['title'] = 'NaN'
Nyt_ON['article'] = 'NaN'
Nyt_ON['Incident Name'] = 'Omaha, Nebraska'
Nyt_ON.drop(['Title','Article'], axis=1, inplace=True)
Nyt_ON.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_ON

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1408: Tag nav invalid

  Title Article    Incident Name
0   NaN     NaN  Omaha, Nebraska

In [177]:
#Chesapeake, Virginia
url=['No Articles']
Nyt_CV =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CV= Nyt_CV.append([[a.title, a.text]], ignore_index=True)
Nyt_CV.columns=['Title','Article']
Nyt_CV['title'] = 'NaN'
Nyt_CV['article'] = 'NaN'
Nyt_CV['Incident Name'] = 'Chesapeake, Virginia'
Nyt_CV.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CV.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CV

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1408: Tag nav invalid

  Title Article         Incident Name
0   NaN     NaN  Chesapeake, Virginia

In [178]:
#Orlando, Florida
url=['No Articles']
Nyt_OF =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_OF= Nyt_OF.append([[a.title, a.text]], ignore_index=True)
Nyt_OF.columns=['Title','Article']
Nyt_OF['title'] = 'NaN'
Nyt_OF['article'] = 'NaN'
Nyt_OF['Incident Name'] = 'Orlando, Florida'
Nyt_OF.drop(['Title','Article'], axis=1, inplace=True)
Nyt_OF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_OF

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1408: Tag nav invalid

  Title Article     Incident Name
0   NaN     NaN  Orlando, Florida

In [180]:
#Luka, Mississippi
url=['No Articles']
Nyt_LM =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LM= Nyt_LM.append([[a.title, a.text]], ignore_index=True)
Nyt_LM.columns=['Title','Article']
Nyt_LM['title'] = 'NaN'
Nyt_LM['article'] = 'NaN'
Nyt_LM['Incident Name'] = 'Luka, Mississippi'
Nyt_LM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1408: Tag nav invalid

  Title Article      Incident Name
0   NaN     NaN  Luka, Mississippi

In [185]:
#Kalamazoo, Michigan
url600='https://www.nytimes.com/2016/02/21/us/kalamazoo-michigan-shootings.html?_r=0'
url601='https://www.nytimes.com/2016/02/22/us/kalamazoo-michigan-random-shootings.html'
url602='https://www.nytimes.com/2016/02/23/us/kalamazoo-michigan-shooting.html'
urls=[url600,url601,url602]
Nyt_KM =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_KM= Nyt_KM.append([[a.title, a.text]], ignore_index=True)
Nyt_KM.columns=['Title','Article']
Nyt_KM['Incident Name'] = 'Kalamazoo, Michigan'
Nyt_KM

,Title,Article,Incident Name
0,At Least 6 Are Killed in Random Shootings in K...,"At least seven people in the Kalamazoo, Mich.,...","Kalamazoo, Michigan"
1,Kalamazoo Searches for Motive in Spree That Ki...,"In all, six people were killed and two injured...","Kalamazoo, Michigan"
2,"Kalamazoo Shooting Suspect Charged, but Motive...","President Obama weighed in, as he has many tim...","Kalamazoo, Michigan"

In [182]:
#Glendale, Arizona
url=['No Articles']
Nyt_GA =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GA= Nyt_GA.append([[a.title, a.text]], ignore_index=True)
Nyt_GA.columns=['Title','Article']
Nyt_GA['title'] = 'NaN'
Nyt_GA['article'] = 'NaN'
Nyt_GA['Incident Name'] = 'Glendale, Arizona'
Nyt_GA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_GA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_GA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article      Incident Name
0   NaN     NaN  Glendale, Arizona

In [184]:
#Heeston, Kansas
url603='https://www.nytimes.com/2016/02/26/us/shooting-at-plant-hesston-kansas.html'
urls=[url603]
Nyt_HK =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HK= Nyt_HK.append([[a.title, a.text]], ignore_index=True)
Nyt_HK.columns=['Title','Article']
Nyt_HK['Incident Name'] = 'Heeston, Kansas'
Nyt_HK

,Title,Article,Incident Name
0,Gunman Kills 3 at Kansas Factory Before Dying ...,"Paul Mullet, the chief executive of Excel Indu...","Heeston, Kansas"

In [186]:
#Belfair, Washington
url604='https://www.nytimes.com/2016/02/27/us/washington-state-man-kills-his-family-and-then-himself.html'
urls=[url604]
Nyt_BW =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_BW= Nyt_BW.append([[a.title, a.text]], ignore_index=True)
Nyt_BW.columns=['Title','Article']
Nyt_BW['Incident Name'] = 'Belfair, Washington'
Nyt_BW

,Title,Article,Incident Name
0,Washington State Man Kills His Family and Then...,"Photo\n\nBELFAIR, Wash. — A gunman who killed ...","Belfair, Washington"

In [189]:
#Woodbridge, Virginia
url605='https://www.nytimes.com/2016/02/29/us/new-virginia-officer-killed-on-domestic-violence-call.html'
url606='https://www.nytimes.com/2016/03/01/us/virginia-soldier-accused-of-killing-wife-and-officer.html'
url607='https://www.nytimes.com/2016/03/02/us/thousands-honor-virginia-officer-ashley-guindon-killed-on-her-first-day-on-the-job.html'
urls=[url605,url606,url607]
Nyt_Wood =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Wood= Nyt_Wood.append([[a.title, a.text]], ignore_index=True)
Nyt_Wood.columns=['Title','Article']
Nyt_Wood['Incident Name'] = 'WoodBridge, Virginia'
Nyt_Wood

,Title,Article,Incident Name
0,New Virginia Officer Killed on Domestic Violen...,"Photo\n\nWOODBRIDGE, Va. — On her first day on...","WoodBridge, Virginia"
1,"Virginia: Soldier Admitted Killings, Affidavit...",An Army staff sergeant has admitted to shootin...,"WoodBridge, Virginia"
2,Thousands Honor Virginia Officer Killed on Her...,"As the service ended, the officers — including...","WoodBridge, Virginia"

In [190]:
#Chelsea, Massachusetts
url=['No Articles']
Nyt_CMa=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CMa= Nyt_CMa.append([[a.title, a.text]], ignore_index=True)
Nyt_CMa.columns=['Title','Article']
Nyt_CMa['title'] = 'NaN'
Nyt_CMa['article'] = 'NaN'
Nyt_CMa['Incident Name'] = 'Chelsea, Massachusetts'
Nyt_CMa.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CMa.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CMa

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1263: Tag nav invalid

  Title Article           Incident Name
0   NaN     NaN  Chelsea, Massachusetts

In [191]:
#Kansas City, Kansas
url608='https://www.nytimes.com/2016/03/10/us/errors-led-to-release-of-suspect-in-three-previous-crimes.html'
urls=[url608]
Nyt_KCK =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_KCK= Nyt_KCK.append([[a.title, a.text]], ignore_index=True)
Nyt_KCK.columns=['Title','Article']
Nyt_KCK['Incident Name'] = 'Kansas City, Kansas'
Nyt_KCK

,Title,Article,Incident Name
0,"Series of Errors Allowed Shooting Suspect, in ...","And in September, the agency received more new...","Kansas City, Kansas"

In [192]:
#Pittsburgh, Pennsylvania
url609='https://www.nytimes.com/2016/03/11/us/mass-shooting-wilkinsburg-pittsburgh.html'
urls=[url609]
Nyt_PP =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PP= Nyt_PP.append([[a.title, a.text]], ignore_index=True)
Nyt_PP.columns=['Title','Article']
Nyt_PP['Incident Name'] = 'Pittsburgh, Pennsylvania'
Nyt_PP

,Title,Article,Incident Name
0,Shooting That Killed 5 at Party Near Pittsburg...,"Photo\n\nWILKINSBURG, Pa. — A shooting at a ba...","Pittsburgh, Pennsylvania"

In [193]:
#Plantation, Florida
url=['No Articles']
Nyt_PF=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PF= Nyt_PF.append([[a.title, a.text]], ignore_index=True)
Nyt_PF.columns=['Title','Article']
Nyt_PF['title'] = 'NaN'
Nyt_PF['article'] = 'NaN'
Nyt_PF['Incident Name'] = 'Plantation, Florida'
Nyt_PF.drop(['Title','Article'], axis=1, inplace=True)
Nyt_PF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_PF

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1275: Tag nav invalid

  Title Article        Incident Name
0   NaN     NaN  Plantation, Florida

In [194]:
#Louisville, Kentucky
url=['No Articles']
Nyt_LK=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LK= Nyt_LK.append([[a.title, a.text]], ignore_index=True)
Nyt_LK.columns=['Title','Article']
Nyt_LK['title'] = 'NaN'
Nyt_LK['article'] = 'NaN'
Nyt_LK['Incident Name'] = 'Louisville, Kentucky'
Nyt_LK.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LK.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LK

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1275: Tag nav invalid

  Title Article         Incident Name
0   NaN     NaN  Louisville, Kentucky

In [195]:
#Sherman, Texas
url=['No Articles']
Nyt_ST=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ST= Nyt_ST.append([[a.title, a.text]], ignore_index=True)
Nyt_ST.columns=['Title','Article']
Nyt_ST['title'] = 'NaN'
Nyt_ST['article'] = 'NaN'
Nyt_ST['Incident Name'] = 'Sherman, Texas'
Nyt_ST.drop(['Title','Article'], axis=1, inplace=True)
Nyt_ST.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_ST

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1275: Tag nav invalid

  Title Article   Incident Name
0   NaN     NaN  Sherman, Texas

In [196]:
#Lawrenceburg, Tennessee
url=['No Articles']
Nyt_LT=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LT= Nyt_LT.append([[a.title, a.text]], ignore_index=True)
Nyt_LT.columns=['Title','Article']
Nyt_LT['title'] = 'NaN'
Nyt_LT['article'] = 'NaN'
Nyt_LT['Incident Name'] = 'Lawrenceburg, Tennessee'
Nyt_LT.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LT.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LT

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1275: Tag nav invalid

  Title Article            Incident Name
0   NaN     NaN  Lawrenceburg, Tennessee

In [197]:
#Louisburg, North Carolina
url=['No Articles']
Nyt_LNC=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LNC= Nyt_LNC.append([[a.title, a.text]], ignore_index=True)
Nyt_LNC.columns=['Title','Article']
Nyt_LNC['title'] = 'NaN'
Nyt_LNC['article'] = 'NaN'
Nyt_LNC['Incident Name'] = 'Louisburg, North Carolina'
Nyt_LNC.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LNC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LNC

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1275: Tag nav invalid

  Title Article              Incident Name
0   NaN     NaN  Louisburg, North Carolina

In [198]:
#Richmond, Virginia
url610='https://www.nytimes.com/2016/04/03/us/virginia-gunman-said-he-hated-police-ex-girlfriend-says.html'
url611='https://www.nytimes.com/2016/04/01/us/virginia-state-police-officer-is-killed-at-richmond-bus-station.html'
urls=[url610,url611]
Nyt_RV =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RV= Nyt_RV.append([[a.title, a.text]], ignore_index=True)
Nyt_RV.columns=['Title','Article']
Nyt_RV['Incident Name'] = 'Richmond, Virginia'
Nyt_RV

,Title,Article,Incident Name
0,"Virginia Gunman Said He Hated Police, Ex-Girlf...",The authorities said Friday that they are stil...,"Richmond, Virginia"
1,Virginia State Trooper Killed in Bus Station S...,Photo\n\nA Virginia police trooper was killed ...,"Richmond, Virginia"

In [199]:
#Residence in Lakeland, Florida
url=['No Articles']
Nyt_LF=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LF= Nyt_LF.append([[a.title, a.text]], ignore_index=True)
Nyt_LF.columns=['Title','Article']
Nyt_LF['title'] = 'NaN'
Nyt_LF['article'] = 'NaN'
Nyt_LF['Incident Name'] = 'Residence in Lakeland, Florida'
Nyt_LF.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LF

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                   Incident Name
0   NaN     NaN  Residence in Lakeland, Florida

In [200]:
#Roadside in Memphis, Tennessee
url=['No Articles']
Nyt_RMT=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RMT= Nyt_RMT.append([[a.title, a.text]], ignore_index=True)
Nyt_RMT.columns=['Title','Article']
Nyt_RMT['title'] = 'NaN'
Nyt_RMT['article'] = 'NaN'
Nyt_RMT['Incident Name'] = 'Roadside in Memphis, Tennessee'
Nyt_RMT.drop(['Title','Article'], axis=1, inplace=True)
Nyt_RMT.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_RMT

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                   Incident Name
0   NaN     NaN  Roadside in Memphis, Tennessee

In [201]:
#Wilmington, DE robbery
url=['No Articles']
Nyt_WDE=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WDE= Nyt_WDE.append([[a.title, a.text]], ignore_index=True)
Nyt_WDE.columns=['Title','Article']
Nyt_WDE['title'] = 'NaN'
Nyt_WDE['article'] = 'NaN'
Nyt_WDE['Incident Name'] = 'Wilmington, DE robbery'
Nyt_WDE.drop(['Title','Article'], axis=1, inplace=True)
Nyt_WDE.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_WDE

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article           Incident Name
0   NaN     NaN  Wilmington, DE robbery

In [202]:
#Gloucester County, VA, House Party
url=['No Articles']
Nyt_GCVA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GCVA= Nyt_GCVA.append([[a.title, a.text]], ignore_index=True)
Nyt_GCVA.columns=['Title','Article']
Nyt_GCVA['title'] = 'NaN'
Nyt_GCVA['article'] = 'NaN'
Nyt_GCVA['Incident Name'] = 'Gloucester County, VA, House Party'
Nyt_GCVA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_GCVA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_GCVA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                       Incident Name
0   NaN     NaN  Gloucester County, VA, House Party

In [203]:
#Florida family murder
url=['No Articles']
Nyt_FFM=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FFM= Nyt_FFM.append([[a.title, a.text]], ignore_index=True)
Nyt_FFM.columns=['Title','Article']
Nyt_FFM['title'] = 'NaN'
Nyt_FFM['article'] = 'NaN'
Nyt_FFM['Incident Name'] = 'Florida family murder'
Nyt_FFM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_FFM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_FFM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Florida family murder

In [204]:
#Los Angeles Drive-by
url=['No Articles']
Nyt_LAD=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LAD= Nyt_LAD.append([[a.title, a.text]], ignore_index=True)
Nyt_LAD.columns=['Title','Article']
Nyt_LAD['title'] = 'NaN'
Nyt_LAD['article'] = 'NaN'
Nyt_LAD['Incident Name'] = 'Los Angeles Drive-by'
Nyt_LAD.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LAD.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LAD

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article         Incident Name
0   NaN     NaN  Los Angeles Drive-by

In [205]:
#Perris, CA Mexican restaurant shooting
url=['No Articles']
Nyt_PCA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PCA= Nyt_PCA.append([[a.title, a.text]], ignore_index=True)
Nyt_PCA.columns=['Title','Article']
Nyt_PCA['title'] = 'NaN'
Nyt_PCA['article'] = 'NaN'
Nyt_PCA['Incident Name'] = 'Perris, CA Mexican restaurant shooting'
Nyt_PCA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_PCA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_PCA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                           Incident Name
0   NaN     NaN  Perris, CA Mexican restaurant shooting

In [206]:
#Chesapeake, VA Family Murder Suicide
url=['No Articles']
Nyt_CAFMS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CAFMS= Nyt_CAFMS.append([[a.title, a.text]], ignore_index=True)
Nyt_CAFMS.columns=['Title','Article']
Nyt_CAFMS['title'] = 'NaN'
Nyt_CAFMS['article'] = 'NaN'
Nyt_CAFMS['Incident Name'] = 'Chesapeake, VA Family Murder Suicide'
Nyt_CAFMS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CAFMS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CAFMS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                         Incident Name
0   NaN     NaN  Chesapeake, VA Family Murder Suicide

In [208]:
#Caroline County, VA Family Murder Suicide
url=['No Articles']
Nyt_CCV=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CCV= Nyt_CCV.append([[a.title, a.text]], ignore_index=True)
Nyt_CCV.columns=['Title','Article']
Nyt_CCV['title'] = 'NaN'
Nyt_CCV['article'] = 'NaN'
Nyt_CCV['Incident Name'] = 'Caroline County, VA Family Murder Suicide'
Nyt_CCV.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CCV.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CCV

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                              Incident Name
0   NaN     NaN  Caroline County, VA Family Murder Suicide

In [209]:
#Glendale, AZ House Party shooting
url=['No Articles']
Nyt_GAZ=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GAZ= Nyt_GAZ.append([[a.title, a.text]], ignore_index=True)
Nyt_GAZ.columns=['Title','Article']
Nyt_GAZ['title'] = 'NaN'
Nyt_GAZ['article'] = 'NaN'
Nyt_GAZ['Incident Name'] = 'Glendale, AZ House Party shooting'
Nyt_GAZ.drop(['Title','Article'], axis=1, inplace=True)
Nyt_GAZ.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_GAZ

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                      Incident Name
0   NaN     NaN  Glendale, AZ House Party shooting

In [210]:
#New Orleans gas station shoot-out
url=['No Articles']
Nyt_NOGS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_NOGS= Nyt_NOGS.append([[a.title, a.text]], ignore_index=True)
Nyt_NOGS.columns=['Title','Article']
Nyt_NOGS['title'] = 'NaN'
Nyt_NOGS['article'] = 'NaN'
Nyt_NOGS['Incident Name'] = 'New Orleans gas station shoot-out'
Nyt_NOGS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_NOGS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_NOGS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                      Incident Name
0   NaN     NaN  New Orleans gas station shoot-out

In [211]:
#Tampa, FL Strip club shooting
url=['No Articles']
Nyt_TFL=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_TFL= Nyt_TFL.append([[a.title, a.text]], ignore_index=True)
Nyt_TFL.columns=['Title','Article']
Nyt_TFL['title'] = 'NaN'
Nyt_TFL['article'] = 'NaN'
Nyt_TFL['Incident Name'] = 'Tampa, FL Strip club shooting'
Nyt_TFL.drop(['Title','Article'], axis=1, inplace=True)
Nyt_TFL.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_TFL

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                  Incident Name
0   NaN     NaN  Tampa, FL Strip club shooting

In [212]:
#Los Angeles, CA street shooting
url=['No Articles']
Nyt_LASS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LASS= Nyt_LASS.append([[a.title, a.text]], ignore_index=True)
Nyt_LASS.columns=['Title','Article']
Nyt_LASS['title'] = 'NaN'
Nyt_LASS['article'] = 'NaN'
Nyt_LASS['Incident Name'] = 'Los Angeles, CA street shooting'
Nyt_LASS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LASS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LASS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                    Incident Name
0   NaN     NaN  Los Angeles, CA street shooting

In [213]:
#Texas teen commits family murder suicide
url=['No Articles']
Nyt_TXFMS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_TXFMS= Nyt_TXFMS.append([[a.title, a.text]], ignore_index=True)
Nyt_TXFMS.columns=['Title','Article']
Nyt_TXFMS['title'] = 'NaN'
Nyt_TXFMS['article'] = 'NaN'
Nyt_TXFMS['Incident Name'] = 'Texas teen commits family murder suicide'
Nyt_TXFMS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_TXFMS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_TXFMS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                             Incident Name
0   NaN     NaN  Texas teen commits family murder suicide

In [214]:
#Nightclub fight turns into shootout
url=['No Articles']
Nyt_NFS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_NFS= Nyt_NFS.append([[a.title, a.text]], ignore_index=True)
Nyt_NFS.columns=['Title','Article']
Nyt_NFS['title'] = 'NaN'
Nyt_NFS['article'] = 'NaN'
Nyt_NFS['Incident Name'] = 'Nightclub fight turns into shootout'
Nyt_NFS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_NFS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_NFS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                        Incident Name
0   NaN     NaN  Nightclub fight turns into shootout

In [215]:
#Michigan school shooting
url=['No Articles']
Nyt_MSS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MSS= Nyt_MSS.append([[a.title, a.text]], ignore_index=True)
Nyt_MSS.columns=['Title','Article']
Nyt_MSS['title'] = 'NaN'
Nyt_MSS['article'] = 'NaN'
Nyt_MSS['Incident Name'] = 'Michigan school shooting'
Nyt_MSS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MSS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MSS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article             Incident Name
0   NaN     NaN  Michigan school shooting

In [216]:
#Vallejo, CA car shooting
url=['No Articles']
Nyt_VCA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_VCA= Nyt_VCA.append([[a.title, a.text]], ignore_index=True)
Nyt_VCA.columns=['Title','Article']
Nyt_VCA['title'] = 'NaN'
Nyt_VCA['article'] = 'NaN'
Nyt_VCA['Incident Name'] = 'Vallejo, CA car shooting'
Nyt_VCA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_VCA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_VCA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article             Incident Name
0   NaN     NaN  Vallejo, CA car shooting

In [217]:
#Florida Hookah Bar Shooting
url=['No Articles']
Nyt_FHB=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FHB= Nyt_FHB.append([[a.title, a.text]], ignore_index=True)
Nyt_FHB.columns=['Title','Article']
Nyt_FHB['title'] = 'NaN'
Nyt_FHB['article'] = 'NaN'
Nyt_FHB['Incident Name'] = 'Florida Hookah Bar Shooting'
Nyt_FHB.drop(['Title','Article'], axis=1, inplace=True)
Nyt_FHB.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_FHB

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1219: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Florida Hookah Bar Shooting

In [218]:
#Kalamazoo Uber Driver Spree Killing
url612='https://www.nytimes.com/2016/02/22/us/kalamazoo-michigan-random-shootings.html'
url613='https://www.nytimes.com/2016/02/23/us/kalamazoo-michigan-shooting.html'
urls=[url612,url613]
Nyt_Uber =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Uber= Nyt_Uber.append([[a.title, a.text]], ignore_index=True)
Nyt_Uber.columns=['Title','Article']
Nyt_Uber['Incident Name'] = 'Kalamazoo Uber Driver Spree Killing'
Nyt_Uber

,Title,Article,Incident Name
0,Kalamazoo Searches for Motive in Spree That Ki...,"In all, six people were killed and two injured...",Kalamazoo Uber Driver Spree Killing
1,"Kalamazoo Shooting Suspect Charged, but Motive...","President Obama weighed in, as he has many tim...",Kalamazoo Uber Driver Spree Killing

In [219]:
#Missouri Highway shooting
url=['No Articles']
Nyt_MH=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MH= Nyt_MH.append([[a.title, a.text]], ignore_index=True)
Nyt_MH.columns=['Title','Article']
Nyt_MH['title'] = 'NaN'
Nyt_MH['article'] = 'NaN'
Nyt_MH['Incident Name'] = 'Missouri Highway shooting'
Nyt_MH.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MH.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MH

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article              Incident Name
0   NaN     NaN  Missouri Highway shooting

In [220]:
#Houston Drive-by
url=['No Articles']
Nyt_HD=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HD= Nyt_HD.append([[a.title, a.text]], ignore_index=True)
Nyt_HD.columns=['Title','Article']
Nyt_HD['title'] = 'NaN'
Nyt_HD['article'] = 'NaN'
Nyt_HD['Incident Name'] = 'Houston Drive-by'
Nyt_HD.drop(['Title','Article'], axis=1, inplace=True)
Nyt_HD.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_HD

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article     Incident Name
0   NaN     NaN  Houston Drive-by

In [221]:
#Arizona Family Murder
url=['No Articles']
Nyt_AZFM=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AZFM= Nyt_AZFM.append([[a.title, a.text]], ignore_index=True)
Nyt_AZFM.columns=['Title','Article']
Nyt_AZFM['title'] = 'NaN'
Nyt_AZFM['article'] = 'NaN'
Nyt_AZFM['Incident Name'] = 'Arizona Family Murder'
Nyt_AZFM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_AZFM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_AZFM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Arizona Family Murder

In [222]:
#Detroit Strip Club Shootout
url=['No Articles']
Nyt_DSC=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DSC= Nyt_DSC.append([[a.title, a.text]], ignore_index=True)
Nyt_DSC.columns=['Title','Article']
Nyt_DSC['title'] = 'NaN'
Nyt_DSC['article'] = 'NaN'
Nyt_DSC['Incident Name'] = 'Detroit Strip Club Shootout'
Nyt_DSC.drop(['Title','Article'], axis=1, inplace=True)
Nyt_DSC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_DSC

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Detroit Strip Club Shootout

In [223]:
#Riverside restaurant shooting
url=['No Articles']
Nyt_RRS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RRS= Nyt_RRS.append([[a.title, a.text]], ignore_index=True)
Nyt_RRS.columns=['Title','Article']
Nyt_RRS['title'] = 'NaN'
Nyt_RRS['article'] = 'NaN'
Nyt_RRS['Incident Name'] = 'Riverside restaurant shooting'
Nyt_RRS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_RRS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_RRS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article                  Incident Name
0   NaN     NaN  Riverside restaurant shooting

In [224]:
#Wichita Nightclub shooting
url=['No Articles']
Nyt_WN=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WN= Nyt_WN.append([[a.title, a.text]], ignore_index=True)
Nyt_WN.columns=['Title','Article']
Nyt_WN['title'] = 'NaN'
Nyt_WN['article'] = 'NaN'
Nyt_WN['Incident Name'] = 'Wichita Nightclub shooting'
Nyt_WN.drop(['Title','Article'], axis=1, inplace=True)
Nyt_WN.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_WN

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article               Incident Name
0   NaN     NaN  Wichita Nightclub shooting

In [225]:
#Chelsea, MA empty apartment party shooting
url=['No Articles']
Nyt_CMAP=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CMAP= Nyt_CMAP.append([[a.title, a.text]], ignore_index=True)
Nyt_CMAP.columns=['Title','Article']
Nyt_CMAP['title'] = 'NaN'
Nyt_CMAP['article'] = 'NaN'
Nyt_CMAP['Incident Name'] = 'Chelsea, MA empty apartment party shooting'
Nyt_CMAP.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CMAP.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CMAP

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article                               Incident Name
0   NaN     NaN  Chelsea, MA empty apartment party shooting

In [226]:
#Roswell, GA Hookah shootout
url=['No Articles']
Nyt_RGA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RGA= Nyt_RGA.append([[a.title, a.text]], ignore_index=True)
Nyt_RGA.columns=['Title','Article']
Nyt_RGA['title'] = 'NaN'
Nyt_RGA['article'] = 'NaN'
Nyt_RGA['Incident Name'] = 'Roswell, GA Hookah shootout'
Nyt_RGA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_RGA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_RGA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Roswell, GA Hookah shootout

In [228]:
#Lafayette, LA drive by
url=['No Articles']
Nyt_LLA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LLA= Nyt_LLA.append([[a.title, a.text]], ignore_index=True)
Nyt_LLA.columns=['Title','Article']
Nyt_LLA['title'] = 'NaN'
Nyt_LLA['article'] = 'NaN'
Nyt_LLA['Incident Name'] = 'Lafayette, LA drive by'
Nyt_LLA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LLA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LLA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1378: Tag nav invalid

  Title Article           Incident Name
0   NaN     NaN  Lafayette, LA drive by

In [229]:
#Kansas City Home Invasion
url614='https://www.nytimes.com/2016/03/10/us/errors-led-to-release-of-suspect-in-three-previous-crimes.html'
urls=[url614]
Nyt_Uber =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Uber= Nyt_Uber.append([[a.title, a.text]], ignore_index=True)
Nyt_Uber.columns=['Title','Article']
Nyt_Uber['Incident Name'] = 'Kansas City Home Invasion'
Nyt_Uber

,Title,Article,Incident Name
0,"Series of Errors Allowed Shooting Suspect, in ...","And in September, the agency received more new...",Kansas City Home Invasion

In [230]:
#Trenton, NJ sidewalk shooting
url=['No Articles']
Nyt_TNJ=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_TNJ= Nyt_TNJ.append([[a.title, a.text]], ignore_index=True)
Nyt_TNJ.columns=['Title','Article']
Nyt_TNJ['title'] = 'NaN'
Nyt_TNJ['article'] = 'NaN'
Nyt_TNJ['Incident Name'] = 'Trenton, NJ sidewalk shooting'
Nyt_TNJ.drop(['Title','Article'], axis=1, inplace=True)
Nyt_TNJ.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_TNJ

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                  Incident Name
0   NaN     NaN  Trenton, NJ sidewalk shooting

In [231]:
#Detroit Drive-by
url=['No Articles']
Nyt_DD=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DD= Nyt_DD.append([[a.title, a.text]], ignore_index=True)
Nyt_DD.columns=['Title','Article']
Nyt_DD['title'] = 'NaN'
Nyt_DD['article'] = 'NaN'
Nyt_DD['Incident Name'] = 'Detroit Drive-by'
Nyt_DD.drop(['Title','Article'], axis=1, inplace=True)
Nyt_DD.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_DD

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article     Incident Name
0   NaN     NaN  Detroit Drive-by

In [232]:
#Elberton, Georgia murder-suicide
url=['No Articles']
Nyt_EGA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_EGA= Nyt_EGA.append([[a.title, a.text]], ignore_index=True)
Nyt_EGA.columns=['Title','Article']
Nyt_EGA['title'] = 'NaN'
Nyt_EGA['article'] = 'NaN'
Nyt_EGA['Incident Name'] = 'Elberton, Georgia murder-suicide'
Nyt_EGA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_EGA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_EGA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                     Incident Name
0   NaN     NaN  Elberton, Georgia murder-suicide

In [233]:
#Florida Family celebration ends in shooting
url=['No Articles']
Nyt_FFC=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FFC= Nyt_FFC.append([[a.title, a.text]], ignore_index=True)
Nyt_FFC.columns=['Title','Article']
Nyt_FFC['title'] = 'NaN'
Nyt_FFC['article'] = 'NaN'
Nyt_FFC['Incident Name'] = 'Florida Family celebration ends in shooting'
Nyt_FFC.drop(['Title','Article'], axis=1, inplace=True)
Nyt_FFC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_FFC

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                                Incident Name
0   NaN     NaN  Florida Family celebration ends in shooting

In [246]:
#Atlanta Nightclub shooting
url=['No Articles']
Nyt_AN=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AN= Nyt_AN.append([[a.title, a.text]], ignore_index=True)
Nyt_AN.columns=['Title','Article']
Nyt_AN['title'] = 'NaN'
Nyt_AN['article'] = 'NaN'
Nyt_AN['Incident Name'] = 'Atlanta Nightclub shooting'
Nyt_AN.drop(['Title','Article'], axis=1, inplace=True)
Nyt_AN.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_AN

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article               Incident Name
0   NaN     NaN  Atlanta Nightclub shooting

In [247]:
#Wetumpka Drive-by
url=['No Articles']
Nyt_WD=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WD= Nyt_WD.append([[a.title, a.text]], ignore_index=True)
Nyt_WD.columns=['Title','Article']
Nyt_WD['title'] = 'NaN'
Nyt_WD['article'] = 'NaN'
Nyt_WD['Incident Name'] = 'Wetumpka Drive-by'
Nyt_WD.drop(['Title','Article'], axis=1, inplace=True)
Nyt_WD.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_WD

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article      Incident Name
0   NaN     NaN  Wetumpka Drive-by

In [248]:
#Spring Break Party shooting
url=['No Articles']
Nyt_SBP=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SBP= Nyt_SBP.append([[a.title, a.text]], ignore_index=True)
Nyt_SBP.columns=['Title','Article']
Nyt_SBP['title'] = 'NaN'
Nyt_SBP['article'] = 'NaN'
Nyt_SBP['Incident Name'] = 'Spring Break Party shooting'
Nyt_SBP.drop(['Title','Article'], axis=1, inplace=True)
Nyt_SBP.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_SBP

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Spring Break Party shooting

In [249]:
#Louisville, KY Family Murder-Suicide
url=['No Articles']
Nyt_LKY=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LKY= Nyt_LKY.append([[a.title, a.text]], ignore_index=True)
Nyt_LKY.columns=['Title','Article']
Nyt_LKY['title'] = 'NaN'
Nyt_LKY['article'] = 'NaN'
Nyt_LKY['Incident Name'] = 'Louisville, KY Family Murder-Suicide'
Nyt_LKY.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LKY.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LKY

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                         Incident Name
0   NaN     NaN  Louisville, KY Family Murder-Suicide

In [250]:
#Greenhill, AL Family murder-suicide
url=['No Articles']
Nyt_GAL=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GAL= Nyt_GAL.append([[a.title, a.text]], ignore_index=True)
Nyt_GAL.columns=['Title','Article']
Nyt_GAL['title'] = 'NaN'
Nyt_GAL['article'] = 'NaN'
Nyt_GAL['Incident Name'] = 'Greenhill, AL Family murder-suicide'
Nyt_GAL.drop(['Title','Article'], axis=1, inplace=True)
Nyt_GAL.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_GAL

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                        Incident Name
0   NaN     NaN  Greenhill, AL Family murder-suicide

In [251]:
#Albuquerque, NM Family restaurant shooting
url=['No Articles']
Nyt_ANM=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ANM= Nyt_ANM.append([[a.title, a.text]], ignore_index=True)
Nyt_ANM.columns=['Title','Article']
Nyt_ANM['title'] = 'NaN'
Nyt_ANM['article'] = 'NaN'
Nyt_ANM['Incident Name'] = 'Albuquerque, NM Family restaurant shooting'
Nyt_ANM.drop(['Title','Article'], axis=1, inplace=True)
Nyt_ANM.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_ANM

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                               Incident Name
0   NaN     NaN  Albuquerque, NM Family restaurant shooting

In [252]:
#Chicago Birthday Party Bus Shooting
url=['No Articles']
Nyt_CBP=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CBP= Nyt_CBP.append([[a.title, a.text]], ignore_index=True)
Nyt_CBP.columns=['Title','Article']
Nyt_CBP['title'] = 'NaN'
Nyt_CBP['article'] = 'NaN'
Nyt_CBP['Incident Name'] = 'Chicago Birthday Party Bus Shooting'
Nyt_CBP.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CBP.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CBP

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                        Incident Name
0   NaN     NaN  Chicago Birthday Party Bus Shooting

In [253]:
#Albuquerque, NM House party shooting
url=['No Articles']
Nyt_ANMH=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ANMH= Nyt_ANMH.append([[a.title, a.text]], ignore_index=True)
Nyt_ANMH.columns=['Title','Article']
Nyt_ANMH['title'] = 'NaN'
Nyt_ANMH['article'] = 'NaN'
Nyt_ANMH['Incident Name'] = 'Albuquerque, NM House party shooting'
Nyt_ANMH.drop(['Title','Article'], axis=1, inplace=True)
Nyt_ANMH.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_ANMH

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                         Incident Name
0   NaN     NaN  Albuquerque, NM House party shooting

In [254]:
#Memphis, TN gas station shooting
url=['No Articles']
Nyt_MTNG=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MTNG= Nyt_MTNG.append([[a.title, a.text]], ignore_index=True)
Nyt_MTNG.columns=['Title','Article']
Nyt_MTNG['title'] = 'NaN'
Nyt_MTNG['article'] = 'NaN'
Nyt_MTNG['Incident Name'] = 'Memphis, TN gas station shooting'
Nyt_MTNG.drop(['Title','Article'], axis=1, inplace=True)
Nyt_MTNG.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_MTNG

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                     Incident Name
0   NaN     NaN  Memphis, TN gas station shooting

In [245]:
#Long Beach Street murder
url=['No Articles']
Nyt_LBS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LBS= Nyt_LBS.append([[a.title, a.text]], ignore_index=True)
Nyt_LBS.columns=['Title','Article']
Nyt_LBS['title'] = 'NaN'
Nyt_LBS['article'] = 'NaN'
Nyt_LBS['Incident Name'] = 'Long Beach Street murder'
Nyt_LBS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LBS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LBS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article             Incident Name
0   NaN     NaN  Long Beach Street murder

In [244]:
#Chicago Rap video Shootout
url=['No Articles']
Nyt_CR=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CR= Nyt_CR.append([[a.title, a.text]], ignore_index=True)
Nyt_CR.columns=['Title','Article']
Nyt_CR['title'] = 'NaN'
Nyt_CR['article'] = 'NaN'
Nyt_CR['Incident Name'] = 'Chicago Rap video Shootout'
Nyt_CR.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CR.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CR

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article               Incident Name
0   NaN     NaN  Chicago Rap video Shootout

In [243]:
#Texas family murder-suicide
url=['No Articles']
Nyt_TFMS=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_TFMS= Nyt_TFMS.append([[a.title, a.text]], ignore_index=True)
Nyt_TFMS.columns=['Title','Article']
Nyt_TFMS['title'] = 'NaN'
Nyt_TFMS['article'] = 'NaN'
Nyt_TFMS['Incident Name'] = 'Texas family murder-suicide'
Nyt_TFMS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_TFMS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_TFMS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Texas family murder-suicide

In [242]:
#Alabama highway random shooting
url=['No Articles']
Nyt_AHR=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_AHR= Nyt_AHR.append([[a.title, a.text]], ignore_index=True)
Nyt_AHR.columns=['Title','Article']
Nyt_AHR['title'] = 'NaN'
Nyt_AHR['article'] = 'NaN'
Nyt_AHR['Incident Name'] = 'Alabama highway random shooting'
Nyt_AHR.drop(['Title','Article'], axis=1, inplace=True)
Nyt_AHR.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_AHR

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                    Incident Name
0   NaN     NaN  Alabama highway random shooting

In [241]:
#Tire-Slashing revenge escalation
url=['No Articles']
Nyt_TSR=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_TSR= Nyt_TSR.append([[a.title, a.text]], ignore_index=True)
Nyt_TSR.columns=['Title','Article']
Nyt_TSR['title'] = 'NaN'
Nyt_TSR['article'] = 'NaN'
Nyt_TSR['Incident Name'] = 'Tire-Slashing revenge escalation'
Nyt_TSR.drop(['Title','Article'], axis=1, inplace=True)
Nyt_TSR.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_TSR

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                     Incident Name
0   NaN     NaN  Tire-Slashing revenge escalation

In [240]:
#Halifax County, VA
url=['No Articles']
Nyt_HVA=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HVA= Nyt_HVA.append([[a.title, a.text]], ignore_index=True)
Nyt_HVA.columns=['Title','Article']
Nyt_HVA['title'] = 'NaN'
Nyt_HVA['article'] = 'NaN'
Nyt_HVA['Incident Name'] = 'Halifax County, VA'
Nyt_HVA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_HVA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_HVA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article       Incident Name
0   NaN     NaN  Halifax County, VA

In [239]:
#Forestville, Maryland Drive-by
url=['No Articles']
Nyt_FMD=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FMD= Nyt_FMD.append([[a.title, a.text]], ignore_index=True)
Nyt_FMD.columns=['Title','Article']
Nyt_FMD['title'] = 'NaN'
Nyt_FMD['article'] = 'NaN'
Nyt_FMD['Incident Name'] = 'Forestville, Maryland Drive-by'
Nyt_FMD.drop(['Title','Article'], axis=1, inplace=True)
Nyt_FMD.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_FMD

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article                   Incident Name
0   NaN     NaN  Forestville, Maryland Drive-by

In [238]:
#Ferguson, MO Drive by
url=['No Articles']
Nyt_FMO=pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FMO= Nyt_FMO.append([[a.title, a.text]], ignore_index=True)
Nyt_FMO.columns=['Title','Article']
Nyt_FMO['title'] = 'NaN'
Nyt_FMO['article'] = 'NaN'
Nyt_FMO['Incident Name'] = 'Ferguson, MO Drive by'
Nyt_FMO.drop(['Title','Article'], axis=1, inplace=True)
Nyt_FMO.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_FMO

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1204: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Ferguson, MO Drive by

In [257]:
NYT_2010s=pd.concat([Nyt_LR, Nyt_UAH, Nyt_HBC, Nyt_AZGG, Nyt_YSU, Nyt_SUSCC, Nyt_NIHOP, Nyt_SS, Nyt_SJHS, Nyt_CHS,
                     Nyt_OU, Nyt_NT, Nyt_SC, Nyt_AU, Nyt_Aurora, Nyt_Sikh, Nyt_Accent, Nyt_Spot, Nyt_ASB, Nyt_Cla, 
                     Nyt_Sandy, Nyt_SVR, Nyt_PLF, Nyt_LAPD, Nyt_LR, Nyt_PVA, Nyt_VMIL, Nyt_SMC, Nyt_HA, Nyt_RTSCM, 
                     Nyt_WNY, Nyt_SMS, Nyt_MHV, Nyt_LAX, Nyt_HDD, Nyt_CHB, Nyt_SFT, Nyt_FtH, Nyt_KF, Nyt_IV, 
                     Nyt_SPU, Nyt_NP, Nyt_BSNOLA, Nyt_MPHS, Nyt_FSU, Nyt_CRT, Nyt_EBAL, Nyt_PPA, Nyt_MEM, Nyt_MID, 
                     Nyt_QNY, Nyt_LaG, Nyt_Omaha, Nyt_UNCCH, Nyt_MM, Nyt_Ty, Nyt_WV, Nyt_DGA, Nyt_Mpub, Nyt_CGA, 
                     Nyt_KTX, Nyt_CH, Nyt_BWP, Nyt_Tar, Nyt_Brook, Nyt_Cot, Nyt_Mesa, Nyt_LW, Nyt_PCB, Nyt_Tulsa, 
                     Nyt_DB, Nyt_IND, Nyt_RO, Nyt_PHO, Nyt_Kil, Nyt_GP, Nyt_Mil, Nyt_FCTT, Nyt_Tuc, Nyt_CM, Nyt_Cle,
                     Nyt_Con, Nyt_DL, Nyt_MEAMEC, Nyt_BBM, Nyt_AMNJ, Nyt_MG, Nyt_RF, Nyt_CATC, Nyt_Suw, Nyt_16LA, 
                     Nyt_HOTX, Nyt_WDBJ, Nyt_BTN, Nyt_CMN, Nyt_UCC, Nyt_NAU, Nyt_KNC, Nyt_HHEC, Nyt_CTO, Nyt_CS, 
                     Nyt_OM, Nyt_IF, Nyt_WG, Nyt_JF, Nyt_TCT, Nyt_CO, Nyt_MMN, Nyt_CSC, Nyt_SB, Nyt_ON, Nyt_CV, 
                     Nyt_OF, Nyt_LM,  Nyt_KM,  Nyt_GA, Nyt_HK, Nyt_BW, Nyt_Wood, Nyt_CMa, Nyt_KCK, Nyt_PP, Nyt_PF, 
                     Nyt_LK, Nyt_LT, Nyt_LNC, Nyt_RV, Nyt_LF, Nyt_RMT,Nyt_WDE, Nyt_GCVA, Nyt_FFM, Nyt_LAD,Nyt_PCA,
                     Nyt_CAFMS, Nyt_CCV, Nyt_GAZ, Nyt_NOGS,Nyt_TFL, Nyt_LASS, Nyt_TXFMS, Nyt_NFS, Nyt_MSS, Nyt_VCA, 
                     Nyt_FHB, Nyt_Uber, Nyt_MH, Nyt_HD,Nyt_AZFM, Nyt_DSC,Nyt_RRS, Nyt_WN, Nyt_CMAP, Nyt_RGA, Nyt_LLA, 
                     Nyt_TNJ, Nyt_DD, Nyt_EGA, Nyt_FFC, Nyt_FMO,Nyt_FMD, Nyt_HVA, Nyt_TSR, Nyt_AHR, Nyt_TFMS, Nyt_CR, 
                     Nyt_LBS, Nyt_AN,Nyt_WD, Nyt_SBP, Nyt_LKY, Nyt_GAL, Nyt_ANM, Nyt_CBP, Nyt_ANMH, Nyt_MTNG])

In [263]:
NYT_2010s.to_csv('NYT 2010s Shootings.csv',index=False, encoding='utf-8')