In [4]:
import pandas as pd
import newspaper
from newspaper import Article

In [6]:
#Ladera Ranch
url1='http://www.nytimes.com/2013/02/20/us/shooting-spree-in-california.html'
Nyt_LR =pd.DataFrame()
a=Article(url1, language='en')
a.download()
a.parse()
Nyt_LR= Nyt_LR.append([[a.title, a.text]], ignore_index=True)
Nyt_LR.columns=['Title','Article']
Nyt_LR['Incident Name'] = 'Ladera Ranch'
Nyt_LR

,Title,Article,Incident Name
0,At Least 4 Dead in California Shootings,As the man drove through the parking lot to es...,Ladera Ranch

In [7]:
#University of Alabama Huntsville 
url2='http://www.nytimes.com/2010/02/14/us/14alabama.html'
url3='http://www.nytimes.com/2010/02/15/us/15alabama.html'
url4='http://www.nytimes.com/2010/02/17/us/17alabama.html'
urls=[url2,url3,url4]
Nyt_UAH =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_UAH= Nyt_UAH.append([[a.title, a.text]], ignore_index=True)
Nyt_UAH.columns=['Title','Article']
Nyt_UAH['Incident Name'] = 'University of Alabama Huntsville'
Nyt_UAH

,Title,Article,Incident Name
0,A Previous Shooting Death at the Hands of Alab...,"HUNTSVILLE, Ala.  The neurobiologist accused ...",University of Alabama Huntsville
1,A Previous Shooting Death at the Hands of Alab...,"HUNTSVILLE, Ala.  On Friday, this city of roc...",University of Alabama Huntsville
2,New Look at Killing of Amy Bishop’s Brother,As the district attorney’s office noted in its...,University of Alabama Huntsville

In [9]:
# #Hartford Beer Company
url5='http://www.nytimes.com/2010/08/04/nyregion/04shooting.html'
url6='http://www.nytimes.com/2010/08/04/nyregion/04gunman.html'
url7='http://www.nytimes.com/2010/08/05/nyregion/05shooting.html'
url8='http://www.nytimes.com/2010/08/05/nyregion/05vics.html'
urls=[url5, url6,url7,url8]
Nyt_HBC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HBC= Nyt_HBC.append([[a.title, a.text]], ignore_index=True)
Nyt_HBC.columns=['Title','Article']
Nyt_HBC['Incident Name'] = 'Hartford Beer Company'
Nyt_HBC

,Title,Article,Incident Name
0,9 Reported Dead in Workplace Shooting,"The rampage, the latest in a series of America...",Hartford Beer Company
1,Gunman in Mass Shooting Had Bumpy Life,"He was bankrupt by age 24, when, court filings...",Hartford Beer Company
2,Gunman Came Prepared to Connecticut Workplace ...,When Omar S. Thornton came to the Hartford Dis...,Hartford Beer Company
3,Remembering the Lives Lost in a Warehouse Rampage,"Mr. Pepin, who was 60, had driven beer trucks ...",Hartford Beer Company

In [ ]:
#Gabby Giffords Shooting URLS
url9='http://www.nytimes.com/2011/01/09/us/politics/09giffords.html'
url10='http://www.nytimes.com/2011/01/09/us/politics/09profileweb.html'
url11='http://www.nytimes.com/2011/01/09/us/politics/09capital.html'
url12='http://www.nytimes.com/2011/01/09/us/09judge.html'
url13='http://www.nytimes.com/2011/01/09/us/politics/09shooter.html'
url14='http://www.nytimes.com/2011/01/09/us/politics/09bai.html'
url15='http://www.nytimes.com/2011/01/10/us/10giffords.html'
url16='https://thecaucus.blogs.nytimes.com/2011/01/09/live-blog-latest-developments-on-arizona-shooting/?_r=0'
url17='http://www.nytimes.com/2011/01/10/us/politics/10capital.html'
url18='http://www.nytimes.com/2011/01/10/us/10religious.html'
url19='http://www.nytimes.com/2011/01/10/us/10arizona.html'
url20='http://www.nytimes.com/2011/01/10/opinion/10mon1.html'
url21='http://www.nytimes.com/2011/01/10/us/10iht-letter10.html'
url22='https://learning.blogs.nytimes.com/2011/01/09/will-the-arizona-shootings-change-our-political-culture/'
url23='https://learning.blogs.nytimes.com/2011/01/09/ways-to-teach-about-the-arizona-shootings/'
url24='http://www.nytimes.com/2011/01/10/us/politics/10security.html'
url25='http://www.nytimes.com/2011/01/10/sports/10shoot.html'
url26='http://www.nytimes.com/2011/01/10/us/10judge.html'
url27='http://www.nytimes.com/2011/01/10/us/10reconstruct.html'
url28='http://www.nytimes.com/2011/01/10/us/politics/10politics.html'
url29='http://www.nytimes.com/2011/01/10/us/10staff.html'
url30='http://www.nytimes.com/2011/01/10/health/10medical.html'
url31='http://www.nytimes.com/2011/01/10/opinion/10collins.html'
url32=

In [ ]:
urls=[url5, url6,url7,url8]
Nyt_HBC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HBC= Nyt_HBC.append([[a.title, a.text]], ignore_index=True)
Nyt_HBC.columns=['Title','Article']
Nyt_HBC['Incident Name'] = 'Tucscon, Arizona - Gabby Giffords'
Nyt_HBC

In [ ]:
url=['No Articles']
Nyt_ASL =pd.DataFrame() 
a=Article(url, language='en')
a.download()
a.parse()
Nyt_ASL= Nyt_ASL.append([[a.title, a.text]], ignore_index=True)
Nyt_ASL.columns=['Title','Article']