In [3]:
import pandas as pd
import newspaper
from newspaper import Article

In [4]:
urls = ['No Article']
# "for i in urls:
#     print i"
# Nyt_Columbine = []
Nyt_NolaPD =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_NolaPD= Nyt_NolaPD.append([[a.title, a.text]], ignore_index=True)
Nyt_NolaPD.columns=['Title','Article']

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 633, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91939)
XMLSyntaxError: None

In [5]:
Nyt_NolaPD['Title'] = 'NaN'
Nyt_NolaPD['Article'] = 'NaN'
Nyt_NolaPD['Incident Name'] = 'NOLA PD'

In [6]:
Nyt_NolaPD

  Title Article Incident Name
0   NaN     NaN       NOLA PD

In [7]:
url=['No Articles']
Nyt_ClaraBarton =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ClaraBarton= Nyt_ClaraBarton.append([[a.title, a.text]], ignore_index=True)
Nyt_ClaraBarton.columns=['Title','Article']

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 633, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91939)
XMLSyntaxError: None

In [8]:
Nyt_ClaraBarton['Title'] = 'NaN'
Nyt_ClaraBarton['Article'] = 'NaN'
Nyt_ClaraBarton['Incident Name'] = 'Clara Barton Elementary'

In [9]:
url1='http://www.nytimes.com/1975/01/01/archives/snipers-classmate-says-guns-were-whole-life-a-classmate-of-upstate.html'
url2='http://www.nytimes.com/1974/12/31/archives/3-killed-and-9-wounded-by-an-upstate-sniper-18-3-killed-and-9.html'
urls=[url1,url2]
Nyt_Olean =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Olean= Nyt_Olean.append([[a.title, a.text]], ignore_index=True)
Nyt_Olean.columns=['Title','Article']

In [10]:
Nyt_Olean.head()

,Title,Article
0,Sniper's Classmate Says Guns Were ‘Whole Life’,The attack at the school has stunned this comm...
1,"3 Killed and 9 Wounded By an Upstate Sniper, 18",The youth was charged with three counts of mur...

In [11]:
Nyt_Olean['Incident Name'] = 'Olean High School'
Nyt_Olean['Shooter Race']='White'
Nyt_Olean

,Title,Article,Incident Name,Shooter Race
0,Sniper's Classmate Says Guns Were ‘Whole Life’,The attack at the school has stunned this comm...,Olean High School,White
1,"3 Killed and 9 Wounded By an Upstate Sniper, 18",The youth was charged with three counts of mur...,Olean High School,White

In [12]:
url=['No Articles'] # Los Angeles Computer Learning Center
Nyt_LACLC =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LACLC= Nyt_LACLC.append([[a.title, a.text]], ignore_index=True)
Nyt_LACLC.columns=['Title','Article']

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1031: Tag nav invalid

In [13]:
Nyt_LACLC['title'] = 'NaN'
Nyt_LACLC['article'] = 'NaN'
Nyt_LACLC['Incident Name'] = 'LA Computer Learning Center'

In [14]:
Nyt_LACLC.drop(['Title','Article'], axis=1, inplace=True)

In [15]:
Nyt_LACLC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)

In [16]:
url=['No Articles'] #Cal State Fullerton
Nyt_CSF =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CSF= Nyt_CSF.append([[a.title, a.text]], ignore_index=True)
Nyt_CSF.columns=['Title','Article']
Nyt_CSF['title'] = 'NaN'
Nyt_CSF['article'] = 'NaN'
Nyt_CSF['Incident Name'] = 'Cal State Fullerton'

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1031: Tag nav invalid

In [17]:
Nyt_CSF.drop(['Title','Article'], axis=1, inplace=True)

In [18]:
Nyt_CSF.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_CSF

  Title Article        Incident Name
0   NaN     NaN  Cal State Fullerton

In [19]:
url3='http://www.nytimes.com/1979/01/30/archives/san-diego-girl-slays-2-with-rifle-and-wounds-9-on-school-grounds.html'
url4='http://www.nytimes.com/1979/01/30/archives/tomboy-and-gun-enthusiast-ammunition-for-small-army.html'
url5='http://www.nytimes.com/1979/01/31/archives/coast-sniper-vowed-she-would-do-something-big-planned-something-big.html'
urls2= [url3,url4, url5]
#Grover Cleveland Elementary
Nyt_GCE =pd.DataFrame()
for i in urls2: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GCE= Nyt_GCE.append([[a.title, a.text]], ignore_index=True)
Nyt_GCE.columns=['Title','Article']

In [20]:
Nyt_GCE['Incident Name'] = 'Grover Cleveland Elementary School'
Nyt_GCE['Shooter Race']='White'
Nyt_GCE

,Title,Article,Incident Name,Shooter Race
0,San Diego Girl Slays 2 With Rifle And Wounds 9...,Special weapons and tactics officers from the ...,Grover Cleveland Elementary School,White
1,Tomboy and Gun Enthusiast,"SAN DIEGO, Jan. 29 (AP) — Brenda Spencer's cla...",Grover Cleveland Elementary School,White
2,Coast Sniper Vowed She Would ‘Do Something Big’,"SAN DIEGO, Jan. 30 — Wally Spencer's eyes were...",Grover Cleveland Elementary School,White

In [21]:
#Uof S Carolina
url6='http://www.nytimes.com/1979/10/07/archives/around-the-nation-2-south-carolina-students-slain-at-fraternity.html'
Nyt_UofSC =pd.DataFrame()
a=Article(url6, language='en')
a.download()
a.parse()
Nyt_UofSC= Nyt_UofSC.append([[a.title, a.text]], ignore_index=True)
Nyt_UofSC.columns=['Title','Article']

In [22]:
data=['Around the Nation', 'COLUMBIA, S.C., Oct. 6 (UPI) ‐Two students were killed today and five others were wounded by a gunman who drew pistol and fired repeatedly into a Kappa Alpha Psi fraternity homecoming party at the University of South Carolina. 2 South Carolina Students Slain at Fraternity Party The police said that the suspect, identified as Mark A. Houston, a 19‐year‐old sophmore from Columbia, had been followed to a dormitory at Allen University, another school near the main South Carolina campus, where he had been arrested and charged with murder. The dead victims were identified as Terrell G. Johnson, 21 years old, of St. Matthews, and Patrick McGinty, 18, of Wilmington, Del. Both were students at South Carolina, the authorities said. Judy Cotchett, a spokesman at the Richland Memorial Hospital said that John Leroy Aiken, 20, an Allen University student from Sumter, was in critical condition. William Terry Langston, 22, South Carolina student, was treated for minor injuries and was released, she said. Three other South Carolina students were in stable condition at the Baptist Hospital. They were identified as Randy McCray, 18, Columbia; Michael Lawyer, 18, Moncks Corner, and David L. Simmons, 17, Charleston.']
columns=['Title','Article']
Nyt_UofSC =pd.DataFrame(data=data, columns=columns)

ValueError: Shape of passed values is (1, 2), indices imply (2, 2)

In [23]:
Nyt_UofSC['Incident Name'] = 'Univeristy of South Carolina'
Nyt_UofSC['Shooter Race']='African American'

In [24]:
#St.Aloysius Church Spokane Washington
url7='http://www.nytimes.com/1971/11/14/archives/father-blames-lsd-for-shooting-outburst-by-son.html'
urls3=[url7]
Nyt_StAs =pd.DataFrame()
for i in urls3: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_StAs= Nyt_StAs.append([[a.title, a.text]], ignore_index=True)
Nyt_StAs.columns=['Title','Article']

In [25]:
Nyt_StAs['Incident Name'] = 'St.Aloysius Church'
Nyt_StAs['Shooter Race']='White'
Nyt_StAs

,Title,Article,Incident Name,Shooter Race
0,Father Blames LSD for Shooting Outburst by Son,"E. Glenn Harmon, the young man's father, said ...",St.Aloysius Church,White

In [26]:
NYT_1970s=pd.concat([Nyt_NolaPD, Nyt_ClaraBarton, Nyt_Olean, Nyt_LACLC, Nyt_CSF, Nyt_GCE, Nyt_UofSC, Nyt_StAs]).reset_index()
NYT_1970s.drop(['index'],axis=1, inplace=True)
NYT_1970s

,Article,Incident Name,Shooter Race,Title
0,NaN,NOLA PD,NaN,NaN
1,NaN,Clara Barton Elementary,NaN,NaN
2,The attack at the school has stunned this comm...,Olean High School,White,Sniper's Classmate Says Guns Were ‘Whole Life’
3,The youth was charged with three counts of mur...,Olean High School,White,"3 Killed and 9 Wounded By an Upstate Sniper, 18"
4,NaN,LA Computer Learning Center,NaN,NaN
5,NaN,Cal State Fullerton,NaN,NaN
6,Special weapons and tactics officers from the ...,Grover Cleveland Elementary School,White,San Diego Girl Slays 2 With Rifle And Wounds 9...
7,"SAN DIEGO, Jan. 29 (AP) — Brenda Spencer's cla...",Grover Cleveland Elementary School,White,Tomboy and Gun Enthusiast
8,"SAN DIEGO, Jan. 30 — Wally Spencer's eyes were...",Grover Cleveland Elementary School,White,Coast Sniper Vowed She Would ‘Do Something Big’
9,Radioactive Tritium Seizure Brings Bankruptcy ...,Univeristy of South Carolina,African American,The New York Times
10,"E. Glenn Harmon, the young man's father, said ...",St.Aloysius Church,White,Father Blames LSD for Shooting Outburst by Son

In [27]:
for i in NYT_1970s:
    i.replace('N.R.A.','NRA')

In [28]:
NYT_1970s.to_csv('NYT 1970s Shootings-2.csv',index=False, encoding='utf-8')