In [59]:
import pandas as pd
import newspaper
from newspaper import Article

In [60]:
#GMAC Loan Office
url1='http://www.nytimes.com/1990/06/20/us/hazy-records-helped-florida-gunman-buy-arms.html'
url2='http://www.nytimes.com/1990/06/19/us/florida-gunman-kills-8-and-wounds-6-in-office.html'
url3='http://www.nytimes.com/1990/06/19/us/florida-gunman-kills-8-and-then-himself.html'
urls=[url1, url2,url3]
Nyt_GLO =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_GLO= Nyt_GLO.append([[a.title, a.text]], ignore_index=True)
Nyt_GLO.columns=['Title','Article']

In [61]:
Nyt_GLO['Incident Name'] = 'GMAC Loan Office'
Nyt_GLO['Shooter Race']='African American'
Nyt_GLO

,Title,Article,Incident Name,Shooter Race
0,Hazy Records Helped Florida Gunman Buy Arms,"JACKSONVILLE, Fla., June 19— The police said t...",GMAC Loan Office,African American
1,Florida Gunman Kills 8 And Wounds 6 in Office,"JACKSONVILLE, Fla., June 18— A man sprayed doz...",GMAC Loan Office,African American
2,Florida Gunman Kills 8 and Then Himself,This item appeared in the paper as a stand alo...,GMAC Loan Office,African American

In [62]:
#Univeristy of Iowa
url161='http://www.nytimes.com/1991/11/02/us/student-opens-fire-at-u-of-iowa-killing-4-before-shooting-himself.html'
url162='http://www.nytimes.com/1991/11/03/us/gunman-in-iowa-wrote-of-plans-in-five-letters.html'
url163='http://www.nytimes.com/1991/11/04/us/portrait-of-gunman-s-victims.html'
urls=[url161, url162,url163]
Nyt_UofI =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_UofI= Nyt_UofI.append([[a.title, a.text]], ignore_index=True)
Nyt_UofI.columns=['Title','Article']
Nyt_UofI['Incident Name'] = 'Univeristy of Iowa'
Nyt_UofI['Shooter Race']='Asian'
Nyt_UofI

,Title,Article,Incident Name,Shooter Race
0,"Student Opens Fire at U. of Iowa, Killing 4 Be...",A distraught graduate student went on a shooti...,Univeristy of Iowa,Asian
1,Gunman in Iowa Wrote of Plans In Five Letters,"IOWA CITY, Iowa, Nov. 2— Late Friday afternoon...",Univeristy of Iowa,Asian
2,Portrait of Gunman's Victims,"IOWA CITY, Iowa, Nov. 3— Following are biograp...",Univeristy of Iowa,Asian

In [63]:
#Ridgewood Post Office
url4='http://www.nytimes.com/1991/10/14/nyregion/4-killed-and-2-are-wounded-in-queens-rampage.html'
url5='http://www.nytimes.com/1991/10/13/nyregion/death-invades-a-tranquil-village-and-ridgewood-deals-with-horror.html'
url6='http://www.nytimes.com/1991/10/12/nyregion/suspect-in-spree-refused-to-fight-loss-of-his-job.html'
url7='http://www.nytimes.com/1991/10/11/nyregion/4-slain-in-2-new-jersey-attacks-and-former-postal-clerk-is-held.html'
urls=[url4, url5,url6,url7]
Nyt_RPO =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_RPO= Nyt_RPO.append([[a.title, a.text]], ignore_index=True)
Nyt_RPO.columns=['Title','Article']

In [64]:
Nyt_RPO['Incident Name'] = 'Ridgewood Post Office'
Nyt_RPO['Shooter Race']='African American'
Nyt_RPO

,Title,Article,Incident Name,Shooter Race
0,4 Killed and 2 Are Wounded in Queens Rampage,A 47-year-old neighborhood eccentric went on a...,Ridgewood Post Office,African American
1,"Death Invades a Tranquil Village, And Ridgewoo...","RIDGEWOOD, N.J., Oct. 12 --\n\nThe people who ...",Ridgewood Post Office,African American
2,Suspect in Spree Refused to Fight Loss of His Job,"RIDGEWOOD, N.J., Oct. 11— Months before conduc...",Ridgewood Post Office,African American
3,4 Slain in 2 New Jersey Attacks And Former Pos...,"RIDGEWOOD, N.J., Oct. 10— A former postal cler...",Ridgewood Post Office,African American

In [65]:
#Luby's Cafeteria
url8='http://www.nytimes.com/1991/10/17/us/gunman-kills-22-and-himself-in-texas-cafeteria.html'
url9='http://www.nytimes.com/1991/10/18/business/company-news-luby-s-delay-on-earnings.html'
url10='http://www.nytimes.com/1991/10/18/us/portrait-of-texas-killer-impatient-and-troubled.html'
url11='http://www.nytimes.com/1991/10/18/us/some-victims-in-texas-a-colonel-an-ex-teacher-and-dr-g.html'
url12='http://www.nytimes.com/1991/10/19/us/town-in-texas-quietly-gathers-for-a-memorial.html'
url13='http://www.nytimes.com/1991/10/20/weekinreview/dead-23-texans-and-1-anti-gun-measure.html'
url14='http://www.nytimes.com/1991/10/20/us/deaths-at-home-rend-town-used-to-worst-of-war.html'
url15='http://www.nytimes.com/1991/10/22/us/autopsy-of-man-who-killed-23-in-texas-finds-no-drugs-or-tumor.html'
urls=[url8, url9,url10,url11,url12,url13,url14,url15]
Nyt_LC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LC= Nyt_LC.append([[a.title, a.text]], ignore_index=True)
Nyt_LC.columns=['Title','Article']
Nyt_LC['Incident Name'] = 'Lubys Cafeteria'
Nyt_LC['Shooter Race']='White'
Nyt_LC

,Title,Article,Incident Name,Shooter Race
0,Gunman Kills 22 and Himself in Texas Cafeteria,"KILLEEN, Tex., Oct. 16— A man smashed a pickup...",Lubys Cafeteria,White
1,Luby's Delay On Earnings,"KILLEEN, Tex., Oct. 17— The earnings report fo...",Lubys Cafeteria,White
2,Portrait of Texas Killer,"BELTON, Tex., Oct. 17— At 5:30 Wednesday morni...",Lubys Cafeteria,White
3,"A Colonel, an Ex-Teacher and 'Dr. G.'","KILLEEN, Tex., Oct., 17— Steven Charles Dody w...",Lubys Cafeteria,White
4,Town in Texas Quietly Gathers For a Memorial,"KILLEEN, Tex., Oct. 18— Two days after a gunma...",Lubys Cafeteria,White
5,23 Texans and 1 Anti-Gun Measure,"The day after his birthday last week, George J...",Lubys Cafeteria,White
6,Deaths at Home Rend Town Used to Worst of War,"KILLEEN, Tex., Oct. 19— This small, hard-nosed...",Lubys Cafeteria,White
7,Autopsy of Man Who Killed 23 In Texas Finds No...,"KILLEEN, Tex., Oct. 21— The gunman who killed ...",Lubys Cafeteria,White

In [66]:
#Royal Oak Post Office
url16='http://www.nytimes.com/1991/11/16/us/slayings-at-michigan-post-office-spur-a-review-of-all-employees.html'
url17='http://www.nytimes.com/1991/11/15/us/ex-postal-worker-kills-3-and-wounds-6-in-michigan.html'
url18='http://www.nytimes.com/1991/11/15/us/concerned-over-morale-post-office-asks-why.html'
urls=[url16,url17,url18]
Nyt_ROPO =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_ROPO= Nyt_ROPO.append([[a.title, a.text]], ignore_index=True)
Nyt_ROPO.columns=['Title','Article']
Nyt_ROPO['Incident Name'] = 'Royal Oak Post Office'
Nyt_ROPO['Shooter Race']='White'
Nyt_ROPO

,Title,Article,Incident Name,Shooter Race
0,Slayings at Michigan Post Office Spur a Review...,"BIRMINGHAM, Mich., Nov. 15— The nation's Postm...",Royal Oak Post Office,White
1,Ex-Postal Worker Kills 3 and Wounds 6 in Michigan,"ROYAL OAK, Mich., Friday, Nov. 15— A former po...",Royal Oak Post Office,White
2,"Concerned Over Morale, Post Office Asks Why","WASHINGTON, Nov. 14— Concerned with the morale...",Royal Oak Post Office,White

In [67]:
url=['No Articles'] # Lindhurst High School
Nyt_LHS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LHS= Nyt_LHS.append([[a.title, a.text]], ignore_index=True)
Nyt_LHS.columns=['Title','Article']
Nyt_LHS['title'] = 'NaN'
Nyt_LHS['article'] = 'NaN'
Nyt_LHS['Incident Name'] = 'Lindhurst High School'
Nyt_LHS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LHS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LHS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 523: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Lindhurst High School

In [68]:
url=['No Articles'] # Palo Duro High School
Nyt_PDHS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PDHS= Nyt_PDHS.append([[a.title, a.text]], ignore_index=True)
Nyt_PDHS.columns=['Title','Article']
Nyt_PDHS['title'] = 'NaN'
Nyt_PDHS['article'] = 'NaN'
Nyt_PDHS['Incident Name'] = 'Palo Duro High School'
Nyt_PDHS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_PDHS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_PDHS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 523: Tag nav invalid

  Title Article          Incident Name
0   NaN     NaN  Palo Duro High School

In [69]:
#Schuyler Child Support
url19='http://www.nytimes.com/1992/10/18/nyregion/little-things-of-4-lost-lives-recalled.html'
url20='http://www.nytimes.com/1992/10/16/nyregion/gunman-kills-4-who-collected-child-payments.html'
url21='http://www.nytimes.com/1992/10/17/nyregion/shooting-followed-tougher-efforts-to-collect-child-support.html'
urls=[url19,url20,url21]
Nyt_SCS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SCS= Nyt_SCS.append([[a.title, a.text]], ignore_index=True)
Nyt_SCS.columns=['Title','Article']
Nyt_SCS['Incident Name'] = 'Schuyler County Office Building'
Nyt_SCS['Shooter Race']='White'
Nyt_SCS

,Title,Article,Incident Name,Shooter Race
0,Little Things of 4 Lost Lives Recalled,"WATKINS GLEN, N.Y., Oct. 17— Carol Goodrich sa...",Schuyler County Office Building,White
1,Gunman Kills 4 Who Collected Child Payments,"WATKINS GLEN, N.Y., Oct. 15— A truck driver wh...",Schuyler County Office Building,White
2,Shooting Followed Tougher Efforts to Collect C...,"WATKINS GLEN, N.Y., Oct. 16— John T. Miller nu...",Schuyler County Office Building,White

In [70]:
#Simon Rock College of Bard
url22='http://www.nytimes.com/1992/12/16/us/college-student-sprays-campus-with-an-assault-rifle-killing-2.html'
url23='http://www.nytimes.com/1992/12/19/opinion/the-slain-principal-s-last-lesson.html'
urls=[url22,url23]
Nyt_SRCB =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SRCB= Nyt_SRCB.append([[a.title, a.text]], ignore_index=True)
Nyt_SRCB.columns=['Title','Article']
Nyt_SRCB['Incident Name'] = 'Simons Rock College of Bard'
Nyt_SRCB['Shooter Race']='Asian'
Nyt_SRCB

,Title,Article,Incident Name,Shooter Race
0,College Student Sprays Campus With an Assault ...,"GREAT BARRINGTON, Mass., Dec. 15— An honors st...",Simons Rock College of Bard,Asian
1,The Slain Principal's Last Lesson,Patrick Daly was a peaceful man who dedicated ...,Simons Rock College of Bard,Asian

In [71]:
#Pettit and Martin Law Firm
url24='http://www.nytimes.com/1993/07/02/us/gunman-raids-law-office-and-kills-8.html'
Nyt_PMLLP =pd.DataFrame()
a=Article(url17, language='en')
a.download()
a.parse()
Nyt_PMLLP= Nyt_PMLLP.append([[a.title, a.text]], ignore_index=True)
Nyt_PMLLP.columns=['Title','Article']
Nyt_PMLLP['Incident Name'] = 'SF Offices of Pettit & Martin'
Nyt_PMLLP['Shooter Race']='White'
Nyt_PMLLP

,Title,Article,Incident Name,Shooter Race
0,Ex-Postal Worker Kills 3 and Wounds 6 in Michigan,"ROYAL OAK, Mich., Friday, Nov. 15— A former po...",SF Offices of Pettit & Martin,White

In [72]:
#Dearborn PO
url25='http://www.nytimes.com/1993/05/09/weekinreview/may-2-8-workers-kill-workers-yet-again-violence-in-the-post-office.html'
url26='http://www.nytimes.com/1993/05/07/us/2-are-killed-in-post-office-shootings-in-2-states.html'
url27='http://www.nytimes.com/1993/05/08/us/postal-officials-examine-system-after-2-killings.html'
urls=[url25,url26,url27]
Nyt_DPO =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DPO= Nyt_DPO.append([[a.title, a.text]], ignore_index=True)
Nyt_DPO.columns=['Title','Article']
Nyt_DPO['Incident Name'] = 'Dearborn Post Office'
Nyt_DPO['Shooter Race']='White'
Nyt_DPO

,Title,Article,Incident Name,Shooter Race
0,"Yet Again, Violence In the Post Office","The coincidence was bizarre, but the events we...",Dearborn Post Office,White
1,2 Are Killed in Post Office Shootings in 2 States,"LOS ANGELES, May 6— Two people were killed and...",Dearborn Post Office,White
2,Postal Officials Examine System After 2 Killings,"WASHINGTON, May 7— As shaken Post Office offic...",Dearborn Post Office,White

In [73]:
#Dana Point PO
url28='http://www.nytimes.com/1993/05/09/weekinreview/may-2-8-workers-kill-workers-yet-again-violence-in-the-post-office.html'
url29='http://www.nytimes.com/1993/05/07/us/2-are-killed-in-post-office-shootings-in-2-states.html'
url30='http://www.nytimes.com/1993/05/08/us/postal-officials-examine-system-after-2-killings.html'
urls=[url25,url26,url27]
Nyt_DPPO =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DPPO= Nyt_DPPO.append([[a.title, a.text]], ignore_index=True)
Nyt_DPPO.columns=['Title','Article']
Nyt_DPPO['Incident Name'] = 'Dana Point Post Office'
Nyt_DPPO['Shooter Race']='White'
Nyt_DPPO

,Title,Article,Incident Name,Shooter Race
0,"Yet Again, Violence In the Post Office","The coincidence was bizarre, but the events we...",Dana Point Post Office,White
1,2 Are Killed in Post Office Shootings in 2 States,"LOS ANGELES, May 6— Two people were killed and...",Dana Point Post Office,White
2,Postal Officials Examine System After 2 Killings,"WASHINGTON, May 7— As shaken Post Office offic...",Dana Point Post Office,White

In [74]:
#Weber State University
url31='http://www.nytimes.com/1993/07/09/us/student-shoots-3-at-hearing-in-utah-and-is-then-killed.html'
Nyt_WSU =pd.DataFrame()
a=Article(url31, language='en')
a.download()
a.parse()
Nyt_WSU= Nyt_WSU.append([[a.title, a.text]], ignore_index=True)
Nyt_WSU.columns=['Title','Article']
Nyt_WSU['Incident Name'] = 'Weber State University'
Nyt_WSU['Shooter Race']='Asian'
Nyt_WSU

,Title,Article,Incident Name,Shooter Race
0,"Student Shoots 3 at Hearing In Utah, and Is Th...","SALT LAKE CITY, July 8— A student grievance he...",Weber State University,Asian

In [75]:
url=['No Articles'] # Luigi's Restaurant in Fayetteville,LA
Nyt_LFLA =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LFLA= Nyt_LFLA.append([[a.title, a.text]], ignore_index=True)
Nyt_LFLA.columns=['Title','Article']
Nyt_LFLA['title'] = 'NaN'
Nyt_LFLA['article'] = 'NaN'
Nyt_LFLA['Incident Name'] = 'Luigis Restaurant in Fayetteville,LA'
Nyt_LFLA.drop(['Title','Article'], axis=1, inplace=True)
Nyt_LFLA.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_LFLA

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 508: Tag nav invalid

  Title Article                         Incident Name
0   NaN     NaN  Luigis Restaurant in Fayetteville,LA

In [76]:
#Central Middle School, Wyoming
url32='http://www.nytimes.com/1993/09/18/us/gunman-wounds-4-at-wyoming-school.html'
Nyt_CMS =pd.DataFrame()
a=Article(url32, language='en')
a.download()
a.parse()
Nyt_CMS= Nyt_CMS.append([[a.title, a.text]], ignore_index=True)
Nyt_CMS.columns=['Title','Article']
Nyt_CMS['Incident Name'] = 'Central Middle School'
Nyt_CMS['Shooter Race']='White'
Nyt_CMS

,Title,Article,Incident Name,Shooter Race
0,Gunman Wounds 4 at Wyoming School,This item appeared in the paper as a stand alo...,Central Middle School,White

In [77]:
#LIRR Shooting
url33='http://www.nytimes.com/1993/12/08/nyregion/metro-digest-441693.html'
url34='http://www.nytimes.com/1993/12/08/nyregion/gunman-kills-5-on-lirr-train-19-are-wounded.html'
url35='http://www.nytimes.com/1993/12/08/nyregion/riders-on-board-train-scramble-to-survive.html'
url36='http://www.nytimes.com/1993/12/09/nyregion/death-on-the-lirr-the-rampage-gunman-in-a-train-aisle-passes-out-death.html'
url37='http://www.nytimes.com/1993/12/09/nyregion/death-lirr-commuters-ride-day-later-5-33-will-never-seem-same-again.html'
url38='http://www.nytimes.com/1993/12/09/nyregion/news-summary-300893.html'
url39='http://www.nytimes.com/1993/12/09/nyregion/metro-digest-455193.html'
url40='http://www.nytimes.com/1993/12/09/nyregion/death-lirr-white-house-moved-killings-clinton-urges-action-gun-legislation.html'
rul41='http://www.nytimes.com/1993/12/09/nyregion/death-lirr-overview-portrait-suspect-emerges-shooting-li-train.html'
url41='http://www.nytimes.com/1993/12/09/nyregion/death-on-the-lirr-the-weapon-16-days-in-california-and-a-fateful-purchase.html'
url42='http://www.nytimes.com/1993/12/10/nyregion/death-lirr-adelphi-recalls-student-driven-rage-suspended-for-making-threats.html'
url43='http://www.nytimes.com/1993/12/10/opinion/mass-murder-on-the-5-33.html'
url44='http://www.nytimes.com/1993/12/10/nyregion/death-on-the-lirr-suspect-s-quiet-roots-in-jamaica-suburb.html'
url45='http://www.nytimes.com/1993/12/10/nyregion/death-on-the-lirr-police-look-for-the-spark-that-led-to-the-shootings.html'
url46='http://www.nytimes.com/1993/12/10/nyregion/death-on-the-lirr-suddenly-fearful-riders-mourn-loss-of-a-haven.html'
url47='http://www.nytimes.com/1993/12/10/us/administration-floats-proposal-for-licensing-all-gun-owners.html'
url48='http://www.nytimes.com/1993/12/11/nyregion/a-yonkers-neighborhood-reels-after-shootings.html'
url49='http://www.nytimes.com/1993/12/11/nyregion/death-on-the-lirr-lawyer-seeks-sanity-inquiry-in-li-killings.html'
url50='http://www.nytimes.com/1993/12/11/nyregion/death-on-lirr-a-rampage-shatters-semblance-of-safety.html'
url51='http://www.nytimes.com/1993/12/11/nyregion/death-on-lirr-gathering-to-mourn-lives-lost-on-train.html'
url52='http://www.nytimes.com/1993/12/12/nyregion/tormented-life-special-report-long-slide-privilege-ends-slaughter-train.html'
url53='http://www.nytimes.com/1993/12/12/nyregion/killings-leave-yonkers-now-talking-about-violence.html'
url54='http://www.nytimes.com/1993/12/12/weekinreview/the-nation-as-gunfire-gets-closer-fear-comes-home.html'
url55='http://www.nytimes.com/1993/12/12/opinion/in-america-a-sea-change-on-crime.html'
url56='http://www.nytimes.com/1993/12/13/nyregion/mineola-woman-is-6th-to-die-in-rail-shootings.html'
url57='http://www.nytimes.com/1993/12/13/nyregion/after-train-killings-worry-about-backlash.html'
url58='http://www.nytimes.com/1993/12/13/nyregion/woman-in-92-subway-dispute-with-lirr-suspect-says-all-the-signs-were-there.html'
url59='http://www.nytimes.com/1993/12/13/nyregion/giuliani-repeats-his-call-for-national-gun-licensing.html'
url60='http://www.nytimes.com/1993/12/13/us/rise-is-found-in-hate-crimes-committed-by-blacks.html'
url61='http://www.nytimes.com/1993/12/14/nyregion/sadness-and-hope-for-family-of-victims-of-train-shooting.html'

In [78]:
#LIRR Shooting
urls=[url33,url34,url35,url36,url37,url38,url39,url40,url41,url42,url43,url44,
      url45,url46,url47,url48,url49,url50,url51,url52,url53,url54,url55,url56,
     url57,url58,url59,url60,url61]
Nyt_LIRR =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_LIRR= Nyt_LIRR.append([[a.title, a.text]], ignore_index=True)
Nyt_LIRR.columns=['Title','Article']
Nyt_LIRR['Incident Name'] = 'Long Island Rail Road(LIRR)'
Nyt_LIRR['Shooter Race']='African American'
Nyt_LIRR

,Title,Article,Incident Name,Shooter Race
0,METRO DIGEST,SCHOOL OFFERS SOCIAL-SERVICE MODEL\n\nIntermed...,Long Island Rail Road(LIRR),African American
1,Gunman Kills 5 on L.I.R.R. Train,A taciturn gunman opened fire without warning ...,Long Island Rail Road(LIRR),African American
2,Riders on Board Train Scramble to Survive,Carl A. Petersen usually claims a seat on the ...,Long Island Rail Road(LIRR),African American
3,Gunman in a Train Aisle Passes Out Death,"GARDEN CITY, L.I., Dec. 8— When the gunman emp...",Long Island Rail Road(LIRR),African American
4,33 Will Never Seem the Same Again,"GARDEN CITY, L.I., Dec. 8— Ester Confino sat q...",Long Island Rail Road(LIRR),African American
5,NEWS SUMMARY,International A3-15 SEEKING TO END MEXICAN DOU...,Long Island Rail Road(LIRR),African American
6,METRO DIGEST,DEATH ON THE L.I.R.R. NOTES FOUND ON SUSPECT S...,Long Island Rail Road(LIRR),African American
7,"Moved by Killings, Clinton Urges Action on Gun...","WASHINGTON, Dec. 8— President Clinton said tod...",Long Island Rail Road(LIRR),African American
8,16 Days in California and a Fateful Purchase,On a spring day nine months ago Colin Ferguson...,Long Island Rail Road(LIRR),African American
9,Adelphi Recalls a Student Driven by Rage and S...,"GARDEN CITY, L.I., Dec. 9— In the year he spen...",Long Island Rail Road(LIRR),African American
10,Mass Murder on the 5,"Consider some multiple murders, committed over...",Long Island Rail Road(LIRR),African American
11,Suspect's Quiet Roots in Jamaica Suburb,"KINGSTON, Jamaica, Dec. 9— Colin Ferguson, the...",Long Island Rail Road(LIRR),African American
12,Police Look for the Spark That Led to the Shoo...,"GARDEN CITY, L.I., Dec. 9— Two days after an a...",Long Island Rail Road(LIRR),African American
13,"Suddenly Fearful, Riders Mourn Loss of a Haven","HOBOKEN, N.J., Dec. 9— Wayne Shepard of West O...",Long Island Rail Road(LIRR),African American
14,Administration Floats Proposal For Licensing A...,"WASHINGTON, Dec. 9— Reacting both to polls tha...",Long Island Rail Road(LIRR),African American
15,A Yonkers Neighborhood Reels After Shootings,"YONKERS, Dec. 10— Gunfire and violent death ha...",Long Island Rail Road(LIRR),African American
16,Lawyer Seeks Sanity Inquiry In L.I. Killings,"GARDEN CITY, L.I., Dec. 10— The lawyer for the...",Long Island Rail Road(LIRR),African American
17,A Rampage Shatters Semblance of Safety,"MINEOLA, L.I., Dec. 10— Sharon Sprintz refuses...",Long Island Rail Road(LIRR),African American
18,Gathering To Mourn Lives Lost On Train,"MINEOLA, L.I., Dec. 10— Families and friends t...",Long Island Rail Road(LIRR),African American
19,A Long Slide From Privilege Ends in Slaughter ...,By the end of his long descent into fury and d...,Long Island Rail Road(LIRR),African American
20,Killings Leave Yonkers Now Talking About Violence,"YONKERS, Dec. 11— This tough old riverfront ci...",Long Island Rail Road(LIRR),African American
21,"As Gunfire Gets Closer, Fear Comes Home","FANS of evolution, people who find that silver...",Long Island Rail Road(LIRR),African American
22,A Sea Change On Crime,The one thing you might expect politicians to ...,Long Island Rail Road(LIRR),African American
23,Mineola Woman Is 6th to Die in Rail Shootings,"MINEOLA, L.I., Dec. 12— Amy Federici, a 27-yea...",Long Island Rail Road(LIRR),African American
24,"After Train Killings, Worry About Backlash",When Doris Perkins heard the news that a gunma...,Long Island Rail Road(LIRR),African American
25,Woman in '92 Subway Dispute With L.I.R.R. Susp...,There were just two unoccupied seats on the su...,Long Island Rail Road(LIRR),African American
26,Giuliani Repeats His Call for National Gun Lic...,Mayor-elect Rudolph W. Giuliani reiterated his...,Long Island Rail Road(LIRR),African American
27,Rise Is Found in Hate Crimes Committed by Blacks,"ATLANTA, Dec. 12— A group formed 13 years ago ...",Long Island Rail Road(LIRR),African American
28,Sadness and Hope for Family of Victims of Trai...,"MINEOLA, L.I., Dec. 13— For the family of Denn...",Long Island Rail Road(LIRR),African American

In [79]:
#Chuck E. Cheese
url62='http://www.nytimes.com/1993/12/19/us/funeral-for-victim-of-pizza-parlor-shooting-in-colorado.html'
Nyt_CEC =pd.DataFrame()
a=Article(url62, language='en')
a.download()
a.parse()
Nyt_CEC= Nyt_CEC.append([[a.title, a.text]], ignore_index=True)
Nyt_CEC.columns=['Title','Article']
Nyt_CEC['Incident Name'] = 'Chuck E. Cheese'
Nyt_CEC['Shooter Race']='African American'
Nyt_CEC

,Title,Article,Incident Name,Shooter Race
0,Funeral for Victim of Pizza Parlor Shooting in...,This item appeared in the paper as a stand alo...,Chuck E. Cheese,African American

In [80]:
#Chelsea, Michigan HS
url=['No Articles']
Nyt_CMHS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CMHS= Nyt_CMHS.append([[a.title, a.text]], ignore_index=True)
Nyt_CMHS.columns=['Title','Article']
Nyt_CMHS['title'] = 'NaN'
Nyt_CMHS['article'] = 'NaN'
Nyt_CMHS['Incident Name'] = 'Chelsea, Michigan High School'
Nyt_CMHS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_CMHS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 487: Tag nav invalid

In [81]:
Nyt_CMHS

  Title Article                  Incident Name
0   NaN     NaN  Chelsea, Michigan High School

In [82]:
#Union Residence, Kentucky
url=['No Articles']
Nyt_URKY =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_URKY= Nyt_URKY.append([[a.title, a.text]], ignore_index=True)
Nyt_URKY.columns=['Title','Article']
Nyt_URKY['title'] = 'NaN'
Nyt_URKY['article'] = 'NaN'
Nyt_URKY['Incident Name'] = 'Union Residence, Kentucky'
Nyt_URKY.drop(['Title','Article'], axis=1, inplace=True)
Nyt_URKY.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 487: Tag nav invalid

In [83]:
Nyt_URKY

  Title Article              Incident Name
0   NaN     NaN  Union Residence, Kentucky

In [84]:
#Fairchild AFB
url63='http://www.nytimes.com/1994/06/22/us/an-airman-s-revenge-5-minutes-of-terror.html'
Nyt_FAFB =pd.DataFrame()
a=Article(url63, language='en')
a.download()
a.parse()
Nyt_FAFB= Nyt_FAFB.append([[a.title, a.text]], ignore_index=True)
Nyt_FAFB.columns=['Title','Article']
Nyt_FAFB['Incident Name'] = 'Fairchild AFB Hospital'
Nyt_FAFB['Shooter Race']='White'
Nyt_FAFB

,Title,Article,Incident Name,Shooter Race
0,An Airman's Revenge,"SPOKANE, Wash., June 21— The gunman who killed...",Fairchild AFB Hospital,White

In [85]:
#Wickliffe MS
url=['No Articles']
Nyt_WMS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WMS= Nyt_WMS.append([[a.title, a.text]], ignore_index=True)
Nyt_WMS.columns=['Title','Article']
Nyt_WMS['title'] = 'NaN'
Nyt_WMS['article'] = 'NaN'
Nyt_WMS['Incident Name'] = 'Wickliffe Middle School'
Nyt_WMS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_WMS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_WMS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 518: Tag nav invalid

  Title Article            Incident Name
0   NaN     NaN  Wickliffe Middle School

In [86]:
#Downtown Chapel Hill - UNC
url=['No Articles']
Nyt_DCHUNC =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_DCHUNC= Nyt_DCHUNC.append([[a.title, a.text]], ignore_index=True)
Nyt_DCHUNC.columns=['Title','Article']
Nyt_DCHUNC['title'] = 'NaN'
Nyt_DCHUNC['article'] = 'NaN'
Nyt_DCHUNC['Incident Name'] = 'Downtown Chapel Hill UNC'
Nyt_DCHUNC.drop(['Title','Article'], axis=1, inplace=True)
Nyt_DCHUNC.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_DCHUNC

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 518: Tag nav invalid

  Title Article             Incident Name
0   NaN     NaN  Downtown Chapel Hill UNC

In [87]:
url64='http://www.nytimes.com/1995/03/22/nyregion/death-post-office-4-shot-dead-new-jersey-post-office-wide-manhunt-but-motive-not.html'
url65='http://www.nytimes.com/1995/03/22/nyregion/death-post-office-victims-workers-tiny-post-office-were-well-known-community.html'
url66='http://www.nytimes.com/1995/03/22/nyregion/death-post-office-4-shot-dead-new-jersey-post-office-fear-walks-suburb-bolts.html'
url67='http://www.nytimes.com/1995/03/22/nyregion/metro-digest-490795.html'
url68='http://www.nytimes.com/1995/03/23/nyregion/metro-digest-657895.html'
url69='http://www.nytimes.com/1995/03/23/nyregion/death-post-office-overview-former-montclair-postal-worker-charged-with-killings.html'
url70='http://www.nytimes.com/1995/03/23/nyregion/death-post-office-victims-for-4-slain-postal-workers-customers-mourning-with.html'
url71='http://www.nytimes.com/1995/03/23/nyregion/new-jersey-daily-briefing-arrest-in-4-post-office-killings.html'
url72='http://www.nytimes.com/1995/03/23/nyregion/death-post-office-suspect-workers-are-stunned-no-it-couldn-t-be-true.html'
url73='http://www.nytimes.com/1995/03/24/nyregion/stunned-town-seeks-reason-for-slayings.html'
url74='http://www.nytimes.com/1995/03/25/nyregion/post-office-survivor-s-help-is-recounted-as-heroic-act.html'
url75='http://www.nytimes.com/1995/03/26/weekinreview/march-19-25-4-killed-in-montclair-mass-murder-in-suburbia-a-new-york-area-update.html'
url76='http://www.nytimes.com/1995/03/26/nyregion/victim-of-post-office-attack-is-mourned.html'
url77='http://www.nytimes.com/1995/03/27/nyregion/honoring-slain-men-montclair-also-mourns-for-itself.html'
url78='http://www.nytimes.com/1995/03/28/nyregion/new-jersey-daily-briefing-delay-in-postal-killings-case.html'

In [88]:
#Montclair PO
urls=[url64,url65,url66, url67,url68,url69,url70,url71,url72,url73,url74,url75,url76,url77,url78]
Nyt_MPO =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MPO= Nyt_MPO.append([[a.title, a.text]], ignore_index=True)
Nyt_MPO.columns=['Title','Article']
Nyt_MPO['Incident Name'] = 'Montclair Post Office'
Nyt_MPO['Shooter Race']='White'
Nyt_MPO

,Title,Article,Incident Name,Shooter Race
0,4 Shot Dead in New Jersey Post Office,Four men were killed and a fifth critically wo...,Montclair Post Office,White
1,Workers in Tiny Post Office Were Well Known to...,Ernie Spruill and Scotty Walensky were the men...,Montclair Post Office,White
2,"Fear Walks In, and a Suburb Bolts Doors","MONTCLAIR, N.J., March 21— The people who live...",Montclair Post Office,White
3,METRO DIGEST,4 SLAIN IN NEW JERSEY POST OFFICE\n\nFour men ...,Montclair Post Office,White
4,METRO DIGEST,EX-POSTAL WORKER HELD IN KILLING OF 4 A 29-yea...,Montclair Post Office,White
5,Former Montclair Postal Worker Charged With Ki...,"MONTCLAIR, N.J., March 22— A 29-year-old town ...",Montclair Post Office,White
6,"For 4 Slain Postal Workers and Customers, Mour...","MONTCLAIR, N.J., March 22— For commuters, the ...",Montclair Post Office,White
7,Arrest in 4 Post Office Killings,MONTCLAIR— A 29-year-old town laborer was arre...,Montclair Post Office,White
8,"'No, It Couldn't Be True'","MONTCLAIR, N.J., March 22— William Harris was ...",Montclair Post Office,White
9,Stunned Town Seeks Reason For Slayings,"Correction Appended\n\nMONTCLAIR, March 23— No...",Montclair Post Office,White
10,Post Office Survivor's Help Is Recounted as He...,"NEWARK, March 24— Bullets had shattered his fa...",Montclair Post Office,White
11,Mass Murder in Suburbia,Correction Appended\n\nSuburban New York saw o...,Montclair Post Office,White
12,Victim of Post Office Attack Is Mourned,This item appeared in the paper as a stand alo...,Montclair Post Office,White
13,"Honoring Slain Men, Montclair Also Mourns for ...","MONTCLAIR, N.J., March 26— They came by the th...",Montclair Post Office,White
14,Delay in Postal-Killings Case,"NEWARK— A bail hearing for Christopher Green, ...",Montclair Post Office,White

In [89]:
#Walter Rossier office, Corpus Christie
url83='http://www.nytimes.com/1995/04/04/us/6-die-in-texas-office-shooting.html?mcubz=0'
Nyt_WRCC =pd.DataFrame()
a=Article(url83, language='en')
a.download()
a.parse()
Nyt_WRCC= Nyt_WRCC.append([[a.title, a.text]], ignore_index=True)
Nyt_WRCC.columns=['Title','Article']
Nyt_WRCC['Incident Name'] = 'Walter Rossier Office, Corpus Christie'
Nyt_WRCC['Shooter Race']='White'
Nyt_WRCC

,Title,Article,Incident Name,Shooter Race
0,6 Die in Texas Office Shooting,"CORPUS CHRISTI, Tex., April 3— A former employ...","Walter Rossier Office, Corpus Christie",White

In [90]:
#Richland HS
url79='http://www.nytimes.com/1995/11/16/us/student-held-after-2-die-in-shooting-at-school.html'
Nyt_RHS =pd.DataFrame()
a=Article(url79, language='en')
a.download()
a.parse()
Nyt_RHS= Nyt_RHS.append([[a.title, a.text]], ignore_index=True)
Nyt_RHS.columns=['Title','Article']
Nyt_RHS['Incident Name'] = 'Richland High School'
Nyt_RHS['Shooter Race']='White'
Nyt_RHS

,Title,Article,Incident Name,Shooter Race
0,Student Held After 2 Die in Shooting at School,"LYNNVILLE, Tenn., Nov. 15— A teen-ager who was...",Richland High School,White

In [91]:
#Frontier Junior High School
url80='http://www.nytimes.com/1996/02/04/us/boy-14-with-rifle-kills-3-in-school.html'
Nyt_FJHS =pd.DataFrame()
a=Article(url80, language='en')
a.download()
a.parse()
Nyt_FJHS= Nyt_FJHS.append([[a.title, a.text]], ignore_index=True)
Nyt_FJHS.columns=['Title','Article']
Nyt_FJHS['Incident Name'] = 'Frontier Junior High School'
Nyt_FJHS['Shooter Race']='White'
Nyt_FJHS

,Title,Article,Incident Name,Shooter Race
0,"Boy, 14, With Rifle Kills 3 in School",A 14-year-old boy with a high-powered rifle ki...,Frontier Junior High School,White

In [92]:
url81='http://www.nytimes.com/1996/02/11/us/florida-killer-said-victims-were-racists-police-say.html'
url82='http://www.nytimes.com/1996/02/10/us/5-beach-workers-in-florida-are-slain-by-ex-colleague.html'
#Fort Lauderdale 
urls=[url81,url82]
Nyt_FtL =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FtL= Nyt_FtL.append([[a.title, a.text]], ignore_index=True)
Nyt_FtL.columns=['Title','Article']
Nyt_FtL['Incident Name'] = 'Fort Lauderdale City Parks Office'
Nyt_FtL['Shooter Race']='African American'
Nyt_FtL

,Title,Article,Incident Name,Shooter Race
0,"Florida Killer Said Victims Were Racists, Poli...",A man who killed five former co-workers left a...,Fort Lauderdale City Parks Office,African American
1,5 Beach Workers in Florida Are Slain by Ex-Col...,"When he was discharged, Mr. McCree threatened ...",Fort Lauderdale City Parks Office,African American

In [93]:
#SDSU Shooting
url=['No Articles']
Nyt_SDSU =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_SDSU= Nyt_SDSU.append([[a.title, a.text]], ignore_index=True)
Nyt_SDSU.columns=['Title','Article']
Nyt_SDSU['title'] = 'NaN'
Nyt_SDSU['article'] = 'NaN'
Nyt_SDSU['Incident Name'] = 'San Diego State University'
Nyt_SDSU.drop(['Title','Article'], axis=1, inplace=True)
Nyt_SDSU.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_SDSU

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1078: Tag nav invalid

  Title Article               Incident Name
0   NaN     NaN  San Diego State University

In [94]:
#Bethel Regional HSShooting
url=['No Articles']
Nyt_BRHS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_BRHS= Nyt_BRHS.append([[a.title, a.text]], ignore_index=True)
Nyt_BRHS.columns=['Title','Article']
Nyt_BRHS['title'] = 'NaN'
Nyt_BRHS['article'] = 'NaN'
Nyt_BRHS['Incident Name'] = 'Bethel Regional High School'
Nyt_BRHS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_BRHS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_BRHS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1078: Tag nav invalid

  Title Article                Incident Name
0   NaN     NaN  Bethel Regional High School

In [95]:
#RE Phelon Shooting
url=['No Articles']
Nyt_REP =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_REP= Nyt_REP.append([[a.title, a.text]], ignore_index=True)
Nyt_REP.columns=['Title','Article']
Nyt_REP['title'] = 'NaN'
Nyt_REP['article'] = 'NaN'
Nyt_REP['Incident Name'] = 'R.E. Phelon Company'
Nyt_REP.drop(['Title','Article'], axis=1, inplace=True)
Nyt_REP.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_REP

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1078: Tag nav invalid

  Title Article        Incident Name
0   NaN     NaN  R.E. Phelon Company

In [96]:
#Pearl HS Shooting
url=['No Articles']
Nyt_PHS =pd.DataFrame()
for i in url: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_PHS= Nyt_PHS.append([[a.title, a.text]], ignore_index=True)
Nyt_PHS.columns=['Title','Article']
Nyt_PHS['title'] = 'NaN'
Nyt_PHS['article'] = 'NaN'
Nyt_PHS['Incident Name'] = 'Peal High School'
Nyt_PHS.drop(['Title','Article'], axis=1, inplace=True)
Nyt_PHS.rename(index=str, columns={'title':'Title','article':'Article'}, inplace=True)
Nyt_PHS

Traceback (most recent call last):
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/newspaper/parsers.py", line 54, in fromstring
    cls.doc = lxml.html.fromstring(html)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 706, in fromstring
    doc = document_fromstring(html, parser=parser, base_url=base_url, **kw)
  File "/Users/ThomasPLapinger/anaconda/lib/python2.7/site-packages/lxml/html/__init__.py", line 600, in document_fromstring
    value = etree.fromstring(html, parser, **kw)
  File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lxml.etree.c:68121)
  File "parser.pxi", line 1786, in lxml.etree._parseMemoryDocument (src/lxml/lxml.etree.c:102470)
  File "parser.pxi", line 1667, in lxml.etree._parseDoc (src/lxml/lxml.etree.c:101229)
  File "parser.pxi", line 1035, in lxml.etree._BaseParser._parseUnicodeDoc (src/lxml/lxml.etree.c:96139)
  File "parser.pxi", line 582, in lxml.etree._ParserContext._handleParseResultDoc (src/lxml/lxml.etree.c:91290)
  File "parser.pxi", line 683, in lxml.etree._handleParseResult (src/lxml/lxml.etree.c:92476)
  File "parser.pxi", line 631, in lxml.etree._raiseParseError (src/lxml/lxml.etree.c:91904)
XMLSyntaxError: line 1078: Tag nav invalid

  Title Article     Incident Name
0   NaN     NaN  Peal High School

In [97]:
#Heath HS
url83='http://www.nytimes.com/1997/12/04/us/theories-but-no-answer-in-school-shooting.html'
url84='http://www.nytimes.com/1997/12/03/us/forgiveness-after-3-die-in-shootings-in-kentucky.html'
url85='http://www.nytimes.com/1997/12/07/weekinreview/nov-30-dec-6-death-at-an-early-age.html'
urls=[url83,url84,url85]
Nyt_HHS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HHS= Nyt_HHS.append([[a.title, a.text]], ignore_index=True)
Nyt_HHS.columns=['Title','Article']
Nyt_HHS['Incident Name'] = 'Heath High School'
Nyt_HHS['Shooter Race']='White'
Nyt_HHS

,Title,Article,Incident Name,Shooter Race
0,Theories but No Answer in School Shooting,"In front of some 40 students, Michael, who has...",Heath High School,White
1,"Forgiveness, After 3 Die in Shootings in Kentucky",But the police were no closer to discovering a...,Heath High School,White
2,Nov. 30-Dec. 6; Death at an Early Age,Saying only that he acted ''like I was in a dr...,Heath High School,White

In [98]:
#Milwaukee PO
url86='http://www.nytimes.com/1997/12/20/us/postal-worker-in-milwaukee-shoots-3-and-kills-himself.html'
Nyt_MilPO =pd.DataFrame()
a=Article(url86, language='en')
a.download()
a.parse()
Nyt_MilPO= Nyt_MilPO.append([[a.title, a.text]], ignore_index=True)
Nyt_MilPO.columns=['Title','Article']
Nyt_MilPO['Incident Name'] = 'Milwaukee Post Office'
Nyt_MilPO['Shooter Race']='African American'
Nyt_MilPO

,Title,Article,Incident Name,Shooter Race
0,Postal Worker in Milwaukee Shoots 3 and Kills ...,Mr. Chaney said he had warned postal officials...,Milwaukee Post Office,African American

In [99]:
#Orange CalTrans
url87='http://www.nytimes.com/1997/12/20/us/dismissed-worker-kills-4-and-then-is-slain.html'
Nyt_OCT =pd.DataFrame()
a=Article(url87, language='en')
a.download()
a.parse()
Nyt_OCT= Nyt_OCT.append([[a.title, a.text]], ignore_index=True)
Nyt_OCT.columns=['Title','Article']
Nyt_OCT['Incident Name'] = 'Caltrans Maintenance Yard '
Nyt_OCT['Shooter Race']='Latin American'
Nyt_OCT

,Title,Article,Incident Name,Shooter Race
0,Dismissed Worker Kills 4 and Then Is Slain,A dismissed state highway employee armed with ...,Caltrans Maintenance Yard,Latin American

In [100]:
#Connecticut State Lottery
url87='http://www.nytimes.com/1998/03/11/nyregion/at-work-and-funeral-lottery-workers-struggle-with-their-grief.html'
url88='http://www.nytimes.com/1998/03/10/nyregion/city-stunned-to-lose-ex-mayor-in-lottery-attack.html'
url89='http://www.nytimes.com/1998/03/07/nyregion/rampage-connecticut-gunman-neighbors-who-recall-quiet-teen-ager-cannot-fathom.html'
url90='http://www.nytimes.com/1998/03/07/nyregion/rampage-connecticut-overview-connecticut-lottery-worker-kills-4-bosses-then.html'
urls=[url87,url88,url89,url90]
Nyt_CTSL =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_CTSL= Nyt_CTSL.append([[a.title, a.text]], ignore_index=True)
Nyt_CTSL.columns=['Title','Article']
Nyt_CTSL['Incident Name'] = 'Connecticut State Lottery'
Nyt_CTSL['Shooter Race']='White'
Nyt_CTSL

,Title,Article,Incident Name,Shooter Race
0,"At Work and Funeral, Lottery Workers Struggle ...",As he put flowers on the site outside the head...,Connecticut State Lottery,White
1,City Stunned to Lose Ex-Mayor in Lottery Attack,"''She was always smiling, with a twinkle in he...",Connecticut State Lottery,White
2,RAMPAGE IN CONNECTICUT: THE GUNMAN; Neighbors ...,"For many hours after the shooting, even Mr. Be...",Connecticut State Lottery,White
3,RAMPAGE IN CONNECTICUT: THE OVERVIEW; Connecti...,"During the last few months, there had been str...",Connecticut State Lottery,White

In [101]:
#WestSide Middle School
url91='http://www.nytimes.com/1998/03/27/us/bloodshed-schoolyard-overview-arkansas-jail-one-boy-cries-other-studies-bible.html'
url92='http://www.nytimes.com/1998/03/26/opinion/death-in-a-middle-school.html'
url93='http://www.nytimes.com/1998/03/26/us/bloodshed-schoolyard-overview-arkansas-law-may-bar-stiff-prosecution-boys.html'
url94='http://www.nytimes.com/1998/03/26/us/bloodshed-schoolyard-suspects-grieving-shattered-town-asks-who-are-these-boys.html'
url95='http://www.nytimes.com/1998/03/25/us/5-are-killed-at-school-boys-11-and-13-are-held.html'
url96='http://www.nytimes.com/1998/03/28/us/arkansas-city-begins-burying-its-young-dead.html'
url97='http://www.nytimes.com/1998/03/29/us/funerals-end-for-jonesboro-but-not-questions.html'
url98='http://www.nytimes.com/1998/03/29/us/from-wild-talk-and-friendship-to-five-deaths-in-a-schoolyard.html'
url99='http://www.nytimes.com/1998/03/29/weekinreview/the-nation-spin-cycle-round-and-round-in-the-search-for-meaning.html'
urls=[url91,url92,url93,url94,url95,url96,url97,url98,url99]
Nyt_WestMS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WestMS= Nyt_WestMS.append([[a.title, a.text]], ignore_index=True)
Nyt_WestMS.columns=['Title','Article']
Nyt_WestMS['Incident Name'] = 'Westside Middle School'
Nyt_WestMS['Shooter Race']='White'
Nyt_WestMS

,Title,Article,Incident Name,Shooter Race
0,BLOODSHED IN A SCHOOLYARD: THE OVERVIEW; In Ar...,"And at the Westside Middle School, where the g...",Westside Middle School,White
1,Death in a Middle School,The statistics about school violence offer no ...,Westside Middle School,White
2,BLOODSHED IN A SCHOOLYARD: THE OVERVIEW; Arkan...,The very thing that made the crime so shocking...,Westside Middle School,White
3,BLOODSHED IN A SCHOOLYARD: THE SUSPECTS; A Gri...,"''He said, 'Everyone that hates me, everyone t...",Westside Middle School,White
4,"5 Are Killed at School; Boys, 11 and 13, Are Held",Officers with the Sheriff's Department arreste...,Westside Middle School,White
5,Arkansas City Begins Burying Its Young Dead,"Like the four others who died, she had been sh...",Westside Middle School,White
6,"Funerals End for Jonesboro, but Not Questions","Today, as this city buried the last of its dea...",Westside Middle School,White
7,From Wild Talk and Friendship To Five Deaths i...,"From his family, Mitchell Johnson had stolen s...",Westside Middle School,White
8,The Nation: Spin Cycle; Round and Round in the...,"In some ways, it helps fill an intrinsic need ...",Westside Middle School,White

In [102]:
#Thurston High School
url164='http://www.nytimes.com/1998/05/22/us/shootings-in-a-school-the-tortured-path-of-a-troubled-youth.html'
url165='http://www.nytimes.com/1998/05/22/us/shootings-in-a-school-the-town-oasis-with-a-dark-side.html'
url166='http://www.nytimes.com/1998/05/22/us/shootings-school-suspect-15-year-old-seen-some-troubled-violent.html'
url167='http://www.nytimes.com/1998/05/22/us/shootings-school-overview-oregon-student-held-3-killings-one-dead-23-hurt-his.html'
url168='http://www.nytimes.com/1998/05/26/us/sorrowful-town-honors-teen-ager-killed-in-school-shooting.html'
url169='http://www.nytimes.com/1998/05/25/us/school-opens-doors-to-grief-on-holiday.html'
url170='http://www.nytimes.com/1998/05/24/us/shootings-schoolhouse-town-springfield-struggles-heal-itself-wake-shootings.html'
url171='http://www.nytimes.com/1998/05/23/us/shootings-in-a-schoolhouse-the-hero-wounded-teen-ager-is-called-a-hero.html'
url172='http://www.nytimes.com/1998/05/24/us/shootings-schoolhouse-suspect-lethal-fantasies-15-year-old-became-reality.html'
url173='http://www.nytimes.com/1998/05/23/us/shootings-schoolhouse-overview-oregon-freshman-goes-court-number-deaths-rises-4.html'
urls=[url164,url165,url166,url167,url168,url169,url170,url171,url172,url173]
Nyt_THS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_THS= Nyt_THS.append([[a.title, a.text]], ignore_index=True)
Nyt_THS.columns=['Title','Article']
Nyt_THS['Incident Name'] = 'Thurston High School'
Nyt_THS['Shooter Race']='White'
Nyt_THS

,Title,Article,Incident Name,Shooter Race
0,SHOOTINGS IN A SCHOOL; The Tortured Path Of a ...,The Kinkel family lived in a wooded neighborho...,Thurston High School,White
1,SHOOTINGS IN A SCHOOL: THE TOWN; Oasis With a ...,There is no more idyllic spot in May than Spri...,Thurston High School,White
2,SHOOTINGS IN A SCHOOL: THE SUSPECT; 15-Year-Ol...,Friends said Kip had been angry at his father ...,Thurston High School,White
3,SHOOTINGS IN A SCHOOL: THE OVERVIEW; Oregon St...,"The state superintendent of schools, Norma Pau...",Thurston High School,White
4,Sorrowful Town Honors Teen-Ager Killed in Scho...,The police say the shooting rampage by one of ...,Thurston High School,White
5,School Opens Doors To Grief on Holiday,The superintendent of Springfield schools said...,Thurston High School,White
6,SHOOTINGS IN A SCHOOLHOUSE: THE TOWN; Springfi...,Springfield tried to act like a small town on ...,Thurston High School,White
7,SHOOTINGS IN A SCHOOLHOUSE: THE HERO; Wounded ...,"At 6-foot-4 and 185 pounds, with close-cropped...",Thurston High School,White
8,SHOOTINGS IN A SCHOOLHOUSE: THE SUSPECT; Letha...,But the killing did not begin in the cafeteria...,Thurston High School,White
9,SHOOTINGS IN A SCHOOLHOUSE: THE OVERVIEW; Oreg...,"Eight students remained in the hospital, two l...",Thurston High School,White

In [103]:
#MA Abortion Clinic Shooting
url102='http://www.nytimes.com/1994/12/31/us/anti-abortion-killings-victims-desk-jobs-end-violent-death-for-2-clinics.html'
url103='http://www.nytimes.com/1994/12/31/nyregion/no-headline-257524.html'
url104='http://www.nytimes.com/1994/12/31/us/anti-abortion-killings-overview-gunman-kills-2-abortion-clinics-boston-suburb.html'
url105='http://www.nytimes.com/1995/01/01/us/anti-abortion-killings-fire-investigator-is-praised-in-apprehension-of-suspect.html'
url106='http://www.nytimes.com/1995/01/01/us/anti-abortion-killings-arrest-suspect-clinic-killings-eludes-hunt-but-caught-3d.html'
url107='http://www.nytimes.com/1995/01/01/us/anti-abortion-killings-the-movement-anti-abortion-groups-continue-radical-talk.html'
url108='http://www.nytimes.com/1995/01/02/us/authorities-seeking-motive-for-attacks-at-abortion-clinics.html'
url109='http://www.nytimes.com/1995/01/02/us/though-hunt-for-suspect-was-vast-chance-proved-crucial-for-capture.html'
url110='http://www.nytimes.com/1995/01/03/us/brookline-shows-fervor-in-keeping-clinics-open.html'
url111='http://www.nytimes.com/1995/01/04/us/suspect-in-3-clinic-assaults-is-arraigned-in-virginia.html'
url112='http://www.nytimes.com/1995/01/03/us/talks-held-on-prosecuting-suspect-in-clinic-shootings.html'
url113='http://www.nytimes.com/1995/01/04/us/mourning-the-victims-of-two-clinic-shootings.html'
url114='http://www.nytimes.com/1995/01/04/opinion/curbing-violence-at-abortion-clinics.html'
url115='http://www.nytimes.com/1995/01/04/nyregion/o-connor-takes-his-message-to-cyberspace.html'
url116='http://www.nytimes.com/1995/01/05/us/suspect-in-3-abortion-attacks-is-indicted.html'
urls=[url102,url103,url104,url105,url106,url107,url108,url109,url110,url111,url112,url113,url114,url115,url116]
Nyt_MAAC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_MAAC= Nyt_MAAC.append([[a.title, a.text]], ignore_index=True)
Nyt_MAAC.columns=['Title','Article']
Nyt_MAAC['Incident Name'] = 'Massachusetts Abortion Clinic'
Nyt_MAAC['Shooter Race']='White'
Nyt_MAAC

,Title,Article,Incident Name,Shooter Race
0,Desk Jobs End in Violent Death for 2 at Clinics,"BOSTON, Dec. 30— Shannon Lowney, the Planned P...",Massachusetts Abortion Clinic,White
1,No Headline,Opinion » Should Beach Privatization Be Allowe...,Massachusetts Abortion Clinic,White
2,Gunman Kills 2 at Abortion Clinics in Boston S...,"BROOKLINE, Mass., Dec. 30— A gunman dressed al...",Massachusetts Abortion Clinic,White
3,Fire Investigator Is Praised In Apprehension o...,"NORFOLK, Va. Dec. 31— The Norfolk police said ...",Massachusetts Abortion Clinic,White
4,Suspect in Clinic Killings Eludes Hunt But Is ...,"BROOKLINE, Mass., Dec. 31— The man suspected o...",Massachusetts Abortion Clinic,White
5,Anti-Abortion Groups Continue Radical Talk,"BOSTON, Dec. 31— A New Year's message on the N...",Massachusetts Abortion Clinic,White
6,Authorities Seeking Motive For Attacks At Abor...,"NORFOLK, Va., Jan. 1— Investigators said today...",Massachusetts Abortion Clinic,White
7,"Though Hunt for Suspect Was Vast, Chance Prove...","BOSTON, Jan. 1— In the frantic first minutes a...",Massachusetts Abortion Clinic,White
8,Brookline Shows Fervor In Keeping Clinics Open,"BROOKLINE, Mass., Jan. 2— The Brookline police...",Massachusetts Abortion Clinic,White
9,Suspect in 3 Clinic Assaults Is Arraigned in V...,"NORFOLK, Va., Jan. 3— Looking pale, drawn and ...",Massachusetts Abortion Clinic,White
10,Talks Held on Prosecuting Suspect in Clinic Sh...,"NORFOLK, Va., Jan. 2— State prosecutors from M...",Massachusetts Abortion Clinic,White
11,Mourning the Victims of Two Clinic Shootings,"BOSTON, Jan. 3— In a church still decorated fo...",Massachusetts Abortion Clinic,White
12,Curbing Violence at Abortion Clinics,"To hear some Washington officials discuss it, ...",Massachusetts Abortion Clinic,White
13,O'Connor Takes His Message to Cyberspace,Give 'em that on-line religion.\n\nIn a comput...,Massachusetts Abortion Clinic,White
14,Suspect in 3 Abortion Attacks Is Indicted,"BOSTON, Jan. 4— John C. Salvi 3d, the suspect ...",Massachusetts Abortion Clinic,White

In [104]:
#Wat Promkunaram Buddhist Temple
url100='http://www.nytimes.com/1991/08/13/us/phoenix-asking-if-bias-played-role-in-9-killings.html'
url101='http://www.nytimes.com/1991/08/12/us/under-desert-sun-mourners-pray-for-9-killed-at-temple.html'
urls=[url100,url101]
Nyt_WestProm =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WestProm= Nyt_WestProm.append([[a.title, a.text]], ignore_index=True)
Nyt_WestProm.columns=['Title','Article']
Nyt_WestProm['Incident Name'] = 'Wat Promkunaram Buddhist Temple'
Nyt_WestProm['Shooter Race']='Asian'
Nyt_WestProm

,Title,Article,Incident Name,Shooter Race
0,Phoenix Asking if Bias Played Role in 9 Killings,"PHOENIX, Aug. 12— Without a clear motive in th...",Wat Promkunaram Buddhist Temple,Asian
1,"Under Desert Sun, Mourners Pray for 9 Killed a...","PHOENIX, Aug. 11— As police investigators were...",Wat Promkunaram Buddhist Temple,Asian

In [105]:
#Radisson Bay Hotel
url117='http://www.nytimes.com/1999/12/31/us/gunman-kills-5-in-rampage-starting-at-a-florida-hotel.html'
Nyt_RBH =pd.DataFrame()
a=Article(url117, language='en')
a.download()
a.parse()
Nyt_RBH= Nyt_RBH.append([[a.title, a.text]], ignore_index=True)
Nyt_RBH.columns=['Title','Article']
Nyt_RBH['Incident Name'] = 'Radisson Bay Hotel'
Nyt_RBH['Shooter Race']='Latin American'
Nyt_RBH

,Title,Article,Incident Name,Shooter Race
0,Gunman Kills 5 in Rampage Starting at a Florid...,"After the shooting, the chief said, Mr. Leyva ...",Radisson Bay Hotel,Latin American

In [106]:
#Xerox HI
url118='http://www.nytimes.com/1999/11/04/us/few-clues-to-gunman-s-rage-in-hawaii-killings.html'
url119='http://www.nytimes.com/1999/11/03/us/seven-people-killed-in-a-honolulu-office.html'
urls=[url118,url119]
Nyt_XHI =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_XHI= Nyt_XHI.append([[a.title, a.text]], ignore_index=True)
Nyt_XHI.columns=['Title','Article']
Nyt_XHI['Incident Name'] = 'Xerox Hawaii'
Nyt_XHI['Shooter Race']='Asian'
Nyt_XHI

,Title,Article,Incident Name,Shooter Race
0,Few Clues to Gunman's Rage in Hawaii Killings,"But on Tuesday, as police officers surrounded ...",Xerox Hawaii,Asian
1,Seven People Killed In a Honolulu Office,A Xerox employee killed seven co-workers yeste...,Xerox Hawaii,Asian

In [107]:
#Offices of All-Tech
url120='http://www.nytimes.com/1999/07/30/us/shootings-atlanta-scene-office-building-scenes-chaos-blood-death.html'
Nyt_OAT =pd.DataFrame()
a=Article(url120, language='en')
a.download()
a.parse()
Nyt_OAT= Nyt_OAT.append([[a.title, a.text]], ignore_index=True)
Nyt_OAT.columns=['Title','Article']
Nyt_OAT['Incident Name'] = 'Offices of All-Tech'
Nyt_OAT['Shooter Race']='White'
Nyt_OAT

,Title,Article,Incident Name,Shooter Race
0,SHOOTINGS IN ATLANTA: THE SCENE; In an Office ...,Now people were rushing into the room. But the...,Offices of All-Tech,White

In [108]:
#Riverside City Hall
url120='http://www.nytimes.com/1998/10/07/us/6-at-city-hall-are-shot-ex-worker-is-accused.html'
Nyt_RCH =pd.DataFrame()
a=Article(url120, language='en')
a.download()
a.parse()
Nyt_RCH= Nyt_RCH.append([[a.title, a.text]], ignore_index=True)
Nyt_RCH.columns=['Title','Article']
Nyt_RCH['Incident Name'] = 'Riverside City Hall'
Nyt_RCH['Shooter Race']='African American'
Nyt_RCH

,Title,Article,Incident Name,Shooter Race
0,6 at City Hall Are Shot; Ex-Worker Is Accused,Sergeant Rice was hospitalized in fair conditi...,Riverside City Hall,African American

In [109]:
#Heritage HS
url121='http://www.nytimes.com/1999/05/21/us/guns-and-schools-an-affinity-for-weapons-but-no-signs-of-anger.html'
url122='https://learning.blogs.nytimes.com/1999/05/21/school-violence-is-it-in-your-backyard/?_r=0'
url123='http://www.nytimes.com/1999/05/21/us/guns-and-schools-the-overview-youth-with-2-guns-shoots-6-at-georgia-school.html'
url124='http://www.nytimes.com/1999/05/22/us/boy-took-parent-s-guns-for-attack-sheriff-says.html'
url125='http://www.nytimes.com/1999/05/23/opinion/l-another-shooting-another-search-for-lessons-829552.html'
url126='http://www.nytimes.com/1999/05/24/us/schools-look-hard-at-lockers-shirts-bags-and-manners.html'
urls=[url121,url122,url123,url124,url125,url126]
Nyt_HerHS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_HerHS= Nyt_HerHS.append([[a.title, a.text]], ignore_index=True)
Nyt_HerHS.columns=['Title','Article']
Nyt_HerHS['Incident Name'] = 'Heritage High School'
Nyt_HerHS['Shooter Race']='White'
Nyt_HerHS

,Title,Article,Incident Name,Shooter Race
0,"GUNS AND SCHOOLS; An Affinity for Weapons, But...","Larry Cohran, who played baseball with Thomas ...",Heritage High School,White
1,School Violence: Is It in Your Backyard?,Note: This lesson was originally published on ...,Heritage High School,White
2,GUNS AND SCHOOLS: THE OVERVIEW; Youth With 2 G...,Officials did not identify the boy in custody ...,Heritage High School,White
3,"Boy Took Parent's Guns For Attack, Sheriff Says",''This is where people move for the peace and ...,Heritage High School,White
4,"Another Shooting, Another Search for Lessons",To the Editor:\n\nThe Senate has finally decid...,Heritage High School,White
5,"Schools Look Hard At Lockers, Shirts, Bags and...",Mr. Sumner's attitude is far from unique. Sinc...,Heritage High School,White

In [110]:
#Columbine URLs
url160='http://www.nytimes.com/1999/04/21/us/terror-littleton-trench-coat-mafia-students-fringe-found-way-stand.html'
url127='http://www.nytimes.com/1999/04/21/opinion/gun-spree-at-columbine-high.html'
url128='http://www.nytimes.com/1999/04/21/us/terror-in-littleton-the-scene-in-a-violent-instant-routine-gives-way-to-panic.html'
url129='http://www.nytimes.com/1999/04/21/us/terror-littleton-television-critic-s-notebook-with-abundance-confusion-few-facts.html'
url130='https://learning.blogs.nytimes.com/1999/04/21/taking-aim-at-violence-in-schools/?_r=0'
url131='http://www.nytimes.com/1999/04/21/us/terror-littleton-overview-2-students-colorado-school-said-gun-down-many-23-kill.html'
url132='http://www.nytimes.com/1999/04/22/us/terror-in-littleton-the-dead-father-of-victim-says-son-had-dispute-with-suspect.html'
url133='http://www.nytimes.com/1999/04/22/us/terror-in-littleton-the-suspects-portrait-of-outcasts-seeking-to-stand-out.html'
url134='http://www.nytimes.com/1999/04/22/us/terror-in-littleton-the-reasons-violence-by-youths-looking-for-answers.html'
url135='http://www.nytimes.com/1999/04/22/us/terror-in-littleton-the-school-good-grades-good-teams-and-some-bad-feelings.html'
url136='http://www.nytimes.com/1999/04/22/us/terror-in-littleton-the-overview-15-bodies-are-removed-from-school-in-colorado.html'
url137='http://www.nytimes.com/1999/04/23/opinion/l-what-was-behind-colorado-shooting-361518.html'
url138='http://www.nytimes.com/1999/04/23/nyregion/news-summary-360880.html'
url139='http://www.nytimes.com/1999/04/23/us/terror-littleton-students-fears-though-far-colorado-one-high-school-feeling.html'
url140='http://www.nytimes.com/1999/04/23/us/terror-littleton-gun-debate-shootings-firm-up-gun-control-cause-least-for.html'
url141='http://www.nytimes.com/1999/04/23/opinion/l-what-was-behind-colorado-shooting-361470.html'
url142='http://www.nytimes.com/1999/04/23/us/terror-in-littleton-the-suspects-sketch-of-killers-contradictions-and-confusion.html'
url143='http://www.nytimes.com/1999/04/23/opinion/l-what-was-behind-colorado-shooting-361437.html'
url144='http://www.nytimes.com/1999/04/23/opinion/l-what-was-behind-colorado-shooting-361429.html'
url145='http://www.nytimes.com/1999/04/24/us/terror-in-littleton-excerpts-from-tape-of-2-emergency-calls-at-columbine-high.html'
url146='http://www.nytimes.com/1999/04/24/us/terror-in-littleton-the-overview-sounds-from-a-massacre-oh-god-kids-stay-down.html'
url147='http://www.nytimes.com/1999/04/24/us/terror-in-littleton-the-seniors-in-horrific-circumstance-sense-of-lost-pomp.html'
url148='http://www.nytimes.com/1999/04/24/us/religion-journal-to-the-clerics-of-littleton-words-of-experience.html'
url149='http://www.nytimes.com/1999/04/25/weekinreview/the-nation-after-the-madness-violence-even-before-the-internet.html'
url150='http://www.nytimes.com/1999/04/25/opinion/the-scourge-of-school-violence.html'
url151='http://www.nytimes.com/1999/04/25/opinion/l-access-to-guns-sets-us-apart-we-re-paying-attention-395234.html'
url152='http://www.nytimes.com/1999/04/25/us/terror-in-littleton-the-details-attack-at-school-planned-a-year-authorities-say.html'
url153='http://www.nytimes.com/1999/04/25/weekinreview/the-nation-the-trouble-with-looking-for-signs-of-trouble.html'
url154='http://www.nytimes.com/1999/04/25/us/terror-in-littleton-the-group-society-of-outcasts-began-with-a-99-black-coat.html'
url155='http://www.nytimes.com/1999/04/26/us/terror-littleton-gun-debate-renewed-battle-over-weapons-control-both-sides-use.html'
url156='http://www.nytimes.com/1999/04/26/us/terror-in-littleton-the-principal-sharing-anguish-guilt-and-hope.html'
url157='http://www.nytimes.com/1999/04/26/us/terror-in-littleton-the-gunmen-a-portrait-of-two-killers-at-war-with-themselves.html'
url158='http://www.nytimes.com/1999/04/26/us/terror-in-littleton-the-gunmen-a-portrait-of-two-killers-at-war-with-themselves.html'
url159='http://www.nytimes.com/1999/04/26/us/terror-in-littleton-the-service-70000-mourn-in-quiet-tears-song-and-rain.html'

In [111]:
urls=[url127,url128,url129,url130,url131,url132,url133,url134,url135,url136,url137,url138,url139,url140,
     url141,url142,url143,url144,url145,url146,url147,url148,url149,url150,url151,url152,url153,url154,url155,url156,
     url157,url158,url159,url160]
Nyt_Columbine =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_Columbine= Nyt_Columbine.append([[a.title, a.text]], ignore_index=True)
Nyt_Columbine.columns=['Title','Article']
Nyt_Columbine['Incident Name'] = 'Columbine High School'
Nyt_Columbine['Shooter Race']='White'
Nyt_Columbine

,Title,Article,Incident Name,Shooter Race
0,Gun Spree at Columbine High,Once again a routine school day was interrupte...,Columbine High School,White
1,TERROR IN LITTLETON: THE SCENE; In a Violent I...,Bullets zipped through the walls of a science ...,Columbine High School,White
2,TERROR IN LITTLETON: TELEVISION -- CRITIC'S NO...,Network news came on in time to report that th...,Columbine High School,White
3,Taking Aim at Violence in Schools,Note: This lesson was originally published on ...,Columbine High School,White
4,TERROR IN LITTLETON: THE OVERVIEW; 2 STUDENTS ...,"Kaleb Newberry, 16, said: ''I was in class and...",Columbine High School,White
5,TERROR IN LITTLETON: THE DEAD; Father of Victi...,"''The kids that got away explained it to us,''...",Columbine High School,White
6,TERROR IN LITTLETON: THE SUSPECTS; Portrait of...,"Late Tuesday night, after the mass shooting at...",Columbine High School,White
7,TERROR IN LITTLETON: THE REASONS; Violence by ...,''Our children are telling us things and we ar...,Columbine High School,White
8,"TERROR IN LITTLETON: THE SCHOOL; Good Grades, ...","''There are cliques all over the place,'' said...",Columbine High School,White
9,TERROR IN LITTLETON: THE OVERVIEW; 15 Bodies A...,Sheriff John P. Stone said a computer had been...,Columbine High School,White
10,What Was Behind Colorado Shooting?,"To the Editor:\n\nThe Littleton, Colo., shooti...",Columbine High School,White
11,The New York Times,Kosovo Update A10\n\nFuture of Smallpox Cells\...,Columbine High School,White
12,TERROR IN LITTLETON: STUDENTS' FEARS; Though F...,"Like Columbine and, indeed, most high schools,...",Columbine High School,White
13,TERROR IN LITTLETON: THE GUN DEBATE; Shootings...,With pro-gun legislation also in trouble in Te...,Columbine High School,White
14,What Was Behind Colorado Shooting?,To the Editor:\n\nWe could avoid being shocked...,Columbine High School,White
15,TERROR IN LITTLETON: THE SUSPECTS; Sketch of K...,"In Littleton, their only scrape with the law w...",Columbine High School,White
16,What Was Behind Colorado Shooting?,To the Editor:\n\nYour April 21 editorial on t...,Columbine High School,White
17,What Was Behind Colorado Shooting?,"To the Editor:\n\nSchool violence, like the Co...",Columbine High School,White
18,TERROR IN LITTLETON; Excerpts From Tape of 2 E...,"DISPATCHER -- O.K., we got help on the way, ma...",Columbine High School,White
19,TERROR IN LITTLETON: THE OVERVIEW; Sounds From...,Investigators also said today that they believ...,Columbine High School,White
20,TERROR IN LITTLETON: THE SENIORS; In Horrific ...,They had selected their class flower (tiger li...,Columbine High School,White
21,"Religion Journal; To the Clerics of Littleton,...","Reporters, parked outside the hospital, came o...",Columbine High School,White
22,"The Nation: After the Madness; Violence, Even ...",Correction Appended\n\nLONG before two teen-ag...,Columbine High School,White
23,The Scourge of School Violence,There is of course no certain antidote to the ...,Columbine High School,White
24,Access to Guns Sets U.S. Apart; We're Paying A...,To the Editor:\n\nI disagree with Bob Herbert'...,Columbine High School,White
25,TERROR IN LITTLETON: THE DETAILS; ATTACK AT SC...,''The bottom line of this thing is that they w...,Columbine High School,White
26,The Nation; The Trouble With Looking for Signs...,The profile could fit most teen-agers on a bad...,Columbine High School,White
27,TERROR IN LITTLETON: THE GROUP; Society of Out...,"It felt good. That spring, the girls bought a ...",Columbine High School,White
28,TERROR IN LITTLETON: THE GUN DEBATE; In Renewe...,"In the days after the shootings, many groups r...",Columbine High School,White
29,TERROR IN LITTLETON: THE PRINCIPAL; Sharing An...,Mr. DeAngelis was talking by telephone from hi...,Columbine High School,White
30,TERROR IN LITTLETON: THE GUNMEN; A Portrait Of...,Many students in the school have described the...,Columbine High School,White
31,TERROR IN LITTLETON: THE GUNMEN; A Portrait Of...,Many students in the school have described the...,Columbine High School,White
32,"TERROR IN LITTLETON: THE SERVICE; 70,000 Mourn...",On a Sunday when religious leaders across the ...,Columbine High School,White
33,TERROR IN LITTLETON: THE TRENCH COAT MAFIA; St...,A police officer answered the telephone late l...,Columbine High School,White

In [112]:
#Wedgwood Baptist Church
url174='http://www.nytimes.com/1999/09/18/us/death-in-a-church-the-killer-a-troubled-man-went-free-as-long-as-none-were-hurt.html'
url175='http://www.nytimes.com/1999/09/17/us/deaths-church-governor-bush-blames-wave-evil-for-shootings-across-nation.html'
url176='http://www.nytimes.com/1999/09/18/us/death-in-a-church-the-faith-after-7-are-killed-texans-look-for-meaning.html'
url177='http://www.nytimes.com/1999/09/18/us/death-church-politics-gore-assails-bush-texas-law-that-permits-guns-churches.html'
url178='http://www.nytimes.com/1999/09/17/us/deaths-in-a-church-the-victims-back-to-the-flagpole-this-time-to-mourn.html'
url179='http://www.nytimes.com/1999/09/18/us/death-in-a-church-the-overview-with-question-of-why-unanswered-fort-worth-mourns.html'
url180='http://www.nytimes.com/1999/09/22/us/bush-announces-initiative-on-gun-crime.html'
url181='http://www.nytimes.com/1999/09/16/us/gunman-kills-7-and-himself-at-baptist-church-in-fort-worth.html'
url182='http://www.nytimes.com/1999/09/17/us/deaths-in-a-church-the-overview-an-angry-mystery-man-who-brought-death.html'
url183='http://www.nytimes.com/1999/09/17/opinion/grasping-the-obvious-pathology.html'
url184='http://www.nytimes.com/1999/09/20/us/fort-worth-remembers-those-killed-at-church.html'
url185='http://www.nytimes.com/1999/09/19/us/mourners-focus-on-joy-of-texas-shooting-victims-lives.html'
url186='http://www.nytimes.com/1999/09/19/weekinreview/september-12-18-and-another-shooting-spree-raises-the-toll-in-the-us.html'
urls=[url174,url175,url176,url177,url178,url178,url179,url180,url181,url182, url183,url184,url185,url186]
Nyt_WBC =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_WBC= Nyt_WBC.append([[a.title, a.text]], ignore_index=True)
Nyt_WBC.columns=['Title','Article']
Nyt_WBC['Incident Name'] = 'Wedgewood Baptist Church'
Nyt_WBC['Shooter Race']='White'
Nyt_WBC

,Title,Article,Incident Name,Shooter Race
0,DEATH IN A CHURCH: THE KILLER; A Troubled Man ...,Captain Denney said his department did not tak...,Wedgewood Baptist Church,White
1,DEATHS IN A CHURCH: THE GOVERNOR; Bush Blames ...,''I don't know of a law -- a governmental law ...,Wedgewood Baptist Church,White
2,DEATH IN A CHURCH: THE FAITH; After 7 Are Kill...,"''It doesn't surprise me,'' said the plumber, ...",Wedgewood Baptist Church,White
3,DEATH IN A CHURCH: THE POLITICS; Gore Assails ...,Vice President Al Gore attacked Gov. George W....,Wedgewood Baptist Church,White
4,DEATHS IN A CHURCH: THE VICTIMS; Back to the F...,"A Christian rock band, The Forty Days, was per...",Wedgewood Baptist Church,White
5,DEATHS IN A CHURCH: THE VICTIMS; Back to the F...,"A Christian rock band, The Forty Days, was per...",Wedgewood Baptist Church,White
6,DEATH IN A CHURCH: THE OVERVIEW; With Question...,"In the letters, Mr. Ashbrook complained that a...",Wedgewood Baptist Church,White
7,Bush Announces Initiative on Gun Crime,Less than a week after the fatal shootings in ...,Wedgewood Baptist Church,White
8,"Gunman Kills 7, and Himself, At Baptist Church...","Rachel Millar, a young witness who was in the ...",Wedgewood Baptist Church,White
9,DEATHS IN A CHURCH: THE OVERVIEW; An Angry Mys...,"To a large degree, Mr. Ashbrook remains a puzz...",Wedgewood Baptist Church,White
10,Grasping the Obvious Pathology,The grim outline of the story is all too famil...,Wedgewood Baptist Church,White
11,Fort Worth Remembers Those Killed at Church,Mr. Gillette was at home off duty when he saw ...,Wedgewood Baptist Church,White
12,Mourners Focus on Joy of Texas Shooting Victim...,Kathy Jo Brown took the podium and spoke in a ...,Wedgewood Baptist Church,White
13,September 12-18; And Another Shooting Spree Ra...,"Larry Gene Ashbrook, a jobless loner prone to ...",Wedgewood Baptist Church,White

In [113]:
#Fort Gibson Middle School
url187='http://www.nytimes.com/1999/12/07/us/boy-shoots-5-schoolmates-in-oklahoma.html'
url188='http://www.nytimes.com/1999/12/12/weekinreview/december-5-11-shots-ring-out-again.html'
urls=[url187,url188]
Nyt_FGMS =pd.DataFrame()
for i in urls: 
    a=Article(i, language='en')
    a.download()
    a.parse()
    Nyt_FGMS= Nyt_FGMS.append([[a.title, a.text]], ignore_index=True)
Nyt_FGMS.columns=['Title','Article']
Nyt_FGMS['Incident Name'] = 'Fort Gibson Middle School'
Nyt_FGMS['Shooter Race']='White'
Nyt_FGMS

,Title,Article,Incident Name,Shooter Race
0,Boy Shoots 5 Schoolmates in Oklahoma,Four of the victims were taken by ambulance an...,Fort Gibson Middle School,White
1,"December 5-11; Shots Ring Out, Again",A 13-year-old boy described by friends as plea...,Fort Gibson Middle School,White

In [114]:
NYT_1990s=pd.concat([Nyt_GLO,Nyt_UofI,Nyt_RPO,Nyt_LC,Nyt_ROPO,Nyt_LHS,Nyt_PDHS,Nyt_SCS, Nyt_SRCB,Nyt_PMLLP, 
                     Nyt_DPO,Nyt_DPPO, Nyt_WSU,Nyt_LFLA, Nyt_CMS,Nyt_LIRR, Nyt_CEC,Nyt_CMHS,Nyt_URKY,Nyt_FAFB,
                     Nyt_WMS,Nyt_DCHUNC, Nyt_MPO,Nyt_WRCC, Nyt_RHS,Nyt_FJHS,Nyt_FtL, Nyt_SDSU,Nyt_BRHS, Nyt_REP,Nyt_PHS, 
                     Nyt_HHS,Nyt_MilPO,Nyt_OCT, Nyt_CTSL, Nyt_WestMS, Nyt_THS, Nyt_MAAC, Nyt_WestProm, Nyt_RBH, Nyt_XHI, Nyt_OAT, Nyt_RCH, Nyt_HerHS, Nyt_WBC, Nyt_FGMS])

In [115]:
for i in NYT_1990s:
    i.replace('N.R.A.','NRA')

In [116]:
NYT_1990s.to_csv('NYT 1990s Shootings-3.csv',index=False, encoding='utf-8')